<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.zcpt.dao.IAutoThrowBlacklistDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.zcpt.bean.Blacklist" >
    <id column="ID"                   property="id"              jdbcType="VARCHAR" />
    <result column="CORPORATE_NO"     property="corporateNo"     jdbcType="VARCHAR" />
    <result column="DRIVER"           property="driver"          jdbcType="VARCHAR" />
    <result column="VEHICLE"          property="vehicle"         jdbcType="VARCHAR" />
    <result column="OBJECT_TYPE"      property="objectType"      jdbcType="VARCHAR" />
    <result column="BLACKLIST_TYPE"   property="blacklistType"   jdbcType="VARCHAR" />
    <result column="BLACKLIST_REASON" property="blacklistReason" jdbcType="VARCHAR" />
    <result column="BLACKLIST_DATE"   property="blacklistDate"   jdbcType="DATE" />
    <result column="CREATE_BY"        property="createBy"        jdbcType="VARCHAR" />
    <result column="CREATE_TIME"      property="createTime"      jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY"        property="updateBy"        jdbcType="VARCHAR" />
    <result column="UPDATE_TIME"      property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="REMOVE"           property="remove"          jdbcType="CHAR" />
    <result column="OPERATE_PERSON"   property="operatePerson"   jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="AlarmNumMap" type="com.c503.sc.jxwl.zcpt.bean.BlacklistArg">
	<id     column="ID"                   property="id"                 jdbcType="VARCHAR" />
	<result column="ENTERPRISE_ALARM_NUM" property="enterpriseAlarmNum" jdbcType="NUMERIC" />
	<result column="VEHICLE_ALARM_NUM"    property="vehicleAlarmNum"    jdbcType="NUMERIC" />
	<result column="DRIVER_ALARM_NUM"     property="driverAlarmNum"     jdbcType="NUMERIC" />
	<result column="UPDATE_TIME"          property="updateTime"         jdbcType="TIMESTAMP"/>
  </resultMap>
	
	<sql id="Base_Column_List" >
    ID, CORPORATE_NO, DRIVER, VEHICLE, OBJECT_TYPE, BLACKLIST_TYPE, BLACKLIST_REASON, BLACKLIST_DATE, 
    CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMOVE, OPERATE_PERSON
    </sql>
	
    <sql id="Alarm_Num_List">
		ID, ENTERPRISE_ALARM_NUM, VEHICLE_ALARM_NUM, DRIVER_ALARM_NUM, UPDATE_TIME
    </sql>
    
  <!-- 查询车辆最新更新时间 -->
  <select id="findMaxDate4Vehicle" parameterType="String" resultType="java.util.Date">
	 select MAX(TB.UPDATE_TIME)
      from T_BLACKLIST_MANAGE TB
     where TB.vehicle = #{carrierName}
       AND TB.REMOVE = '1'
		
  </select>
    
  <!-- 查询车辆报警次数 -->
  <select id="findAlarmTimes4Vehicle" parameterType="map" resultType="int">
	     select COUNT(*)
		  from T_ALARM_MANAGE TA
		 WHERE TA.licence_plate_no = #{carrierName}
		   <if test=" maxDate != null" >
		   AND TA.CREATE_TIME > TO_DATE(#{maxDate}, 'yyyy-mm-dd hh24-mi-ss')
		   </if>
		   AND TA.REMOVE = '0'
  </select>
  
  
   <!-- 查询驾驶员最新更新时间 -->
  <select id="findMaxDate4Driver" parameterType="String" resultType="java.util.Date">
	 select MAX(TB.UPDATE_TIME)
	  from T_BLACKLIST_MANAGE TB
	 where TB.Identification_Card_No = #{driverId,jdbcType=VARCHAR}
	   AND TB.REMOVE = '1'
		
  </select>
  
  <!-- 查询驾驶员报警次数 -->
  <select id="findAlarmTimes4Driver" parameterType="map" resultType="int">
	SELECT COUNT(*)
	  FROM T_ALARM_MANAGE T
	 WHERE T.DRIVER_ID = #{driverId,jdbcType=VARCHAR}
	   <if test=" maxDate != null" >
		   AND T.CREATE_TIME > TO_DATE(#{maxDate}, 'yyyy-mm-dd hh24-mi-ss')
	  </if>
	   AND T.REMOVE = '0'
  </select>
  
    
  <!-- 查询报警参数设置 -->
  <select id="findAlarmOne" resultMap="AlarmNumMap" parameterType="java.util.Map">
	SELECT *
	  FROM T_ALARM_NUM
	 WHERE ROWNUM = 1
  </select>
    
    
  <!-- 查询当前车辆是否已在黑名单中 -->
  <select id="findHasInBlacklist" parameterType="String" resultType="String">
	SELECT DISTINCT T.VEHICLE
	  FROM T_BLACKLIST_MANAGE T
	 WHERE T.VEHICLE = #{carrierName,jdbcType=VARCHAR}
	   AND REMOVE = '0'
  </select>    
  
  <!-- 查询驾驶员是否已在黑名单中 -->
  <select id="findHasInBlack4Driver" parameterType="String" resultType="String">
	SELECT DISTINCT T.IDENTIFICATION_CARD_NO
	  FROM T_BLACKLIST_MANAGE T
	 WHERE T.IDENTIFICATION_CARD_NO = #{driverId,jdbcType=VARCHAR}
	   AND REMOVE = '0'
  </select>    
    
  
  <insert id="save" parameterType="com.c503.sc.jxwl.zcpt.bean.Blacklist" >
    INSERT INTO T_BLACKLIST_MANAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="corporateNo != null" >
        CORPORATE_NO,
      </if>
      <if test="driver != null" >
        DRIVER,
      </if>
      <if test="vehicle != null" >
        VEHICLE,
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="blacklistType != null" >
        BLACKLIST_TYPE,
      </if>
      <if test="blacklistReason != null" >
        BLACKLIST_REASON,
      </if>
      <if test="blacklistDate != null" >
        BLACKLIST_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remove != null" >
        REMOVE,
      </if>
      <if test="operatePerson != null" >
        OPERATE_PERSON,
      </if>
      <if test="driverId != null" >
        IDENTIFICATION_CARD_NO,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corporateNo != null" >
        #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="vehicle != null" >
        #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistType != null" >
        #{blacklistType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="blacklistDate != null" >
        #{blacklistDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=CHAR},
      </if>
      <if test="operatePerson != null" >
        #{operatePerson,jdbcType=VARCHAR},
      </if>
       <if test="driverId != null" >
        #{driverId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.c503.sc.jxwl.zcpt.bean.Blacklist" >
    update T_BLACKLIST_MANAGE
    <set >
      <if test="corporateNo != null" >
        CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        DRIVER = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="vehicle != null" >
        VEHICLE = #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistType != null" >
        BLACKLIST_TYPE = #{blacklistType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        BLACKLIST_REASON = #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="blacklistDate != null" >
        BLACKLIST_DATE = #{blacklistDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        REMOVE = #{remove,jdbcType=CHAR},
      </if>
      <if test="operatePerson != null" >
        OPERATE_PERSON = #{operatePerson,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 查询是否已经被拉黑：自动拉黑的重复判断 -->
  <select id="findExsist" resultMap="BaseResultMap">
  	SELECT * FROM T_BLACKLIST_MANAGE T WHERE T.VEHICLE = #{carrierName}
  	AND T.REMOVE = '0'
  </select>
  
</mapper>
