<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.zcpt.dao.IVehicleDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.common.bean.LocationEntity">
	<id column="CARRIER_NAME"           		property="carrierName"               jdbcType="VARCHAR" />
    <result column="POINT_SOURCE_TYPE"       	property="orgin"      jdbcType="VARCHAR" />
    <result column="ONLINE_STATUS"      		property="onlineStatus"     jdbcType="VARCHAR" />
    <result column="POINT_TIME"    				property="gpstime"   jdbcType="TIMESTAMP" />
    <result column="LONGITUDE"        			property="longitude"       jdbcType="DOUBLE" />
    <result column="LATITUDE"   				property="latitude"   jdbcType="DOUBLE" />
    <result column="ELEVATION"      			property="elevation"     jdbcType="DOUBLE" />
    <result column="SPEED" 						property="speed" jdbcType="DOUBLE" />
    <result column="DIRECTION"      			property="direction"     jdbcType="DOUBLE" />
    <result column="TEMPERATURE"       			property="temperature"      jdbcType="DOUBLE" />
    <result column="PRESSURE"     				property="pressure"    jdbcType="DOUBLE" />
    <result column="LIQUID_LEVEL"     			property="liquidLevel"    jdbcType="DOUBLE" />
    <result column="TYRE_PRESSURE"     			property="tirePressure"    jdbcType="DOUBLE" />
    <result column="ALARM_NUM"     				property="alarmNum"    jdbcType="DECIMAL" />
    <!-- 附加字段 -->
    <result column="ENTERPRISE_NAME"         	property="enterpriseName"      jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    TC.CARRIER_NAME, TC.POINT_SOURCE_TYPE, TC.ONLINE_STATUS, TC.POINT_TIME, LONGITUDE, TC.LATITUDE, 
    TC.ELEVATION, TC.SPEED, TC.DIRECTION, TC.TEMPERATURE, TC.PRESSURE, TC.LIQUID_LEVEL, TC.TYRE_PRESSURE,
    <!-- TC.ALARM_NUM, --> TE.ENTERPRISE_NAME
  </sql>
  
  <select id="findAll" resultMap="BaseResultMap">
	  SELECT <include refid="Base_Column_List" />
	  FROM T_CAR_LOCATION TC
	  LEFT JOIN T_DANGER_VEHICLE TD
	    ON TD.LICENCE_PLATE_NO = TC.CARRIER_NAME
	  LEFT JOIN T_ENTERPRISE TE
	    ON TE.CORPORATE_NO = TD.CORPORATE_NO
	    WHERE TD.REMOVE = '0'
	    AND TE.REMOVE = '0'
  
  </select>
  
</mapper>
