@charset "UTF-8";
/* 车辆详情样式*/
/* #carInforDeatil{
	padding-top:5px;
	max-height: 490px;
	overflow-y: auto;
	border: 1px solid rgb(221, 221, 221);

} */
#carInforDetail-Panel{
	width:490px;
	height:388px;
    background-color: #0F4576;
}
/***左侧导航栏相关样式***/
#carInforLeftPanel{
  width: 52px;
  height: 386px;
  background-color:#9ED32F;
  float: left;
}

.carInforLeftPanel-line{
	width:12px;
	height: 346px;
	float:left
}

.arrow-left{
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #F5F2F2;
	margin-top: 160px;
}

.carInforLeftPanel-icon{
	width:40px;
	height: 350px;
	margin-left: 12px
}

.carInforNav{
	background: url("../../map/business/img/carInfor/list-icon1.png") left center no-repeat;
	height: 60px;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.carInforLeftPanel-icon ul li{
	height:70px;
	width:40px;
}

.carInforLeftPanel-icon .list-group-item {
	border-top: 0px solid #9ED32F;
	background-color: transparent;
	border-bottom: 0px solid #9ED32F;
	position: relative;
	width: 100%;
	padding-left: 0;
}

.carInforLeftPanel-icon .list-group-item a{
	position: absolute;
	left: 3px;
 	top: 10px;
}
 
.list-group-item:first-child,.list-group-item:last-child {
  margin-bottom: 0;
   border-radius: 0px;
}

 .carInforLeftPanel-icon ul li:hover{
	cursor: pointer;
	background-color: #2D608B
}

.list-group-item a img{
	width: 30px;
	height: 30px;
}


#carInfor-content .panel-heading .panel-close{
	display: inline-block;
	position: absolute;
	background-color: rgba(47, 63, 83, 0);
	right: -1px;
	margin-top: -11px;
	cursor: pointer;
}
#carInfor-content .panel-heading .panel-close:after{
  content: '×';
  font-size: 25px;
  text-align: right;
  display: inherit;
  margin-top: -6px;
}

#carInfor-content{
	margin-left: 52px;
}

#carInfor-content > .active {
	min-height: 0px;
}

#carPhoto{
	width: 420px;
	height: 117px;
	margin-left: 6px;
}

#collapseVenn .active{
	background-color: #0F4576
}

.carinforfont{
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
	
}
#pipe-coen  div label,#stor-coen div label{
	margin-left: 30px;
}
#pipeLine,#storagetank{
	background-color:#2D3C57;
	height:290px;
}
#pipe-coen,#stor-coen{
	 background-color:#0F4576;
	 height:238px;
	 float: left;
	 width: 29%; 
}
#pipe-dyn,#stor-dyn{
	  height: 238px;
	  width: 69%;
	  margin-left: 452px;
	}
#carInfor-content .row{
	margin: 0px;
	height: 34px;
}
.row-first{
	width: 200px;
	float: left;
	margin-left: 10px;
}

.row-second{
	max-width: 250px;
	margin-left: 185px;
}
.row-single{
	width: 400px;
	margin-left: 9px;
}

.shortcuticon{
	width:60px;
	height:60px;
	cursor: pointer;
}

.shortcutiFirstLine{
	margin-top: 55px;
	margin-left: 28px;
}
.shortcutiSecondLine{
	margin-top: 165px;
	margin-left: 28px;	
}

.eachIcon{
	float: left;
	margin-left: 30px;
}

.footer-panel{
	z-index: 1000;
	position: fixed;
	/* top: -183px; */
	background-color: #2D3C57;
 	 width: 70%;
  	min-width: 1487px;
	height: 267px;
	/* margin-top: -280px; */
	/* margin-left: 271px; */
	bottom: 28px;
	left: 271px;

}
.narrow-down{
	content: "∨";
	float: right;
	padding-right:10px;
}

#footer-tabcontent{

}

#footer-tabcontent > .active {
	min-height: 0px;
}

#footer-subpanel .tab-content > .active {
	min-height: 0px;
}

#footer-tabs li{
	width: 180px;
}

#footer-tabs li a{
	border: 1px solid #67A8B1;
}
#footer-tabs li:nth-child(3){
	  width: 180px;
}

.footer-subpanel{
	width: 371px;
	height: 190px;
	float: left;
}

.tabMinWidth{
	width: 1620px;
	height: 250px;
}
#footer-subpanel .tab-content{
	width: 371px;
	height: 133px;
	background-color: #0F4576
}

.footer-panel .ui-widget-content a{
	color: rgb(144, 187, 45);
}

#realInfor-content {
	margin-left: 380px;
}


.realInfor-content .realInfor{
	background-color: rgb(15, 69, 118);
	width: 210px;
	height: 196px;
	float: left;
  	margin-left: 10px;
}
.carDispatchFlag{
  margin-left: -20px;
}
/* .realInfor-content .realInforFont{
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-style: normal;
	text-align: center;
}
 */
.realInfor .fontStyle{
	font-family: '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-style: normal;
	text-align: center;
}
.realInfor .fontStyle:nth-child(1){
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 5px;
}

.realInfor .fontStyle:nth-child(2){
	font-size: 80px;
	color: #99CC00;
	width: 211px;
	height: 105px;
}

.realInfor .fontStyle:nth-child(3){
	font-size: 16px;
	color: #FFFFFF;
}

.realInfor .fontStyle:nth-child(4){
	font-size: 18px;
	color: #FFFFFF;
}

.realInfor-content .realInforFont .header{
	font-size: 18px;
	color: #FFFFFF;
}

#cargoMonitor .row-first{
	width: 165px;
	float: left;
	position: absolute;
	left: 5px;
}

#cargoMonitor .row-second {
	width: 190px;
	margin-left: 185px;
}

.tab-tablecontent{
	background-color: rgb(45, 60, 87);
}

#alarmLog .ui-jqgrid-labels{
	background-color: rgb(15, 69, 118);	
}
#alarmLog .ui-jqgrid .ui-jqgrid-bdiv {
  overflow-y: overlay;
}

/* 顶部样式 */
#mapSearch >.btn-default{
	width: 50px;
	height: 34px;
	background-color: #9ED32F;
}

#mapSearch >img{
	width: 26px;
	height: 26px;
	margin-top: -2px;
	margin-left: -1px;
}


.right-content .open-right .container-fluid{
	height: 860px;
}

#historyVideo-panel{
	background-color: rgb(45, 60, 87);
}

.tab-content{
	height: 224px;
    width: 27% !important;
   
}


/* .one{
	margin-left: 380px;
}
 */
/* .realInfor{
	width: 240px;
	height: 190px;
	float: left;
	margin-left: 10px;
	background-color: #0F4576;
} */
/* #VennLeftPanel .list-group .collapsed .ifUnfold:before {
  content: "＞";
  float: right;
  padding-right:10px;
}

#VennLeftPanel .list-group .ifUnfold:before {
  content: "∨";
  float: right;
  padding-right:10px;
} */

/* #carInforLeftPanel .list-group > .list-group-item {
	padding:0;
}


#carInforLeftPanel .list-group .collapsed .ifUnfold:before {
  content: "＞";
  float: right;
  padding-right:10px;
}

#carInforLeftPanel .list-group .ifUnfold:before {
  content: "∨";
  float: right;
  padding-right:10px;
}

#carInforLeftPanel .list-group > .list-group-item a {
	font-family: "微软雅黑 Bold","微软雅黑";
	font-weight: 700;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #777;
	text-decoration: none;
	background-color: #e4e4e4;
}
 #carInforLeftPanel .list-group > .list-group-item a:hover{
	cursor: pointer;
	background-color: #fff;
	color:#177EE6;
}

一级菜单激活状态
.list-group .list-group-item > a {
	display: block;
	color: #777;
	text-decoration: none;
}

#carInforLeftPanel .list-group .list-group-item.active{
	background-color:rgb(168, 197, 221);
	border-color: rgb(168, 197, 221);
}
 #carInforLeftPanel .list-group .list-group-item.active >a{
	background-color: #A8C5DD;
	color:#177EE6;
}

.list-subgroup{
	margin:0;
	padding:0;
} */

