<div id="leftMenu" class="am-offcanvas">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content">
            <img class="login-img" src="../images/appImages/logo.ico" alt="logo" title="loginlogo"/>
            <div class="login-title">
                <div class="login-top-title">嘉兴智慧物流系统</div>
                <div class="login-sub-title">Jiaxing Intelligent Energy System</div>
            </div>
            <ul class="am-menu-nav am-avg-sm-1" id="leftMenuUl">
                <li class="">
                    <a href="/JXWL/appview/enterpriseMessage.html"><span class="monitor-img"></span>物流企业列表</a>
                </li>
                <li class="">
                    <a href="/JXWL/appview/carMessage.html"><span class="assess-img"></span>车辆列表</a>
                </li>
                <li class="">
                    <a href="/JXWL/appview/ordersMessage.html"><span class="trade-img"></span>订单列表</a>
                </li>
                <li class="">
                    <a href="/JXWL/appview/waybillMessage.html"><span class="check-img"></span>运单列表</a>
                </li>
            </ul>
            <div class="copyright">
                <span>copyright © 航天恒星 CASC 2016</span>
            </div>
        </div>
    </div>
</div>