<ul class="list-group">
    <li class="list-group-item navigation-text">导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;航<span class="open-handler"></span></li>
    <li class="list-group-item"><a href="/JXWL/view/index.html" class="">车辆监控</a></li>
    <!-- 
    <li class="list-group-item collapsed" data-toggle="collapse" data-target="#resourceCheck" aria-expanded="false">
        <a class="">资源监测</a>
    </li>
    <li class="collapse" id="resourceCheck" aria-expanded="false">
        <ul class="list-subgroup">
            <li class="list-group-secondItem"><a href="#" class="">数据管理</a></li>
            <li class="list-group-secondItem"><a href="#" class="">能耗分析</a></li>
            <li class="list-group-secondItem"><a href="#" class="">能耗预警</a></li>
            <li class="list-group-secondItem"><a href="#" class="">设备管理</a></li>
        </ul>
    </li> 
    -->
    <li class="list-group-item collapsed" data-toggle="collapse" data-target="#businessManager">
        <a class="">监控管理</a>
    </li>
    <li class="collapse" id="businessManager">
        <ul class="list-subgroup">
            <li class="list-group-secondItem"><a href="/JXWL/view/carMonitor/inforManage.html" class="">信息管理</a></li>
            <li class="list-group-secondItem"><a href="/JXWL/view/carMonitor/alarmManage.html" class="">报警管理</a></li>
            <li class="list-group-secondItem"><a href="/JXWL/view/carMonitor/blacklistManage.html" class="">黑名单管理</a></li>
            <li class="list-group-secondItem"><a href="/JXWL/view/carMonitor/statisticalAnalysis.html" class="">统计分析</a></li>
        </ul>
    </li>
    <li class="list-group-item collapsed" data-toggle="collapse" data-target="#infoService">
        <a class="">物流交易</a>
    </li>
    <li class="collapse" id="infoService">
        <ul class="list-subgroup">
            <li class="list-group-secondItem"><a href="#" class="">形象展示</a></li>
            <li class="list-group-secondItem"><a href="#" class="">交易大厅</a></li>
            <li class="list-group-secondItem"><a href="#" class="">评价管理</a></li>
            <li class="list-group-secondItem"><a href="#" class="">资质备案管理</a></li>
        </ul>
    </li>

    <li class="list-group-item collapsed" data-toggle="collapse" data-target="#systemManager">
        <a class="">管道/储罐管理</a>
    </li>
    <li class="list-group-item collapsed" data-toggle="collapse" data-target="#systemManager">
        <a class="">系统管理</a>
    </li>
   <!-- <li class="collapse" id="systemManager">
        <ul class="list-subgroup">
            <li class="list-group-secondItem"><a href="" class="">模板上传</a></li>
            <li class="list-group-secondItem"><a href="/JXNY/view/system/thirdOrganization.html" class="">第三方机构</a></li>
        </ul>
    </li>-->

</ul>