     <div class="panel-heading">
        <span class="panel-title">修改密码</span>
    </div>
    <form id="updatePwd-form">
        <div class="panel-body">
            <div class="panel-body-content">
            	 <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"> <label class="must">旧密码</label></div>
                        <div class="col-xs-9">
                        <input class="retrievepsdTxt form-control pull-left" type="password" id="psdPassword" name="oldPassword" 
                        	placeholder="请输入8-16位数字、大小写字母、特殊字符(!@#$^_)" error-msg="密码由8-16位数字、大小写字母组成" maxlength="16" required="">
                       	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"> <label class="must">新密码</label></div>
                        <div class="col-xs-9">
                        	<input class="retrievepsdTxt form-control pull-left" type="password" id="psdNewpassword" name="passwordOne" 
                        		pattern="^(?![0-9]+$)(?![!@#$^_]+$)(?![a-zA-Z]+$)[0-9a-zA-Z!@#$^_]{8,16}$"
                        		placeholder="请输入8-16位数字、大小写字母、特殊字符(!@#$^_)" error-msg="密码由8-16位数字、大小写字母组成" maxlength="16" required="">
                       	</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-3"> <label class="must">确认密码</label></div>
                        <div class="col-xs-9">
                        	<input class="retrievepsdTxt form-control pull-left" type="password" id="psdSurePassword" name="passwordTwo"
                        		pattern="^(?![0-9]+$)(?![!@#$^_]+$)(?![a-zA-Z]+$)[0-9a-zA-Z!@#$^_]{8,16}$"
                        		placeholder="请输入8-16位数字、大小写字母、特殊字符(!@#$^_)" error-msg="密码由8-16位数字、大小写字母组成" maxlength="16" required="">
                       	</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-cyan" >确定</button>
            <button type="reset" class="btn btn-border cancel">取消</button>
        </div>
    </form>
