@charset "UTF-8";

#bayonetRecoder-panel .fourSpan {
	margin-left: 50px;
}
#bayonetRecoder-panel .threeSpan {
	margin-left: -54px;
}
	#bayonetRecoder-panel .twoSpan {
	margin-left: -180px;
}
.oneSpan{
	margin-left: -34px;
}