@charset "UTF-8";

#bayonetVerify > div > div:nth-child(2) >form >div:nth-child(1) {
		margin-left:27%;
		margin-top:10%;
}
.line-searchBox{
  height: 100px;
  background-color:#374761;
  }
  
.line-searchBox > div{
  	padding-top: 30px;
  	padding-left:0;
  	padding-right:0;
  }
.item-searchBox >label{
	  font-size: 18px;
	  opacity: 0.8
} 
.item-searchBox >input{
	  width: 676px !important;
	  height:35px;
	  margin-left: 10px;
}

.item-searchBox >button{
	   margin-left: 10px;
  width: 100px;
}
#bayverify .threeSpan {
	margin-left: 81px;
}
