/**
 * @description:大屏展示页面样式
 * @author: xiaoqx
 * @time: 2016-9-2
 */

/* 全屏页面切换按钮 */
.button_top a {
	display: inline-block;
	/* width:60px; */
	width: 50px;
	height: 30px;
	/* background-color:#06193A; */
	border: 1px solid #67A8B1;
	text-align: center;
	padding-top: 2px;
	font-weight: bold;
}

/*全屏内容区*/
.main-right .open-right {
	margin-left: 20px;
	margin-right: 20px;
	transition: all 0.5s;
}

.container_fullScreen {
	width: 100%;
	height: 100%;
	border: 1px solid #67A8B1;
	margin-top: 10px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.fullScreen-left {
	border-right: 1px solid #67A8B1;
	padding-left: 0px;
	padding-right: 0px;
	height: 720px;
}

.fullScreen-right {
	border: 1px solid #67A8B1;
	padding-left: 0px;
	padding-right: 0px;
	height: 720px;
}

.fullScreen-left-title {
	background-color: #0F4576;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.fullScreen-right-title {
	background-color: #0F4576;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	font-weight: bold;
}

.fullScreen-center-title {
	background-color: #0F4576;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

/* 数据样式 */
.tradeTrendsRow {
	border-bottom: 1px solid #67A8B1;
}

.row-item {
	margin: 10px;
	font-size: 14px;
}

.goodsSourceRow {
	border-bottom: 1px solid #67A8B1;
	margin-top: 2px;
}

#goodsSourceData-title {
	background-color: #0F4576;
	padding: 0px;
}

.gs-rowItem {
	padding: 15px; /* 不要设置margin属性，否则会导致最后一项溢出到下一行！ */
	font-size: 14px;
	word-break: break-all;
}

.gs-rowItem-four {
	padding: 15px; /* 不要设置margin属性，否则会导致最后一项溢出到下一行！ */
	font-size: 16px;
	word-break: break-all;
}

.tradeTrends-enterpriseName {
	color: #fff;
	display: inline-block;
	width: 105px;
	white-space: pre;
	word-wrap: break-word;
	overflow: visible;
	white-space: -moz-pre-wrap;
}

.tradeTrends-null {
	color: #fff;
	display: inline-block;
	width: 45px;
}
/* .fullScreen-right-container + marquee {
 	 height: 596px;
 }
 .fullScreen-left-title + marquee {
 	height: 678px;
 } */
.buttonActive {
	background: blanchedalmond;
}

#tradeTrendsDataContainer {
	overflow: hidden;
	height: 678px;
}

#goodsSourceDataContainer {
	overflow: hidden;
	height: 622px;
}

#tradeTrendsData2 {
	margin-top: 100px;
}

#goodsSourceData2 {
	margin-top: 59px;
}

#vehicleSourceDataContainer {
	overflow: hidden;
	height: 622px;
}

#vehicleSourceData2 {
	margin-top: 100px;
}