/**
 * @description:澶у睆灞曠ず椤甸潰鏍峰紡
 * @author: xiaoqx
 * @time: 2016-9-2
 */
/*澶撮儴銆佸簳閮ㄨ竟璺�  */
.top-bottom-margin {
	margin: 10px 0;
	padding: 15px;
}

/* 鍥哄畾楂樺害 */
.hegiht-com {
	height: 360px;
	overflow: hidden;
}

/**绗簩鍧楀尯鍩�*/
.block2-margin-top {
	margin-top: 20px;
}

/*鑳屾櫙鏍峰紡  */
.back_style {
	background-color: #092A51;
}

/*鏁版嵁琛屾樉绀�*/
.data_row {
	padding: 10px 10px 15px 10px;
	overflow: hidden;
}

.data_row_padding {
	padding: 8px 10px 10px 40px;
}

#importantNewData {
	height: 320px;
	overflow: hidden;
}

#rulesData,#announcementData {
	height: 340px;
	overflow: hidden;
}

.ellispsis {
	overflow: hidden;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
}

* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: outside none none;
}

.slider,.slider-panel img,.slider-extra {
	width: 590px;
	height: 352px;
}

.slider {
	text-align: center;
	margin: 10px auto;
	position: relative;
}

.slider-panel,.slider-nav,.slider-pre,.slider-next {
	position: absolute;
	z-index: 8;
}

.slider-panel {
	position: absolute;
}

.slider-panel img {
	border: none;
}

.slider-extra {
	position: relative;
}

.slider-nav { /* margin-left: -15px; */
	position: absolute;
	left: 41%;
	bottom: 4px;
}

.slider-nav li {
	background: #3e3e3e;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	margin: 0 2px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	width: 18px;
}

.slider-nav .slider-item-selected {
	background: blue;
}

.slider-page a {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.2);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   #33000000, endColcorstr =       #33000000 );
	color: #fff;
	text-align: center;
	display: block;
	font-family: "simsun";
	font-size: 22px;
	font-weight: bold;
	width: 28px;
	height: 62px;
	line-height: 62px;
	margin-top: -31px;
	position: absolute;
	top: 50%;
}

.slider-page a:HOVER {
	background: rgba(0, 0, 0, 0.4);
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   #66000000, endColcorstr =       #66000000 );
}

.slider-next {
	left: 100%;
	margin-left: -28px;
}


.title-Style{
  margin-top: -20px;
  margin-left: 22px;
}