@charset "UTF-8";
.subtitle{
}

.subtitleIco{
	background-color: rgb(157, 199, 55);
	width: 10px;
	height: 32px;
	float: left;
}

.subSpan{
	line-height: 30px;
	margin-left: 10px;
}

.subClear{
	clear:both
}
#wayBill-panel .fourSpan{
	margin-left: 90px;
}

#wayBillcheckno{
	line-height: 34px
}

#goodsTablePlace label{
	width:50%; 
}


#wayBill-form .fourLabel{
	width: 80px;
}

#wayBill-form .threeLongInput{
	width: 368px;
}

#wayBill-form .fourMargF{
	  margin-left: -40px;
}

#wayBill-form .fourMargF input{
	  width: 140px;
}
#wayBill-form .fourMarg input{
	  width: 140px;
}

#wayBill-form .fourMargS{
	margin-left: 25px;
}

#wayBill-form .fourMargS input{
	  width: 140px;
}


#wayBill-form .twoSpan .col-xs-9 {
  margin-left: -89px;
}
#wayBill-form .twoSpan .col-xs-9 input{
	  width: 585px;
}


#wayBill-form .twoSpan .col-xs-3{
	margin-left: 89px;
}

/**模板样式*/
#wayBillTemp-panel .fourSpan{
	margin-left: 90px;
}

#wayBillTempcheckno{
	line-height: 34px
}

#goodsTablePlace label{
	width:50%; 
}


#wayBillTemp-form .fourLabel{
	width: 80px;
}

#wayBillTemp-form .threeLongInput{
	width: 368px;
}

#wayBillTemp-form .fourMargF{
	  margin-left: -40px;
}

#wayBillTemp-form .fourMargF input{
	  width: 140px;
}
#wayBillTemp-form .fourMarg input{
	  width: 140px;
}

#wayBillTemp-form .fourMargS{
	margin-left: 25px;
}

#wayBillTemp-form .fourMargS input{
	  width: 140px;
}


#wayBillTemp-form .twoSpan .col-xs-9 {
  margin-left: -89px;
}
#wayBillTemp-form .twoSpan .col-xs-9 input{
	  width: 585px;
}


#wayBillTemp-form .twoSpan .col-xs-3{
	margin-left: 89px;
}

#wayBillTempSaveWayBill{
	line-height: 34px;
}

.firstlabel{
    margin-left: 42px;
}

.firstinput{
	margin-left: 43px;
	width: 126px;
}

.secondlabel{
    margin-left: 15px;
}

.secondinput{
    margin-left: 18px;
    width: 126px;
}

.firstspan{
	margin-left:46px;
}

.secondspan{
	margin-left: 18px;
}
/* 物流企业名称禁用样式 */
.form-control.form-control-disabled[disabled] {
	  background-color:#63666D;
}

.selectCss{
	background-color: rgba(127, 132, 147, 0.46);
}
