<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IAccessPlatformDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.AccessPlatformEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
    <result column="MAIN_DATA" property="platformData" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findAccessPlatformByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select p.ID, P.PLATFORM_NAME, p.MAIN_DATA
    from T_PLATFORM p
    where 
    1=1 
    <if test="platformName != null and platformName != '' " >
        and P.PLATFORM_NAME=#{platformName, jdbcType=VARCHAR}
    </if>
  </select>
</mapper>
