<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IAccountVerifyDao" >
	<resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.AccountVerifyEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <!-- 注册表id -->
	<result column="REGISTER_ID" property="registerId" jdbcType="VARCHAR" />
	<!-- 从业人员表id -->
	<result column="OCCUPATION_ID" property="occupationId" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="REGISTER_TIME"  property="registerTime"  jdbcType="TIMESTAMP" />
    <result column="ENTERPRISE_ID" property="corporateNo" jdbcType="VARCHAR" />
    <result column="IDENTIFICATION_CARD_NO" property="identificationCardNo" jdbcType="VARCHAR" />
    <result column="REJECT_REASON" property="rejectReason" jdbcType="VARCHAR" />
    <result column="VERIFY_STATUS" property="verifyStatus" jdbcType="VARCHAR" />
    <result column="PERSON_SEX" property="personSex" jdbcType="VARCHAR" />
    <result column="NATION" property="nation" jdbcType="VARCHAR" />
    <result column="EDUCATION_DEGREE" property="educationDegree" jdbcType="VARCHAR" />
    <result column="OCCUPATION_NO" property="occupationNo" jdbcType="VARCHAR" />
    <result column="HEALTH_CONDITION" property="healthCondition" jdbcType="VARCHAR" />
    <result column="CRIME_RECORD" property="crimeRecord" jdbcType="VARCHAR" />
    <result column="TRAFFIC_ACCIDENT" property="trafficAccident" jdbcType="VARCHAR" />
    <result column="DRIVE_VEHICLE_TYPE" property="driveVehicleType" jdbcType="VARCHAR" />
    <result column="DRIVE_CARD_NO" property="driveCardNo" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="ORGID" property="orgId" jdbcType="VARCHAR" />
    </resultMap>
    
   
     <sql id="Occupation_Person_List" >
    ID AS OCCUPATION_ID , ENTERPRISE_ID, OCCUPATION_PERSON_TYPE, PERSON_NAME, PERSON_SEX, NATION, EDUCATION_DEGREE, 
    IDENTIFICATION_CARD_NO, TELEPHONE, CRIME_RECORD, TRAFFIC_ACCIDENT, DRIVE_VEHICLE_TYPE, 
    OCCUPATION_NO, DRIVE_CARD_NO, HEALTH_CONDITION, CREATE_BY, CREATE_TIME, UPDATE_BY, 
    UPDATE_TIME, REMOVE, CORPORATE_NO
    </sql>
    <sql id="Register_Info_List" >
    ID AS REGISTER_ID, ACCOUNT, VERIFY_STATUS, PASSWORD, REJECT_REASON
    </sql>
    
        <!--  分页查询  外连接从业信息表 企业表  -->
    <select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			TOC.PERSON_NAME,
			TOC.IDENTIFICATION_CARD_NO,
			TOC.TELEPHONE,
			TR.CREATE_TIME AS REGISTER_TIME,
			TR.ID AS REGISTER_ID,
			TR.OCCUPATION_ID,
			TR.VERIFY_STATUS,
			TR.REJECT_REASON,
			TR.ACCOUNT,
			TR.PASSWORD,
			TE.ENTERPRISE_NAME
		from T_REGISTER_INFO TR
		LEFT JOIN T_OCCUPATION_PERSON TOC ON TR.OCCUPATION_ID = TOC.ID
		LEFT JOIN T_ENTERPRISE TE ON TOC.CORPORATE_NO = TE.CORPORATE_NO
		where TR.REMOVE = '0'
		AND TOC.REMOVE = '0'
		AND TE.REMOVE = '0'
		<if test="account != null">
		    AND TR.ACCOUNT like CONCAT(CONCAT('%',#{account, jdbcType=VARCHAR}), '%')
		</if>
		<if test="identificationCardNo != null">
		    AND TOC.IDENTIFICATION_CARD_NO like CONCAT(CONCAT('%',#{identificationCardNo, jdbcType=VARCHAR}), '%') 
		</if>
		<if test="verifyStatus != null and verifyStatus != ''">
		    AND TR.VERIFY_STATUS = #{verifyStatus, jdbcType=VARCHAR}
		</if>
		<if test="corporateNo != null and corporateNo != ''">
		    AND TOC.CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
		</if>
		ORDER BY TR.VERIFY_STATUS,TR.CREATE_TIME DESC
	</select>
	
	 <select id="findByParameter" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			TOC.PERSON_NAME,
			TOC.IDENTIFICATION_CARD_NO,
			TOC.TELEPHONE,
			TOC.PERSON_SEX,
			TOC.NATION,
			TOC.EDUCATION_DEGREE,
			TOC.OCCUPATION_NO,
			TOC.HEALTH_CONDITION,
			TOC.CRIME_RECORD,
			TOC.TRAFFIC_ACCIDENT,
			TOC.DRIVE_VEHICLE_TYPE,
			TOC.DRIVE_CARD_NO,
			TR.CREATE_TIME AS REGISTER_TIME,
			TR.ID AS REGISTER_ID,
			TR.OCCUPATION_ID,
			TR.VERIFY_STATUS,
			TR.REJECT_REASON,
			TR.ACCOUNT,
			TR.PASSWORD,
			TR.SALT,
			TE.ENTERPRISE_NAME,
			TE.ID AS ORGID
		from T_REGISTER_INFO TR
		LEFT JOIN T_OCCUPATION_PERSON TOC ON TR.OCCUPATION_ID = TOC.ID
		LEFT JOIN T_ENTERPRISE TE ON TOC.CORPORATE_NO = TE.CORPORATE_NO
		where TR.REMOVE = '0'
		AND TOC.REMOVE = '0'
		AND TE.REMOVE = '0'
		<if test="verifyStatus != null">
		    AND TR.VERIFY_STATUS = #{verifyStatus, jdbcType=VARCHAR}
		</if>
		<if test="accountForApp != null">
		    AND TR.ACCOUNT = #{accountForApp, jdbcType=VARCHAR}
		</if>
		<if test="account != null">
		    AND TR.ACCOUNT like CONCAT(CONCAT('%',#{account, jdbcType=VARCHAR}), '%')
		</if>
		<if test="identificationCardNo != null">
		    AND TOC.IDENTIFICATION_CARD_NO like CONCAT(CONCAT('%',#{identificationCardNo, jdbcType=VARCHAR}), '%') 
		</if>
		<if test="verifyStatus != null and verifyStatus != ''">
		    AND TR.VERIFY_STATUS = #{verifyStatus, jdbcType=VARCHAR}
		</if>
		<if test="corporateNo != null and corporateNo != ''">
		    AND TOC.CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
		</if>
		<if test="registerId != null and registerId != ''">
		    AND TR.ID = #{registerId, jdbcType=VARCHAR}
		</if>
	</select>
	
	
	<!-- 注册 保存信息 -->
    <insert id="register" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.AccountVerifyEntity" >
   		insert into T_REGISTER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="registerId != null" >
        ID,
      </if>
      <if test="occupationId != null">
      	OCCUPATION_ID,
      </if>
      <if test="account != null" >
        ACCOUNT,
      </if>
      <if test="verifyStatus != null" >
        VERIFY_STATUS,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="salt != null">
      	SALT,
      </if>
      <if test="rejectReason != null" >
        REJECT_REASON,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="regId != null" >
        REGID,
      </if>
      <if test="remove != null" >
        REMOVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="registerId != null" >
         #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="occupationId != null">
      	#{occupationId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
	  <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="regId != null" >
         #{regId,jdbcType=VARCHAR},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=VARCHAR},
      </if>
    </trim>
    </insert>
    
    <!--     审核  改变审核状态或拒绝原因 -->
    <update id="verify" parameterType="java.util.Map" >
    update T_REGISTER_INFO
    <set >
      <if test="verifyStatus != null" >
        VERIFY_STATUS = #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{registerId,jdbcType=VARCHAR}
    AND REMOVE = '0'
  </update>
  
   <!--     注销 改变字段remove -->
    <update id="cancel" parameterType="java.util.Map" >
    update T_REGISTER_INFO
    SET REMOVE = '1'
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    
    <!--  查找从业信息对象 -->
    <select id="findOccupationPerson" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select <include refid="Occupation_Person_List" /> 
    	from T_OCCUPATION_PERSON 
	    where REMOVE = '0'
		<if test="personName != null">
		    AND PERSON_NAME = #{personName, jdbcType=VARCHAR}
		</if>
		<if test="identificationCardNo != null">
		    AND IDENTIFICATION_CARD_NO = #{identificationCardNo, jdbcType=VARCHAR}
		</if>
		<if test="corporateNo != null">
		    AND CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
		</if>
		<if test="occupationPersonType != null">
		    AND OCCUPATION_PERSON_TYPE = #{occupationPersonType, jdbcType=VARCHAR}
		</if>
    </select>
    
     <!--  查找注册信息对象 -->
     <select id="findRegisterInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select <include refid="Register_Info_List" /> 
    	from T_REGISTER_INFO 
	    where REMOVE = '0'
		<if test="occupationId != null">
		    AND OCCUPATION_ID = #{occupationId, jdbcType=VARCHAR}
		</if>
		<if test="verifyStatus != null">
		    AND VERIFY_STATUS = #{verifyStatus, jdbcType=VARCHAR}
		</if>
		<if test="account != null">
		    AND ACCOUNT = #{account, jdbcType=VARCHAR}
		</if>
		<if test="id != null">
		    AND ID = #{id, jdbcType=VARCHAR}
		</if>
		<if test = "repeat !=null">
			AND VERIFY_STATUS IN ('114001003','114001001')
		</if>
    </select>
    
    <!--  查找未审核的个数 -->
     <select id="amount" parameterType="java.util.Map" resultType="int">
    	select count(0) 
    	from T_REGISTER_INFO TR
    	left  JOIN T_OCCUPATION_PERSON TOC ON TOC.ID =  TR.OCCUPATION_ID
	    where TOC.REMOVE = '0'
	    AND TR.REMOVE='0'
		<if test="verifyStatus != null">
		    AND TR.VERIFY_STATUS = #{verifyStatus, jdbcType=VARCHAR}
		</if>
		<if test="corporateNo != null">
		    AND TOC.CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
		</if>
    </select>
    
    
    <!-- 判断该账号所属企业以及人员是否存在 -->
    <select id="isExist" parameterType="map" resultType="map">
    		   
		   select TOC.CORPORATE_NO AS NO, TE.ID AS ID
			  from T_OCCUPATION_PERSON TOC
			  LEFT JOIN T_ENTERPRISE TE
			    ON TE.CORPORATE_NO = TOC.CORPORATE_NO
			   AND TE.REMOVE = '0'
			  LEFT JOIN T_REGISTER_INFO TRE
			  ON TRE.OCCUPATION_ID = TOC.ID
			 WHERE TRE.ID =  #{registerId, jdbcType=VARCHAR}
			   AND TOC.REMOVE = '0'
    
    </select>
    
    
    <select id="isAccountRepeated"  parameterType="java.lang.String" resultType="java.lang.String">
    	select ACCOUNT from T_REGISTER_INFO WHERE ACCOUNT = #{account,jdbcType=VARCHAR} AND REMOVE='0'
    </select>
    
    <select id="InfoVerify"  parameterType="java.util.Map" resultType="java.lang.String">
    	select ID from T_OCCUPATION_PERSON t  WHERE t.REMOVE ='0'
    	<if test="personName != null " >
    	AND t.PERSON_NAME = #{personName,jdbcType=VARCHAR}
    	</if>
    	<if test="corporateNo != null " >
    	AND t.CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
    	</if>
    	<if test="identificationCardNo != null " >
    	AND t.IDENTIFICATION_CARD_NO = #{identificationCardNo,jdbcType=VARCHAR}
    	</if>
    	<if test="identificationCardNo != null " >
    	AND t.OCCUPATION_PERSON_TYPE = #{occupationPersonType,jdbcType=VARCHAR}
    	</if>
    </select>
    
         <!--   修个驾驶员信息 -->
    <update id="update" parameterType="java.util.Map" >
   		
   		update  T_OCCUPATION_PERSON
      <set>
      <if test="personName != null" >
        PERSON_NAME =  #{personName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="occupationNo != null" >
        OCCUPATION_NO = #{occupationNo,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardNo != null" >
        IDENTIFICATION_CARD_NO = #{identificationCardNo,jdbcType=VARCHAR},
      </if>
      <if test="personSex != null" >
        PERSON_SEX = #{personSex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="educationDegree != null" >
        EDUCATION_DEGREE = #{educationDegree,jdbcType=VARCHAR},
      </if>
      <if test="healthCondition != null" >
        HEALTH_CONDITION = #{healthCondition,jdbcType=VARCHAR},
      </if>
      <if test="crimeRecord != null" >
        CRIME_RECORD =  #{crimeRecord,jdbcType=VARCHAR},
      </if>
      <if test="trafficAccident != null" >
        TRAFFIC_ACCIDENT = #{trafficAccident,jdbcType=VARCHAR},
      </if>
      <if test="driveVehicleType != null" >
        DRIVE_VEHICLE_TYPE = #{driveVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="driveCardNo != null" >
        DRIVE_CARD_NO = #{driveCardNo,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE REMOVE = '0'
    AND ID = (  select OCCUPATION_ID from T_REGISTER_INFO 
                where remove = '0'
                AND ACCOUNT = #{account,jdbcType=VARCHAR}
             )
    </update>
</mapper>
