<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IAcrossLogDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.zcpt.bean.AcrossLogEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CARRIER_NAME" property="carrierName" jdbcType="VARCHAR" />
    <result column="PRE_AREA_ID" property="preAreaId" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="AREA_TYPE" property="areaType" jdbcType="VARCHAR" />
    <result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, CARRIER_NAME, PRE_AREA_ID,AREA_ID, AREA_TYPE, LOG_TIME
  </sql>
  
  <!-- 根据ID查询终端 -->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
	    <include refid="Base_Column_List" />
    FROM T_ACROSS_LOG
    WHERE ID = #{id}
  </select>
  
  <!-- 获取最新的跨域记录 -->
  <select id="getLastAcrossLog" resultMap="BaseResultMap">
	SELECT TEMP.* FROM(
		SELECT * FROM T_ACROSS_LOG 
		WHERE CARRIER_NAME  = #{carrierName} 
			AND AREA_TYPE = #{areaType} 
			ORDER BY LOG_TIME DESC
	) TEMP WHERE ROWNUM=1
  </select>
  
  <!-- 分页查询终端 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		    <include refid="Base_Column_List" />
		FROM T_ACROSS_LOG 
		<where>
		    <if test="carrierName != null and carrierName != ''">
				AND CARRIER_NAME like '%' || #{carrierName} || '%'
			</if>
			<if test="preAreaId != null and preAreaId != ''">
				AND PRE_AREA_ID = #{preAreaId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND AREA_ID = #{areaId}
			</if>
			<if test="areaType != null and areaType != ''">
				AND AREA_TYPE = #{areaType}
			</if>
		</where>
		ORDER BY LOG_TIME DESC
	</select>
	
	<select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT count(*)
		FROM T_ACROSS_LOG 
		<where>
		    <if test="carrierName != null and carrierName != ''">
				AND CARRIER_NAME like '%' || #{carrierName} || '%'
			</if>
			<if test="preAreaId != null and preAreaId != ''">
				AND PRE_AREA_ID = #{preAreaId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND AREA_ID = #{areaId}
			</if>
			<if test="areaType != null and areaType != ''">
				AND AREA_TYPE = #{areaType}
			</if>
		</where>
	</select>
  
  
   <!-- 保存-->
  <insert id="save" parameterType="com.c503.sc.jxwl.zcpt.bean.AcrossLogEntity" >
    insert into T_ACROSS_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="carrierName != null" >
        CARRIER_NAME,
      </if>
      <if test="preAreaId != null" >
        PRE_AREA_ID,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="areaType != null" >
        AREA_TYPE,
      </if>
       <if test="logTime != null" >
        LOG_TIME,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null" >
        #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="preAreaId != null" >
        #{preAreaId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaType != null" >
        #{areaType,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>
