<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.zcpt.dao.IAlarmManageDao">
	<resultMap id="BaseResultMap" type="com.c503.sc.jxwl.common.bean.AlarmEntity">
		<id column="ID"                        property="id"                   jdbcType="VARCHAR" />
		<result column="ALARM_NO"              property="alarmNo"              jdbcType="VARCHAR" />
		<result column="TERMINAL_ID"           property="terminalId"           jdbcType="VARCHAR" />
		<result column="LICENCE_PLATE_NO"      property="carrierName"          jdbcType="VARCHAR" />
		<result column="WAYBILL_NO"            property="waybillNo"            jdbcType="VARCHAR" />
		<result column="CHECKSTATUS"            property="checkStatus"            jdbcType="VARCHAR" />
		<result column="ALARM_TYPE"            property="alarmType"            jdbcType="VARCHAR" />
		<result column="ALARM_DEAL_STATUS"     property="alarmDealStatus"      jdbcType="VARCHAR" />
		<result column="LIMIT_AREA_ID"     	   property="limitAreaId"      jdbcType="VARCHAR" />
		<result column="ALARM_DATE"            property="alarmDate"            jdbcType="TIMESTAMP" />
		<result column="ALARM_DETAILS"         property="alarmDetails"         jdbcType="VARCHAR" />
		<result column="ALARM_REGISTER_HANDLE" property="alarmRegisterHandle"  jdbcType="VARCHAR" />
		<result column="DRIVER"                property="driver"             jdbcType="VARCHAR" />
		<result column="DRIVERID"              property="driverId"             jdbcType="VARCHAR" />
		<result column="TELEPHONE"             property="telephone"             jdbcType="VARCHAR" />
		<result column="CREATE_BY"             property="createBy"             jdbcType="VARCHAR" />
		<result column="CREATE_TIME"           property="createTime"           jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY"             property="updateBy"             jdbcType="VARCHAR" />
		<result column="UPDATE_TIME"           property="updateTime"           jdbcType="TIMESTAMP" />
		<result column="CORPORATE_NO"          property="corporateNo"          jdbcType="VARCHAR" />
		<result column="ENTERPRISE_NAME"       property="enterpriseName"       jdbcType="VARCHAR" />
		<result column="REMOVE"                property="remove"               jdbcType="CHAR" />
	</resultMap>
	
	<resultMap id="AlarmThresholdMap" type="com.c503.sc.jxwl.zcpt.vo.AlarmThresholdVo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="OVER_SPEED_VALUE" property="overSpeedValue" jdbcType="NUMERIC" />
		<result column="SPEED_CONTINUE_VALUE" property="speedContinueValue" jdbcType="NUMERIC" />
		<result column="FATIGUE_DRIVE_VALUE" property="fatigueDriveValue" jdbcType="NUMERIC" />
		<result column="OVERTIME_PARK_VALUE" property="overtimeParkValue" jdbcType="NUMERIC" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, ALARM_NO, TERMINAL_ID, LICENCE_PLATE_NO, WAYBILL_NO, ALARM_TYPE,
		ALARM_DEAL_STATUS,LIMIT_AREA_ID,
		ALARM_DATE, ALARM_DETAILS, ALARM_REGISTER_HANDLE, CREATE_BY, CREATE_TIME,
		UPDATE_BY,
		UPDATE_TIME, REMOVE
    </sql>
    
    <sql id="Alarm_Threshold_List">
		ID, OVER_SPEED_VALUE, SPEED_CONTINUE_VALUE, FATIGUE_DRIVE_VALUE, OVERTIME_PARK_VALUE
    </sql>
    
    <update id="updateThreshold" parameterType="com.c503.sc.jxwl.zcpt.vo.AlarmThresholdVo">
		update T_ALARM_THRESHOLD
		<set>
			<if test="overSpeedValue != null">
				OVER_SPEED_VALUE = #{overSpeedValue,jdbcType=NUMERIC},
            </if>
			<if test="speedContinueValue != null">
				SPEED_CONTINUE_VALUE = #{speedContinueValue,jdbcType=NUMERIC},
            </if>
			<if test="fatigueDriveValue != null">
				FATIGUE_DRIVE_VALUE = #{fatigueDriveValue,jdbcType=NUMERIC},
            </if>
			<if test="overtimeParkValue != null">
				OVERTIME_PARK_VALUE = #{overtimeParkValue,jdbcType=NUMERIC},
            </if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="findThresholdById" resultMap="AlarmThresholdMap" parameterType="java.util.Map">
		select
		  *
		from T_ALARM_THRESHOLD
		<where>
		   <if test="id != null ">
				AND id=#{id, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
  
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
	
			select TA.ALARM_NO,
			       TA.TERMINAL_ID,
			       TA.LICENCE_PLATE_NO,
			       TA.WAYBILL_NO,
			       TA.ALARM_TYPE,
			       TA.ALARM_DEAL_STATUS,
			       TA.ALARM_DATE,
			       TA.ALARM_DETAILS,
			       TA.ALARM_REGISTER_HANDLE,
			       TA.CREATE_BY,
			       TA.CREATE_TIME,
			       TA.UPDATE_BY,
			       TA.UPDATE_TIME,
			       TA.CORPORATE_NO,
			       TA.DRIVER_ID,
			       TOC.PERSON_NAME AS DRIVER,
			       TOC.TELEPHONE
			  FROM T_ALARM_MANAGE TA
			  LEFT JOIN T_OCCUPATION_PERSON TOC
			    ON TOC.IDENTIFICATION_CARD_NO = TA.DRIVER_ID
			   AND TOC.REMOVE = '0'
			 where TA.ID = #{id,jdbcType=VARCHAR}
			   AND TA.REMOVE = '0'
	</select>
	
	<select id="findAlarmByCarrierNameAndAlarmTime" resultMap="BaseResultMap" parameterType="java.lang.String">
			select TA.ALARM_NO,
			       TA.TERMINAL_ID,
			       TA.LICENCE_PLATE_NO,
			       TA.WAYBILL_NO,
			       TA.ALARM_TYPE,
			       TA.ALARM_DEAL_STATUS,
			       TA.ALARM_DATE,
			       TA.ALARM_DETAILS,
			       TA.ALARM_REGISTER_HANDLE,
			       TA.CORPORATE_NO,
			       TA.DRIVER_ID,
			       TOC.PERSON_NAME AS DRIVER,
			       TOC.TELEPHONE
			  FROM T_ALARM_MANAGE TA
			  LEFT JOIN T_OCCUPATION_PERSON TOC
			    ON TOC.IDENTIFICATION_CARD_NO = TA.DRIVER_ID
			   AND TOC.REMOVE = '0'
			 where TA.LICENCE_PLATE_NO = #{carrierName,jdbcType=VARCHAR}
			 <!-- gpsTime 和报警时间相差在15秒内，认为是同一个报警信息 -->
			   <!-- AND (((TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss')-TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &gt;=0 
			   and   (TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss')-TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &lt;= 15) 
			   	or ((TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss')-TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &gt;=0 
			   and  (TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss')-TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &lt;= 15))  -->
			   AND (
			   		ABS(TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss')-TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &gt;=0 
			   	and
			   		ABS(TO_DATE(#{gpsTime},'yyyy-mm-dd hh24-mi-ss')-TO_DATE(to_CHAR(TA.ALARM_DATE,'yyyy-mm-dd hh24-mi-ss'),'yyyy-mm-dd hh24-mi-ss'))*24*60*60 &lt;= 15) 
			   	
			   AND TA.REMOVE = '0'
	</select>
	
	<select id="findByAccount" resultMap="BaseResultMap" parameterType="java.util.Map">
	    select TW.CARNO AS LICENCE_PLATE_NO,
	            TW.CHECKNO AS WAYBILL_NO,
	            TOP.CORPORATE_NO AS CORPORATE_NO,
	            TE.ENTERPRISE_NAME AS ENTERPRISE_NAME,
	            TW.DRIVERID AS DRIVERID,
	            TOP.TELEPHONE AS TELEPHONE
	    from T_REGISTER_INFO TRI
	    JOIN T_OCCUPATION_PERSON TOP
	      ON TRI.OCCUPATION_ID = TOP.ID
	     AND TOP.REMOVE = #{remove,jdbcType=VARCHAR}
	    JOIN T_WAYBILL TW
	      ON TW.DRIVERID = TOP.IDENTIFICATION_CARD_NO
	     AND TW.REMOVE = #{remove,jdbcType=VARCHAR}
	     AND TW.checkstatus in ('111001002','111001003')
	    join T_ENTERPRISE TE
	    ON TE.CORPORATE_NO = TOP.CORPORATE_NO
	   WHERE TRI.ACCOUNT = #{account,jdbcType=VARCHAR}
	     AND TRI.REMOVE = #{remove,jdbcType=VARCHAR}
	</select>
	
	<!-- 逻辑删除-->
  <update id="delete" parameterType="map">
    <if test="ids != null and ids.length > 0">
      UPDATE T_ALARM_MANAGE SET
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        REMOVE      = #{remove}
      <where>
        <foreach collection="ids" item="item" open="id in (" close=")" separator=",">
          #{item}
        </foreach>
      </where>
    </if>
  </update>
	
	<!-- 物理删除数据库信息-->
  <update id="deleteAlarmInfo">
	DELETE FROM T_ALARM_MANAGE
  </update>
  
	<!-- 分页查询报警信息 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT T.ENTERPRISE_NAME, TMP.*
		  FROM T_ENTERPRISE T
		  JOIN (SELECT T_ALR.ID,
		                    T_ALR.ALARM_NO,
		                    T_ALR.TERMINAL_ID,
		                    T_ALR.LICENCE_PLATE_NO,
		                    T_ALR.WAYBILL_NO,
		                    T_ALR.ALARM_TYPE,
		                    T_ALR.ALARM_DEAL_STATUS,
		                    T_ALR.LIMIT_AREA_ID,
		                    T_ALR.ALARM_DATE,
		                    T_ALR.ALARM_DETAILS,
		                    T_ALR.ALARM_REGISTER_HANDLE,
		                    T_ALR.CREATE_TIME,
		                    T_ALR.REMOVE,
		                    TC.DRIVER                   AS DRIVER,
		                    TC.DRIVERPHONE              AS TELEPHONE,
		                    T_DAN.CORPORATE_NO
		               FROM T_DANGER_VEHICLE T_DAN
		               JOIN T_ALARM_MANAGE T_ALR
		                 ON T_DAN.LICENCE_PLATE_NO = T_ALR.LICENCE_PLATE_NO
		                AND T_ALR.REMOVE='0'
		                AND T_DAN.REMOVE = '0'
		               LEFT JOIN T_WAYBILL TC
		                 ON TC.ID = T_ALR.WAYBILL_NO
		                AND TC.REMOVE = '0'
					<where>
					  <if test="corporateNo != null and corporateNo != ''">
					    AND T_DAN.CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
					  </if>
					  <if test="alarmDealStatus != null and alarmDealStatus != ''">
					    AND T_ALR.ALARM_DEAL_STATUS = #{alarmDealStatus, jdbcType=VARCHAR}
					  </if>
					  <if test="carrierName != null and carrierName != ''">
					    AND T_ALR.LICENCE_PLATE_NO LIKE CONCAT(CONCAT('%',#{carrierName, jdbcType=VARCHAR}),'%')
					  </if>
					  <if test="alarmId != null and alarmId != ''">
					    AND T_ALR.ID = #{alarmId, jdbcType=VARCHAR}
					  </if>
					  <if test="limitAreaId != null and limitAreaId != ''">
					    AND T_ALR.LIMIT_AREA_ID = #{limitAreaId, jdbcType=VARCHAR}
					  </if>
					  <if test="alarmType != null and alarmType != ''">
					    AND T_ALR.ALARM_TYPE = #{alarmType, jdbcType=VARCHAR}
					  </if>
					  <if test="starAlarmDate != null">
					    AND T_ALR.ALARM_DATE &gt;= #{starAlarmDate, jdbcType=TIMESTAMP}
					  </if>
					  <if test="endAlarmDate != null">
					    AND T_ALR.ALARM_DATE &lt;= #{endAlarmDate, jdbcType=TIMESTAMP}
					  </if>
					</where> ) TMP
		    ON T.CORPORATE_NO = TMP.CORPORATE_NO
		 ORDER BY TMP.ALARM_DEAL_STATUS DESC,TMP.ALARM_DATE DESC
	</select>

	<insert id="save" parameterType="com.c503.sc.jxwl.common.bean.AlarmEntity">
		insert into T_ALARM_MANAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
      		</if>
			<if test="alarmNo != null">
				ALARM_NO,
      		</if>
			<if test="terminalId != null">
				TERMINAL_ID,
      		</if>
			<if test="carrierName != null">
				LICENCE_PLATE_NO,
      		</if>
			<if test="waybillNo != null">
				WAYBILL_NO,
      		</if>
			<if test="alarmType != null">
				ALARM_TYPE,
      		</if>
			<if test="alarmDealStatus != null">
				ALARM_DEAL_STATUS,
      		</if>
      		<if test="limitAreaId != null">
				LIMIT_AREA_ID,
      		</if>
			<if test="alarmDate != null">
				ALARM_DATE,
      		</if>
			<if test="alarmDetails != null">
				ALARM_DETAILS,
      		</if>
			<if test="alarmRegisterHandle != null">
				ALARM_REGISTER_HANDLE,
      		</if>
			<if test="createBy != null">
				CREATE_BY,
      		</if>
			<if test="createTime != null">
				CREATE_TIME,
      		</if>
			<if test="updateBy != null">
				UPDATE_BY,
      		</if>
			<if test="updateTime != null">
				UPDATE_TIME,
      		</if>
			<if test="remove != null">
				REMOVE,
      		</if>
      		<if test="corporateNo != null">
				CORPORATE_NO,
      		</if>
      		<if test="driverId != null">
				DRIVER_ID,
      		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
      		</if>
			<if test="alarmNo != null">
				#{alarmNo,jdbcType=VARCHAR},
      		</if>
			<if test="terminalId != null">
				#{terminalId,jdbcType=VARCHAR},
      		</if>
			<if test="carrierName != null">
				#{carrierName,jdbcType=VARCHAR},
      		</if>
			<if test="waybillNo != null">
				#{waybillNo,jdbcType=VARCHAR},
      		</if>
			<if test="alarmType != null">
				#{alarmType,jdbcType=VARCHAR},
      		</if>
			<if test="alarmDealStatus != null">
				#{alarmDealStatus,jdbcType=VARCHAR},
      		</if>
      		<if test="limitAreaId != null">
				#{limitAreaId,jdbcType=VARCHAR},
      		</if>
			<if test="alarmDate != null">
				#{alarmDate,jdbcType=TIMESTAMP},
      		</if>
			<if test="alarmDetails != null">
				#{alarmDetails,jdbcType=VARCHAR},
      		</if>
			<if test="alarmRegisterHandle != null">
				#{alarmRegisterHandle,jdbcType=VARCHAR},
      		</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
      		</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
      		</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
      		</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
      		</if>
			<if test="remove != null">
				#{remove,jdbcType=CHAR},
      		</if>
      		<if test="corporateNo != null">
				#{corporateNo,jdbcType=VARCHAR},
      		</if>
      		<if test="driverId != null">
				#{driverId,jdbcType=VARCHAR},
      		</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.AlarmManageEntity">
		update T_ALARM_MANAGE
		<set>
			<if test="alarmNo != null">
				ALARM_NO = #{alarmNo,jdbcType=VARCHAR},
      </if>
			<if test="terminalId != null">
				TERMINAL_ID = #{terminalId,jdbcType=VARCHAR},
      </if>
			<if test="carrierName != null">
				LICENCE_PLATE_NO = #{carrierName,jdbcType=VARCHAR},
      </if>
			<if test="waybillNo != null">
				WAYBILL_NO = #{waybillNo,jdbcType=VARCHAR},
      </if>
			<if test="alarmType != null">
				ALARM_TYPE = #{alarmType,jdbcType=VARCHAR},
      </if>
			<if test="alarmDealStatus != null">
				ALARM_DEAL_STATUS = #{alarmDealStatus,jdbcType=VARCHAR},
      </if>
      		<if test="limitAreaId != null">
				LIMIT_AREA_ID = #{limitAreaId,jdbcType=VARCHAR},
      </if>
			<if test="alarmDate != null">
				ALARM_DATE = #{alarmDate,jdbcType=TIMESTAMP},
      </if>
			<if test="alarmDetails != null">
				ALARM_DETAILS = #{alarmDetails,jdbcType=VARCHAR},
      </if>
			<if test="alarmRegisterHandle != null">
				ALARM_REGISTER_HANDLE = #{alarmRegisterHandle,jdbcType=VARCHAR},
      </if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
			<if test="updateBy != null">
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
			<if test="remove != null">
				REMOVE = #{remove,jdbcType=CHAR},
      </if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="alarmNoIsRepeated" parameterType="String" resultType="int">
		select count(0) from T_ALARM_MANAGE
		where ALARM_NO = #{alarmNo,jdbcType=VARCHAR}
		and REMOVE = '0'
	</select>
	
	<select id="findAlarmNumForDiTu" parameterType="java.util.Map" resultType="int">
		select count(0) from T_ALARM_MANAGE
		where LICENCE_PLATE_NO = #{carrierName,jdbcType=VARCHAR}
		and REMOVE = '0'
		and ALARM_DEAL_STATUS ='103002002'
	</select>
	<!-- 查询regid用于小米精确推送 -->
	<select id="findRegId" resultType="java.util.Map">
		SELECT TR.ACCOUNT account, TR.REGID regId
		  FROM T_REGISTER_INFO TR
		  LEFT JOIN T_OCCUPATION_PERSON TOC
		    ON TOC.ID = TR.OCCUPATION_ID
		 WHERE TOC.IDENTIFICATION_CARD_NO = #{identificationCardNo,jdbcType=VARCHAR}
		   AND TR.VERIFY_STATUS = #{verifyStatus,jdbcType=VARCHAR}
		   AND TR.REMOVE = '0'
		   AND TOC.REMOVE = '0'
		   AND TR.REGID IS NOT NULL
	</select>
	
	<!--通过account查询企业名字  -->
	<select id="findNameByAccount" parameterType="String" resultType="String">
		select TE.ENTERPRISE_NAME
		  from t_Register_Info TRI
		  LEFT JOIN T_OCCUPATION_PERSON TOP
		    ON TOP.ID = TRI.OCCUPATION_ID
		   AND TOP.REMOVE = '0'
		  LEFT JOIN T_ENTERPRISE TE
		    ON TE.CORPORATE_NO = TOP.CORPORATE_NO
		   AND TE.REMOVE = '0'
		 WHERE TRI.ACCOUNT = #{account,jdbcType=VARCHAR}
		   AND TRI.REMOVE = '0'
	</select>
 	<delete id="deleteAlarm" parameterType="com.c503.sc.jxwl.common.bean.AlarmEntity">
		delete 
		from T_ALARM_MANAGE 
		where LICENCE_PLATE_NO = #{carrierName,jdbcType=VARCHAR}
		AND ALARM_TYPE = #{alarmType,jdbcType=VARCHAR}
		AND (#{alarmDate,jdbcType=TIMESTAMP}-ALARM_DATE)*24*60 &lt;= 30
	</delete> 
	<!-- 分页查询运单信息For APP -->
	<select id="findForAppByAccount" resultType="String" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  distinct temp.ID
	    FROM ( select TC.*
	        FROM T_WAYBILL TC LEFT JOIN TB 
	        ON TC.ID = TB.WAYBILL_ID
	        LEFT JOIN T_ENTERPRISE TE
			ON TC.LOGISTICS_ID = TE.CORPORATE_NO
			LEFT JOIN T_DANGER_VEHICLE TD
			ON TD.LICENCE_PLATE_NO = TC.CARNO
			JOIN T_OCCUPATION_PERSON TOP
	        ON TOP.IDENTIFICATION_CARD_NO = TC.Driverid
	        JOIN T_REGISTER_INFO TRI 
	        ON TRI.OCCUPATION_ID = TOP.ID
	    WHERE TC.REMOVE = '0'
		  	   AND TC.CHECKSTATUS in ('111001002','111001003')
		  	  AND TRI.ACCOUNT = #{account,jdbcType=VARCHAR}
		      ORDER BY TC.CHECKSTATUS,
		      		   TC.DELIVERYUNITTIME DESC) temp
	</select>
		<!-- 通过车牌号和起始时间和结束时间查询报警信息 -->
	<select id="findAlarmByCarrierNameAndStartEndTime" resultMap="BaseResultMap" parameterType="java.lang.String">
	  select   
	  		   TA.TERMINAL_ID,
		       TA.LICENCE_PLATE_NO,
		       TA.WAYBILL_NO,
		       TA.ALARM_TYPE,
		       TA.ALARM_DEAL_STATUS,
		       TA.ALARM_DATE,
		       TA.ALARM_DETAILS,
		       TA.ALARM_REGISTER_HANDLE,
		       TA.CORPORATE_NO,
		       TA.DRIVER_ID,
		       TOC.PERSON_NAME AS DRIVER,
		       TOC.TELEPHONE
		  FROM T_ALARM_MANAGE TA
		  LEFT JOIN T_OCCUPATION_PERSON TOC
		    ON TOC.IDENTIFICATION_CARD_NO = TA.DRIVER_ID
		   AND TOC.REMOVE = '0'
		 where TA.LICENCE_PLATE_NO = #{carrierName,jdbcType=VARCHAR}
		   AND TO_DATE(to_CHAR(TA.ALARM_DATE, 'yyyy-mm-dd hh24-mi-ss'),
		               'yyyy-mm-dd hh24-mi-ss') &gt;
		       TO_DATE(#{startTime}, 'yyyy-mm-dd hh24-mi-ss')
		   AND TO_DATE(to_CHAR(TA.ALARM_DATE, 'yyyy-mm-dd hh24-mi-ss'),
		               'yyyy-mm-dd hh24-mi-ss') &lt;
		       TO_DATE(#{endTime}, 'yyyy-mm-dd hh24-mi-ss')
		   AND TA.REMOVE = '0' 
	</select>
</mapper>
