<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IBlacklistManageDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.BlacklistManageEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CORPORATE_NO" property="corporateNo" jdbcType="VARCHAR" />
    <result column="DRIVER" property="driver" jdbcType="VARCHAR" />
    <result column="VEHICLE" property="vehicle" jdbcType="VARCHAR" />
    <result column="OBJECT_TYPE" property="objectType" jdbcType="VARCHAR" />
    <result column="BLACKLIST_TYPE" property="blacklistType" jdbcType="VARCHAR" />
    <result column="BLACKLIST_REASON" property="blacklistReason" jdbcType="VARCHAR" />
    <result column="BLACKLIST_DATE" property="blacklistDate" jdbcType="DATE" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
    <result column="OPERATE_PERSON" property="operatePerson" jdbcType="VARCHAR" />
  </resultMap>
  
    <resultMap id="AlarmNumMap" type="com.c503.sc.jxwl.vehiclemonitor.vo.AlarmNumVo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="ENTERPRISE_ALARM_NUM" property="enterpriseAlarmNum" jdbcType="NUMERIC" />
		<result column="VEHICLE_ALARM_NUM" property="vehicleAlarmNum" jdbcType="NUMERIC" />
		<result column="DRIVER_ALARM_NUM" property="driverAlarmNum" jdbcType="NUMERIC" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List" >
    ID, CORPORATE_NO, DRIVER, VEHICLE, OBJECT_TYPE, BLACKLIST_TYPE, BLACKLIST_REASON, BLACKLIST_DATE, 
    CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMOVE, OPERATE_PERSON
    </sql>
	
    <sql id="Alarm_Num_List">
		ID, ENTERPRISE_ALARM_NUM, VEHICLE_ALARM_NUM, DRIVER_ALARM_NUM,UPDATE_TIME
    </sql>
    
    <update id="updateAlarmNum" parameterType="com.c503.sc.jxwl.vehiclemonitor.vo.AlarmNumVo">
		update T_ALARM_NUM
		<set>
			<if test="enterpriseAlarmNum != null">
				ENTERPRISE_ALARM_NUM = #{enterpriseAlarmNum,jdbcType=NUMERIC},
            </if>
			<if test="vehicleAlarmNum != null">
				VEHICLE_ALARM_NUM = #{vehicleAlarmNum,jdbcType=NUMERIC},
            </if>
			<if test="driverAlarmNum != null">
				DRIVER_ALARM_NUM = #{driverAlarmNum,jdbcType=NUMERIC},
            </if>
            <if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="findAlarmNumById" resultMap="AlarmNumMap" parameterType="java.util.Map">
		select
		  *
		from T_ALARM_NUM
		<where>
		   <if test="id != null ">
				AND id=#{id, jdbcType=VARCHAR}
			</if>
		</where>
	</select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
		A. ID,
		A. DRIVER,
		A. VEHICLE,
		A. OBJECT_TYPE,
		A. BLACKLIST_TYPE,
		A. BLACKLIST_REASON,
		A. BLACKLIST_DATE,
		A. OPERATE_PERSON,
		B. ENTERPRISE_NAME enterpriseName
	from T_BLACKLIST_MANAGE A
	LEFT OUTER JOIN T_ENTERPRISE B ON A .CORPORATE_NO = B. CORPORATE_NO
        where A.ID = #{id,jdbcType=VARCHAR}
        AND A.REMOVE = '0'
  </select>
  
  <!-- 拉黑数据是否已经存在 -->
   <select id="findBlackExist" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    	<include refid="Base_Column_List" />
	from T_BLACKLIST_MANAGE 
	where REMOVE = '0'
		<if test="corporateNo != null">
		    AND CORPORATE_NO = #{corporateNo, jdbcType=VARCHAR}
		</if>
		<if test="driver != null">
		    AND DRIVER = #{driver, jdbcType=VARCHAR}
		</if>
		<if test="identificationCardNo != null">
		    AND IDENTIFICATION_CARD_NO = #{identificationCardNo, jdbcType=VARCHAR}
		</if>
		<if test="vehicle != null">
		    AND VEHICLE = #{vehicle, jdbcType=VARCHAR}
		</if>
		    AND OBJECT_TYPE = #{objectType, jdbcType=VARCHAR}
  </select>
  
  <!-- 根据法人代码对黑名单表查询条数 -->
 <!--  <select id="findNumById" resultType="int" parameterType="java.lang.String" >
  		select COUNT(*) from T_BLACKLIST_MANAGE t 
  		where CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
  		AND REMOVE ='0'
  </select> -->
  
  <!-- 逻辑删除-->
  <update id="delete" parameterType="map">
    <if test="ids != null and ids.length > 0">
      UPDATE T_BLACKLIST_MANAGE SET
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        REMOVE      = #{remove}
      <where>
        <foreach collection="ids" item="item" open="id in (" close=")" separator=",">
          #{item}
        </foreach>
      </where>
    </if>
  </update>
	
	<!-- 分页查询黑名单信息 -->
	<select id="findByParams" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
			A.ID,
			A.DRIVER,
			A.VEHICLE,
			A.OBJECT_TYPE,
			A.BLACKLIST_TYPE,
			A.BLACKLIST_REASON,
			A.BLACKLIST_DATE,
			A.OPERATE_PERSON,
			B.ENTERPRISE_NAME enterpriseName
		from T_BLACKLIST_MANAGE A
		LEFT OUTER JOIN T_ENTERPRISE B ON A .CORPORATE_NO = B. CORPORATE_NO
		<where>
		     A.remove = '0'
		     AND B.REMOVE = '0'
		    <if test="enterpriseName != null and enterpriseName != ''">
				AND B.ENTERPRISE_NAME like CONCAT(CONCAT('%',#{enterpriseName}), '%')
			</if>
			<if test="corporateNo != null and corporateNo != ''">
				AND B.CORPORATE_NO like CONCAT(CONCAT('%',#{corporateNo}), '%')
			</if>
			<if test="driver != null and driver != ''">
				AND A.DRIVER like CONCAT(CONCAT('%',#{driver}), '%')
			</if>
			<if test="vehicle != null and vehicle != ''">
				AND A.VEHICLE like CONCAT(CONCAT('%',#{vehicle}), '%')
			</if>
		    <if test="objectType != null and objectType != '' ">
				AND A.OBJECT_TYPE=#{objectType, jdbcType=VARCHAR}
			</if>
		    <if test="blacklistDateStart != null">
			    AND A.BLACKLIST_DATE &gt;= #{blacklistDateStart, jdbcType=DATE}
			</if>
			<if test="blacklistDateEnd != null">
			    AND A.BLACKLIST_DATE &lt;= #{blacklistDateEnd, jdbcType=DATE}
			</if>
		</where>
		ORDER BY A.BLACKLIST_DATE DESC
	</select>
  
  <insert id="save" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.BlacklistManageEntity" >
    insert into T_BLACKLIST_MANAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="corporateNo != null" >
        CORPORATE_NO,
      </if>
      <if test="driver != null" >
        DRIVER,
      </if>
      <if test="vehicle != null" >
        VEHICLE,
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE,
      </if>
      <if test="blacklistType != null" >
        BLACKLIST_TYPE,
      </if>
      <if test="blacklistReason != null" >
        BLACKLIST_REASON,
      </if>
      <if test="blacklistDate != null" >
        BLACKLIST_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remove != null" >
        REMOVE,
      </if>
      <if test="operatePerson != null" >
        OPERATE_PERSON,
      </if>
       <if test="identificationCardNo != null" >
        IDENTIFICATION_CARD_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corporateNo != null" >
        #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="vehicle != null" >
        #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistType != null" >
        #{blacklistType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="blacklistDate != null" >
        #{blacklistDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=CHAR},
      </if>
      <if test="operatePerson != null" >
        #{operatePerson,jdbcType=VARCHAR},
      </if>
       <if test="identificationCardNo != null" >
        #{identificationCardNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.BlacklistManageEntity" >
    update T_BLACKLIST_MANAGE
    <set >
      <if test="corporateNo != null" >
        CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="driver != null" >
        DRIVER = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="vehicle != null" >
        VEHICLE = #{vehicle,jdbcType=VARCHAR},
      </if>
      <if test="objectType != null" >
        OBJECT_TYPE = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistType != null" >
        BLACKLIST_TYPE = #{blacklistType,jdbcType=VARCHAR},
      </if>
      <if test="blacklistReason != null" >
        BLACKLIST_REASON = #{blacklistReason,jdbcType=VARCHAR},
      </if>
      <if test="blacklistDate != null" >
        BLACKLIST_DATE = #{blacklistDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        REMOVE = #{remove,jdbcType=CHAR},
      </if>
      <if test="operatePerson != null" >
        OPERATE_PERSON = #{operatePerson,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
