<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IDangerFileRelaDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.zcpt.bean.DangerFileRelaEntity" >
    <id     column="ID"                property="id"              jdbcType="VARCHAR" />
    <result column="DANGER_VEHICLE_ID" property="dangerVehicleId" jdbcType="VARCHAR" />
    <result column="FILE_ID"           property="fileId"          jdbcType="VARCHAR" />
    <result column="REMOVE"            property="remove"          jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DANGER_VEHICLE_ID, FILE_ID, REMOVE
  </sql>
  
  <!-- 删除危险品车辆附件关系 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from T_DANGER_FILE_RELA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 批量保存危险品车辆附件关系 -->
  <insert id="saves" parameterType="java.util.List">
    INSERT INTO T_DANGER_FILE_RELA (ID, DANGER_VEHICLE_ID, FILE_ID, 
      REMOVE)
	<foreach collection="list" item="item" separator="union all">
	  SELECT
	  #{item.id},         #{item.dangerVehicleId},    #{item.fileId},
	  #{item.remove} FROM DUAL
	</foreach>
  </insert>
  
</mapper>