<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IEmergentLinkmanDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.EmergentLinkmanEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="FIXED_NO" property="fixedNo" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, COMPANY_NAME, PERSON_NAME, TELEPHONE, FIXED_NO, CREATE_BY, CREATE_TIME, UPDATE_BY, 
    UPDATE_TIME, REMOVE
  </sql>
  
  <!-- 分页查询紧急联系人 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EmergentLinkmanEntity">
		select
		<include refid="Base_Column_List" />
		from T_EMERGENT_LINKMAN
		<where>
		    <if test="personName != null">
		       AND PERSON_NAME like CONCAT(CONCAT('%',#{personName}), '%')
		     </if>
			<if test="remove != null ">
				AND remove = #{remove, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY update_time DESC
	</select>
  
  <!--新增紧急联系人  -->
  <insert id="save" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EmergentLinkmanEntity" >
    insert into T_EMERGENT_LINKMAN (ID, COMPANY_NAME, PERSON_NAME, 
      TELEPHONE, FIXED_NO, CREATE_BY, 
      CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
      REMOVE)
    values (#{id,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{fixedNo,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remove,jdbcType=CHAR})
  </insert>
  
  <!--根据id查询紧急联系人  -->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_EMERGENT_LINKMAN
    where ID = #{id,jdbcType=VARCHAR}
    and remove='0'
  </select>
  
  <!--编辑紧急联系人  -->
  <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EmergentLinkmanEntity" >
    update T_EMERGENT_LINKMAN
    set COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      PERSON_NAME = #{personName,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      FIXED_NO = #{fixedNo,jdbcType=VARCHAR},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMOVE = #{remove,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 逻辑删除-->
  <update id="delete" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EmergentLinkmanEntity">
      UPDATE T_EMERGENT_LINKMAN SET
        <if test="updateBy != null and updateBy != ''">
        UPDATE_BY   = #{updateBy},
        </if>
        UPDATE_TIME = #{updateTime},
        REMOVE      = '1'
      WHERE ID = #{id}
  </update>
</mapper>