<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IEnterpriseDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CORPORATE_NO" property="corporateNo" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_TYPE" property="enterpriseType" jdbcType="VARCHAR" />
    <result column="CORPORATE_REP" property="corporateRep" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_INTRODUCE" property="enterpriseIntroduce" jdbcType="VARCHAR" />
    <result column="REGISTER_OFFICE" property="registerOffice" jdbcType="VARCHAR" />
    <result column="CROSS_DOMAIN_TYPE" property="crossDomainType4Enter" jdbcType="VARCHAR" />
    <result column="LOGON_CAPITAL" property="logonCapital" jdbcType="DECIMAL" />
    <result column="MAJOR_BUSINESS_ROUTE" property="majorBusinessRoute" jdbcType="VARCHAR" />
    <result column="ESTABLISH_DATE" property="establishDate" jdbcType="DATE" />
    <result column="OPEN_ACCOUNT_BANK" property="openAccountBank" jdbcType="VARCHAR" />
    <result column="REGISTRATION_NO" property="registrationNo" jdbcType="VARCHAR" />
    <result column="PROFESSIONAL_WORK" property="professionalWork" jdbcType="VARCHAR" />
    <result column="TAXATION_NO" property="taxationNo" jdbcType="VARCHAR" />
    <result column="OPERATE_AREA" property="operateArea" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="NETWORK_ADDR" property="networkAddr" jdbcType="VARCHAR" />
    <result column="VEHICLE_NUM" property="vehicleNum" jdbcType="DECIMAL" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, CORPORATE_NO, ENTERPRISE_NAME, ENTERPRISE_TYPE, CORPORATE_REP, ENTERPRISE_INTRODUCE, 
    REGISTER_OFFICE, LOGON_CAPITAL, MAJOR_BUSINESS_ROUTE, ESTABLISH_DATE, OPEN_ACCOUNT_BANK, 
    REGISTRATION_NO, PROFESSIONAL_WORK, TAXATION_NO, OPERATE_AREA, ADDRESS, NETWORK_ADDR, 
    VEHICLE_NUM, TELEPHONE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMOVE
  </sql>
  
  <!-- 批量保存 -->
  <insert id="batchSave" parameterType="java.util.List">
    INSERT INTO T_ENTERPRISE (
	    ID, CORPORATE_NO, ENTERPRISE_NAME, ENTERPRISE_TYPE, CORPORATE_REP, ENTERPRISE_INTRODUCE, 
    REGISTER_OFFICE, LOGON_CAPITAL, MAJOR_BUSINESS_ROUTE, ESTABLISH_DATE, OPEN_ACCOUNT_BANK, 
    REGISTRATION_NO, PROFESSIONAL_WORK, TAXATION_NO, OPERATE_AREA, ADDRESS, NETWORK_ADDR, 
    VEHICLE_NUM, TELEPHONE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMOVE
    ) 
	<foreach collection="list" item="item" separator="union all">
	  select
		  #{item.id,jdbcType=VARCHAR}, 
		  #{item.corporateNo,jdbcType=VARCHAR}, 
		  #{item.enterpriseName,jdbcType=VARCHAR}, 
		  #{item.enterpriseType,jdbcType=VARCHAR},
		  #{item.corporateRep,jdbcType=VARCHAR},
		  #{item.enterpriseIntroduce,jdbcType=CHAR},
		  #{item.registerOffice,jdbcType=VARCHAR},
		  #{item.logonCapital,jdbcType=DECIMAL},
		  #{item.majorBusinessRoute,jdbcType=VARCHAR},
		  #{item.establishDate,jdbcType=DATE},
		  #{item.openAccountBank,jdbcType=VARCHAR},
		  #{item.registrationNo,jdbcType=VARCHAR},
		  #{item.professionalWork,jdbcType=VARCHAR},
		  #{item.taxationNo,jdbcType=VARCHAR},
		  #{item.operateArea,jdbcType=VARCHAR},
		  #{item.address,jdbcType=VARCHAR},
		  #{item.networkAddr,jdbcType=VARCHAR},
		  #{item.vehicleNum,jdbcType=DECIMAL},
		  #{item.telephone,jdbcType=VARCHAR},
		  #{item.createBy,jdbcType=VARCHAR},
          #{item.createTime,jdbcType=TIMESTAMP},
          #{item.updateBy,jdbcType=VARCHAR},
          #{item.updateTime,jdbcType=TIMESTAMP},
		  #{item.remove,jdbcType=CHAR}
		  from dual
	</foreach>
  </insert> 
  
  <!-- 新增、编辑 判断法人代码唯一 -->
  <select id="findCorporateNoHasExist" parameterType="String" resultType="String">
    SELECT CORPORATE_NO
      FROM T_ENTERPRISE
     WHERE REMOVE = '0'
       AND CORPORATE_NO = #{corporateNo}
     <if test="id != null and id != ''">
       AND ID <![CDATA[<>]]> #{id}
     </if>
       AND ROWNUM = 1
  </select>
  <!-- 企业名称来 判断法人代码唯一 -->
   <select id="findCopmanyHasExist" parameterType="String" resultType="String">
    SELECT CORPORATE_NO
      FROM T_ENTERPRISE
     WHERE REMOVE = '0'
       AND ENTERPRISE_NAME = #{company}
  </select>
  
   <!--查询物流企业  -->
   <select id="findCorporateNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    	CORPORATE_NO, ENTERPRISE_NAME,ENTERPRISE_TYPE
   	FROM T_ENTERPRISE
   	WHERE ENTERPRISE_TYPE = #{enterpriseType,jdbcType=VARCHAR} AND REMOVE = '0'
  </select>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
	    ID, CORPORATE_NO, ENTERPRISE_NAME, ENTERPRISE_TYPE, CORPORATE_REP, ENTERPRISE_INTRODUCE, 
	    REGISTER_OFFICE, LOGON_CAPITAL, MAJOR_BUSINESS_ROUTE, ESTABLISH_DATE, OPEN_ACCOUNT_BANK, 
	    REGISTRATION_NO, PROFESSIONAL_WORK, TAXATION_NO, OPERATE_AREA, ADDRESS, NETWORK_ADDR, 
	    TELEPHONE,CROSS_DOMAIN_TYPE, UPDATE_TIME, 
	    CASE
	      WHEN TE.VEHICLE_NUM IS NULL THEN
	       0
	      ELSE
	         (SELECT COUNT(VE.ID)
	            FROM T_DANGER_VEHICLE VE
	           WHERE VE.CORPORATE_NO = TE.CORPORATE_NO
	             AND REMOVE = '0')
	    END VEHICLE_NUM	
    FROM T_ENTERPRISE TE
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findFileIdById" parameterType="java.lang.String" resultType="java.lang.String"  >
    SELECT FILE_ID
      FROM T_ENTERPRISE_FILE_RELA
     WHERE ENTERPRISE_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 分页查询物流企业信息 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		    ID,                CORPORATE_NO,      ENTERPRISE_NAME, 
		    ENTERPRISE_TYPE,   CORPORATE_REP,     ENTERPRISE_INTRODUCE, 
		    REGISTER_OFFICE,   LOGON_CAPITAL,     MAJOR_BUSINESS_ROUTE, 
		    ESTABLISH_DATE,    OPEN_ACCOUNT_BANK, REGISTRATION_NO, 
		    PROFESSIONAL_WORK, TAXATION_NO,       OPERATE_AREA, 
		    ADDRESS,           NETWORK_ADDR,      TELEPHONE, UPDATE_TIME, 
		    CASE
		      WHEN TE.VEHICLE_NUM IS NULL THEN
		       0
		      ELSE
		         (SELECT COUNT(VE.ID)
		            FROM T_DANGER_VEHICLE VE
		           WHERE VE.CORPORATE_NO = TE.CORPORATE_NO
		             AND REMOVE = '0')
		    END VEHICLE_NUM
		FROM T_ENTERPRISE TE
	   WHERE TE.remove = '0'
	    <if test="searchKey != null and searchKey != ''">
		 AND (TE.ENTERPRISE_NAME like '%' || #{searchKey} || '%'
		  OR TE.CORPORATE_NO like '%' || #{searchKey} || '%')
		</if>
		<if test="corporateNo != null ">
		 AND TE.CORPORATE_NO=#{corporateNo, jdbcType=VARCHAR}
		</if>
		<if test="enterpriseType != null ">
		 AND TE.ENTERPRISE_TYPE=#{enterpriseType, jdbcType=VARCHAR}
		</if>
		<if test="isPC == '1'.toString()"> <!-- 若为PC端登录，则按照修改时间降序显示 -->
		 	ORDER BY TE.update_time DESC
		</if>
	    <if test="isPC == '0'.toString()"> <!-- 若为手机端登录，则按照物流企业首字母降序显示 -->
		 	ORDER BY TE.ENTERPRISE_NAME DESC
		</if>
	</select>
	
  <!-- 逻辑删除-->
  <update id="delete" parameterType="map">
    <if test="ids != null and ids.length > 0">
      UPDATE T_ENTERPRISE SET
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        REMOVE      = #{remove}
      <where>
        <foreach collection="ids" item="item" open="id in (" close=")" separator=",">
          #{item}
        </foreach>
      </where>
    </if>
  </update>
  
  <!-- 逻辑删除-->
  <update id="deleteLogisticst" parameterType="map">
     BEGIN
     <!-- 报警记录删除start -->
     DELETE from T_ALARM_MANAGE TA
 WHERE TA.REMOVE = '0'
   AND TA.LICENCE_PLATE_NO IN
       (SELECT TD.LICENCE_PLATE_NO
          FROM T_DANGER_VEHICLE TD
         WHERE TD.CORPORATE_NO =
               (SELECT TE.CORPORATE_NO
                  FROM T_ENTERPRISE TE
                 WHERE TE.ID = #{id,jdbcType=VARCHAR}));
     
     <!-- 报警记录删除end -->
     <!-- 企业删除 start -->
	  UPDATE T_FILE_UPLOAD
	     SET REMOVE      = '1',
        		UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
        		UPDATE_TIME = SYSDATE
	   WHERE ID IN (SELECT FILE_ID FROM T_ENTERPRISE_FILE_RELA WHERE ENTERPRISE_ID = #{id,jdbcType=VARCHAR});
	
	  UPDATE  T_ENTERPRISE_FILE_RELA 
	  	 SET REMOVE      = '1'
	  WHERE ENTERPRISE_ID  = #{id,jdbcType=VARCHAR};
	
	  UPDATE T_ENTERPRISE
	     SET REMOVE      = '1' ,
        		UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
        		UPDATE_TIME = SYSDATE
	  WHERE ID = #{id,jdbcType=VARCHAR};
	<!-- 企业删除 end -->
	
	EXCEPTION
	  WHEN OTHERS THEN
	    ROLLBACK;
	END;
  </update>
  
  <!-- 通過法人代碼更新車輛數量-->
  <update id="updateVerchierNumByCorporateNo" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity">
      UPDATE T_ENTERPRISE SET
        VEHICLE_NUM   = #{vehicleNum,jdbcType=VARCHAR}
      <where>
      		CORPORATE_NO=#{corporateNo, jdbcType=VARCHAR}
      </where>
  </update>
  
  <insert id="save" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    insert into T_ENTERPRISE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="corporateNo != null" >
        CORPORATE_NO,
      </if>
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME,
      </if>
      <if test="enterpriseType != null" >
        ENTERPRISE_TYPE,
      </if>
      <if test="corporateRep != null" >
        CORPORATE_REP,
      </if>
      <if test="enterpriseIntroduce != null" >
        ENTERPRISE_INTRODUCE,
      </if>
      <if test="registerOffice != null" >
        REGISTER_OFFICE,
      </if>
      <if test="logonCapital != null" >
        LOGON_CAPITAL,
      </if>
      <if test="majorBusinessRoute != null" >
        MAJOR_BUSINESS_ROUTE,
      </if>
      <if test="establishDate != null" >
        ESTABLISH_DATE,
      </if>
      <if test="openAccountBank != null" >
        OPEN_ACCOUNT_BANK,
      </if>
      <if test="registrationNo != null" >
        REGISTRATION_NO,
      </if>
      <if test="professionalWork != null" >
        PROFESSIONAL_WORK,
      </if>
      <if test="taxationNo != null" >
        TAXATION_NO,
      </if>
      <if test="operateArea != null" >
        OPERATE_AREA,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="networkAddr != null" >
        NETWORK_ADDR,
      </if>
      <if test="vehicleNum != null" >
        VEHICLE_NUM,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="crossDomainType4Enter != null" >
        CROSS_DOMAIN_TYPE,
      </if>
      <if test="remove != null" >
        REMOVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corporateNo != null" >
        #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="corporateRep != null" >
        #{corporateRep,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseIntroduce != null" >
        #{enterpriseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="registerOffice != null" >
        #{registerOffice,jdbcType=VARCHAR},
      </if>
      <if test="logonCapital != null" >
        #{logonCapital,jdbcType=DECIMAL},
      </if>
      <if test="majorBusinessRoute != null" >
        #{majorBusinessRoute,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=DATE},
      </if>
      <if test="openAccountBank != null" >
        #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="professionalWork != null" >
        #{professionalWork,jdbcType=VARCHAR},
      </if>
      <if test="taxationNo != null" >
        #{taxationNo,jdbcType=VARCHAR},
      </if>
      <if test="operateArea != null" >
        #{operateArea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkAddr != null" >
        #{networkAddr,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNum != null" >
        #{vehicleNum,jdbcType=DECIMAL},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crossDomainType4Enter != null" >
        #{crossDomainType4Enter,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    update T_ENTERPRISE
    <set >
      <if test="corporateNo != null" >
        CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        ENTERPRISE_TYPE = #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="corporateRep != null" >
        CORPORATE_REP = #{corporateRep,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseIntroduce != null" >
        ENTERPRISE_INTRODUCE = #{enterpriseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="registerOffice != null" >
        REGISTER_OFFICE = #{registerOffice,jdbcType=VARCHAR},
      </if>
      <if test="logonCapital != null" >
        LOGON_CAPITAL = #{logonCapital,jdbcType=DECIMAL},
      </if>
      <if test="majorBusinessRoute != null" >
        MAJOR_BUSINESS_ROUTE = #{majorBusinessRoute,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        ESTABLISH_DATE = #{establishDate,jdbcType=DATE},
      </if>
      <if test="openAccountBank != null" >
        OPEN_ACCOUNT_BANK = #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        REGISTRATION_NO = #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="professionalWork != null" >
        PROFESSIONAL_WORK = #{professionalWork,jdbcType=VARCHAR},
      </if>
      <if test="taxationNo != null" >
        TAXATION_NO = #{taxationNo,jdbcType=VARCHAR},
      </if>
      <if test="operateArea != null" >
        OPERATE_AREA = #{operateArea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkAddr != null" >
        NETWORK_ADDR = #{networkAddr,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNum != null" >
        VEHICLE_NUM = #{vehicleNum,jdbcType=DECIMAL},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="crossDomainType4Enter != null" >
        CROSS_DOMAIN_TYPE =  #{crossDomainType4Enter,jdbcType=VARCHAR},
      </if>
      <if test="remove != null" >
        REMOVE = #{remove,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
   <select id="findAllName" parameterType="map" resultMap="BaseResultMap">
	SELECT  NAME
	  FROM T_ENTERPRISE where REMOVE = '0'
   </select>
  
   <!--查询物流企业  -->
   <select id="findNameByNo" resultType="java.lang.String" parameterType="java.lang.String" >
    SELECT ENTERPRISE_NAME
   	FROM T_ENTERPRISE
   	WHERE CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR} AND REMOVE = '0'
  </select>
  
  <!-- 该企业以及其车辆和人员 在资质管理中的 审核状态改变 -->
  <update id="updateLicenceInfo" parameterType="map">
	UPDATE T_LICENCE TL
	<!-- 通过的设定为已注销,其他的不变 -->
   SET TL.VERIFY_STATUS = CASE
                            WHEN TL.VERIFY_STATUS = '151001003' THEN
                             '151001004'
                            ELSE
                             TL.VERIFY_STATUS
                          END,
   <!-- 处于审核和拒绝的，逻辑删除，其余不变 -->                          
       TL.REMOVE = CASE
                     WHEN TL.VERIFY_STATUS IN ('151001001', '151001002') THEN
                      '1'
                     ELSE
                      TL.REMOVE
                   END
 WHERE TL.CORPORATE_NO = #{wlConporateNo,jdbcType=VARCHAR}
	 
  </update>
  <!-- 该企业以及其车辆和人员更新remove -->
  <update id="updatePersonAndCar" parameterType="map">
  BEGIN
  	<!-- 逻辑删除该企业人员start -->
     UPDATE T_OCCUPATION_PERSON
	     SET REMOVE      = '1' 
	  WHERE CORPORATE_NO = #{wlConporateNo,jdbcType=VARCHAR}
	  AND REMOVE='0';
     <!-- 逻辑删除该企业人员end -->
     
     
     <!-- 逻辑删除该企业车辆start -->
     UPDATE T_DANGER_VEHICLE
	     SET REMOVE      = '1' 
	  WHERE CORPORATE_NO = #{wlConporateNo,jdbcType=VARCHAR}
	  AND REMOVE='0';
     <!-- 逻辑删除该企业车辆end -->
	 EXCEPTION
	  WHEN OTHERS THEN
	    ROLLBACK;
	END;
  </update>
  
  <!-- isExist -->
  <select id="isExist" resultType="java.lang.String" parameterType="java.lang.String" >
  	select t.corporate_no
	  from T_ENTERPRISE t
	 where t.id = #{id,jdbcType=VARCHAR}
	   and t.remove = '0'
  </select>
  
  
</mapper>
