<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IEnterpriseFileDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseFileEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, ENTERPRISE_ID, FILE_ID, REMOVE
  </sql>
  
  <delete id="delete" parameterType="java.lang.String" >
    DELETE FROM T_ENTERPRISE_FILE_RELA
    WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="saves" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseFileEntity" >
    insert into T_ENTERPRISE_FILE_RELA (ID, ENTERPRISE_ID, FILE_ID, 
      REMOVE)
      <foreach collection="list" item="item" separator="union all">
	  SELECT
	  #{item.id}, 
	  #{item.enterpriseId}, 
	  #{item.fileId},
      #{item.remove} FROM DUAL
	</foreach>
  </insert>
  
  <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseFileEntity" >
    update T_ENTERPRISE_FILE_RELA set 
      ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR},
      FILE_ID = #{fileId,jdbcType=VARCHAR},
      REMOVE = #{remove,jdbcType=CHAR}
      where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteFileId" parameterType="String" >
    delete T_ENTERPRISE_FILE_RELA where 
      ENTERPRISE_ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  
</mapper>