<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IInOutAreaDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.InOutAreaEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CARRIER_NAME" property="carrierName" jdbcType="VARCHAR" />
    <result column="ENP_NAME" property="enpName" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="AREA_TYPE" property="areaType" jdbcType="VARCHAR" />
    <result column="IN_TIME" property="inTime" jdbcType="TIMESTAMP" />
    <result column="OUT_TIME" property="outTime" jdbcType="TIMESTAMP" />
    <result column="LOG_TIME" property="logTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, CARRIER_NAME, AREA_ID, AREA_TYPE, IN_TIME, OUT_TIME, LOG_TIME
  </sql>
  
  <select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select TD.ENTERPRISE_NAME ENP_NAME,
  		TC.ID, CARRIER_NAME, TC.AREA_ID, AREA_TYPE, IN_TIME, OUT_TIME, LOG_TIME
  	<if test="areaType == '171001001'" >
        , taa.AREA_NAME AREA_NAME
    </if>
    <if test="areaType == '171001002'" >
        , tab.LIMIT_NAME AREA_NAME
    </if>
    <if test="areaType == '171001003'" >
        , tac.AREA_NAME AREA_NAME
    </if>
  	from T_CAR_INOUT_AREA TC
  	LEFT JOIN T_DANGER_VEHICLE TA ON TC.CARRIER_NAME = TA.LICENCE_PLATE_NO
  	LEFT JOIN T_ENTERPRISE TD     ON TD.CORPORATE_NO = TA.CORPORATE_NO
  	<if test="areaType == '171001001'" >
        left join T_ADMINISTRATIVE_AREA taa
        on tc.area_id = taa.area_id
    </if>
  	<if test="areaType == '171001002'" >
        left join T_LIMIT_AREA tab
        on tc.area_id = tab.id
    </if>
    <if test="areaType == '171001003'" >
        left join T_USER_DEFINED_AREA tac
        on tc.area_id = tac.id
    </if>
    <where>
	    <if test="carrierName != null and carrierName != ''" >
	        CARRIER_NAME LIKE CONCAT(CONCAT('%',#{carrierName}),'%')
	    </if>
	    <if test="areaId != null and areaId != ''" >
	       and TC.AREA_ID = #{areaId}
	    </if>
	    <if test="areaType != null and areaType != '' " >
	       and TC.AREA_TYPE = #{areaType}
	    </if>
    </where>
    ORDER BY LOG_TIME DESC
  </select>
  
  
   <!-- 保存-->
  <insert id="save" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.InOutAreaEntity" >
    insert into T_CAR_INOUT_AREA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="carrierName != null" >
        CARRIER_NAME,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="areaType != null" >
        AREA_TYPE,
      </if>
      <if test="inTime != null" >
        IN_TIME,
      </if>
      <if test="outTime != null" >
        OUT_TIME,
      </if>
      <if test="logTime != null" >
        LOG_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null" >
        #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaType != null" >
        #{areaType,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
   <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.InOutAreaEntity" >
    update T_CAR_INOUT_AREA
    <set >
      <if test="inTime != null" >
        IN_TIME = #{inTime,jdbcType=TIMESTAMP},
      </if>
      <if test="outTime != null" >
        OUT_TIME = #{outTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logTime != null" >
        LOG_TIME = #{logTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE ID IN (SELECT ID FROM (SELECT ID
                         FROM T_CAR_INOUT_AREA
                        WHERE CARRIER_NAME = #{carrierName}
                          AND AREA_ID = #{areaId}
                          AND ROWNUM = 1
                        ORDER BY LOG_TIME DESC)
                 )
  </update>
  
  
</mapper>
