<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.vehiclemonitor.dao.IRuleRegulationDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.RuleRegulationEntity" >
    <id column="ID"               property="id"          jdbcType="VARCHAR" />
    <result column="IDENTIFIER"   property="identifier"  jdbcType="VARCHAR" />
    <result column="RULE_NAME"    property="ruleName"    jdbcType="VARCHAR" />
    <result column="COMPANY"      property="company"     jdbcType="VARCHAR" />
    <result column="SEND_DATE"    property="sendDate"    jdbcType="TIMESTAMP" />
    <result column="SEND_CONTENT" property="sendContent" jdbcType="VARCHAR" />
    <result column="CREATE_BY"    property="createBy"    jdbcType="VARCHAR" />
    <result column="CREATE_TIME"  property="createTime"  jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY"    property="updateBy"    jdbcType="VARCHAR" />
    <result column="UPDATE_TIME"  property="updateTime"  jdbcType="TIMESTAMP" />
    <result column="REMOVE"       property="remove"      jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, IDENTIFIER, RULE_NAME, COMPANY, SEND_DATE, SEND_CONTENT, CREATE_BY, CREATE_TIME, 
    UPDATE_BY, UPDATE_TIME, REMOVE
  </sql>
  
  <!-- 分页查询规章制度信息 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.RuleRegulationEntity">
		select
		<include refid="Base_Column_List" />
		from T_RULE_REGULATION
		<where>
		    <if test="startDate != null">
		       AND SEND_DATE &gt;= #{startDate}
		     </if>
		     <if test="endDate != null">
		       AND SEND_DATE &lt;= #{endDate}
		     </if>
			<if test="remove != null ">
				AND remove=#{remove, jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY SEND_DATE DESC
	</select>
  
  <!--通过id查询规章制度信息  -->
  <select id="findById" resultMap="BaseResultMap" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.RuleRegulationEntity" >
    select 
    <include refid="Base_Column_List" />
    from T_RULE_REGULATION
    where ID = #{id,jdbcType=VARCHAR}
    and remove='0'
  </select>
  
  <!--保存规章制度信息  -->
  <insert id="save" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.RuleRegulationEntity" >
    insert into T_RULE_REGULATION (ID, IDENTIFIER, RULE_NAME, 
      COMPANY, SEND_DATE, SEND_CONTENT, 
      CREATE_BY, CREATE_TIME, UPDATE_BY, 
      UPDATE_TIME, REMOVE)
      values (#{id,jdbcType=VARCHAR}, #{identifier,jdbcType=VARCHAR}, #{ruleName,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{sendDate,jdbcType=TIMESTAMP}, #{sendContent,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remove,jdbcType=CHAR})
  </insert>
  
  <!--编辑规章制度信息  -->
  <update id="update" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.RuleRegulationEntity" >
    UPDATE T_RULE_REGULATION
    SET IDENTIFIER = #{identifier,jdbcType=VARCHAR},
      RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      SEND_CONTENT = #{sendContent,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMOVE = #{remove,jdbcType=CHAR}
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 逻辑删除-->
  <update id="delete" parameterType="java.lang.String">
      UPDATE T_RULE_REGULATION SET
      <if test="updateBy != null and updateBy != ''">
      UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
      </if>
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMOVE = '1'
      WHERE ID = #{id}
  </update>
</mapper>