/*左侧导航栏标题图标样式*/
.login-img {
	float: left;
}

/*左侧导航栏标题*/
.login-top-title {
	margin-left: 3rem;
	margin-top: -0.5rem;
	color: #fff;
}

/*左侧导航栏副标题*/
.login-sub-title {
	font-size: 0.2rem;
	margin-left: 3rem;
	color: #fff;
}

/*左侧导航栏列表*/
#leftMenuUl li a {
	font-size: 1.5rem;
	padding-left: 4rem;
}

#leftMenuUl li a:active {
	color: #fff;
	border-left: 3px solid #02BB71;
}

/*左侧导航栏底部*/
.copyright {
	font-size: 1rem;
	margin-top: 17rem;
	text-align: center;
}

/*左侧导航栏链接图标样式*/
.pageTitle-icon {
	float: left;
	margin-left: 10px;
	margin-right: -10px;
}

/*左侧导航栏高亮*/
.leftHighLight {
	border-left: 0.5rem solid #02BB71;
	background-color: #031528;
}

/*
*
*左侧导航栏列表前小图标
*/
/*企业信息*/
.monitor-img:after {
	content: url(../../images/appImages/monitor.png);
	vertical-align: middle;
	margin-right: 1rem;
}

/*车辆*/
.assess-img:after {
	content: url(../../images/appImages/assess.png);
	vertical-align: middle;
	margin-right: 1rem;
}

/*订单*/
.trade-img:after {
	content: url(../../images/appImages/trade.png);
	vertical-align: middle;
	margin-right: 1rem;
}

/*运单*/
.check-img:after {
	content: url(../../images/appImages/check.png);
	vertical-align: middle;
	margin-right: 1rem;
}

/*页面标题样式*/
.pageTitle {
	color: #fff;
	text-align: center;
	height: 3rem;
	vertical-align: middle;
}

/*控制头部背景色*/
.header {
	background-color: #102133;
}

/*tab标签标题字体大小*/
.tabTitle {
	display: flex;
}

/*tab标签标题样式*/
.tabTitleLi {
	font-size: 0.8em;
	flex: 1;
	text-align: center;
}

/*数据展示区字体*/
.showData {
	font-size: 0.7em;
	margin-top: 1rem;
}

/*数据操作区*/
.list-handel {
	margin-left: 10em;
	display: flex;
}

.btn-handel {
	flex: 1;
	font-size: 1.3rem;
}

/*数据展示区*/
.showDataList {
	border-bottom: 1px #ccc solid;
	padding-bottom: 1rem;
}

.hidden {
	display: none;
}

.btn-center {
	text-align: center;
}

.am-modal-bd { /* 	margin-top: 3rem; */
	font-size: 1.5rem;
}

/*确认弹框整体样式*/
.dialog-confirm {
	background-color: #102133;
	color: #fff;
}

/*确认弹框删除图标*/
.confirmDel:after {
	content: url(../images/round.png);
	vertical-align: middle;
}

/*确认弹框取消按钮*/
.cancelConfirmBtn {
	background-color: #F64153;
	color: #fff;
}

/*确认弹框确定按钮*/
.defineConfirmBtn {
	background-color: #02BB71;
	color: #fff;
}

/*确定按钮*/
.am-btn-sure {
	color: #fff;
	background-color: #5eb95e;
	border-color: #5eb95e;
	border-radius: 0.5rem;
	width: 30rem;
	height: 3rem;
}

/*点击加载更多按钮*/
.pageFooter {
	display: flex;
	text-align: center;
}

/*模态框重置*/
.panel .am-modal-dialog {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
	min-height: 100%;
	background: #f8f8f8;
	left: 0;
	top: 0;
}

.btn-Footer {
	flex: 1;
	font-size: 0.7em;
}

/*form表单*/
.form-label {
	flex: 0.5;
}

.form-line {
	margin-right: 2rem;
}

#sex-update {
	border-radius: 0.5rem;
}

/* 头部搜索 */
.top-search {
	padding: 18px;
	background-color: #ECF0F4;
}

/* 列表顶部内边距 */
.list-top-padding {
	padding-top: 2px;
}

/* 列表（细）水平线 */
.horizontal-line {
	padding: 10px 0;
	border-bottom: solid 1px #ECF0F4;
}

/*列表(粗)水平线 */
.horizontal-wideline {
	padding: 10px 0;
	border-bottom: solid 8px #ECF0F4;
}

/** 详情背景色 */
.detail-backcolor {
	background-color: #ECF0F4;
}

/* 详情水平线 */
.detail-horizontal-line {
	padding: 5px 0;
	border-bottom: solid 1px #fff;
}

/**详情右侧线条*/
.am-u-sm-5 {
	border-right: 1px solid #fff;
}

/* 详情head头样式 */
.detail-head {
	font-size: 16px;
	text-align: left;
	padding-left: 6px;
	margin-right: 9px;
	background-color: #102133;
	color: #fff;
	border: 1px solid #fff;
}

/**顶部返回按钮*/
.am-close-spin {
	position: absolute;
	top: 4px;
	left: 6px;
}

/**评分分数*/
.com_score {
	font-size: 18px;
	margin-left: 8px;
	color: #FA880A;
	font-weight: bolder;
	display: inline;
	height: 25px;
	width: 30px;
	background: #63E6B2;
	border-radius: 7px;
}

/* button按钮获取焦点 */
button:focus {
	background-color: #ECF0F4;
	color: #02BB71;
	border: 2px solid #5CB85C;
	outline: none;
}

/* search搜索框宽度 */
.search_width {
	width: 80%;
}

/* 搜索按钮样式 */
.mysearch-btn {
	width: 16%;
	color: #52D1F7;
	border-radius: 8px;
	height: 30px;
	font-size: small;
	text-align: center;
	background-color: white;
	line-height: 0px;
}

.rela_span {
	position: relative;
}
/* 文本框中清除内容样式 */
.clear-x {
	position: absolute;
	top: 7px;
	right: 12px;
	background-color: rgb(184, 193, 202);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: white;
	line-height: 15px;
}