.diaglogElctronWidth{
	width:700px;
    min-height: 400px;
    max-height: 700px;
}

.floatElctronWidth{
	margin-top:10px;
	display:inline;
	width:50%;
}
.DegreeElctronWidth{
	margin-top:10px;
	display:inline;
	width:19%;
}
.textPosition {
  	margin: 20px auto;
}

.moudleresourceZtree {
  overflow: auto;
  padding: 0px;
  height:430px
}

/* 电子围栏规则编辑样式设置 */
.electronCss{
	width: 130px;
}
.boatNameCont {
  	/* width: 750px; */
  	background-color: rgb(243, 239, 239);
  	/* border: 1px solid rgb(208, 208, 208); */
  	padding-top: 6px;
  	border-radius: 5px;
  	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
/* .electNameStyle {
	border: solid 1px #ff0000;
	cursor:pointer;
	width: 10px; 
	height: 10px; 
	color: #ff0000; 
	margin-top: -6px; 
	margin-left: 4px;  
	float: left; 
	line-height: 6px;
	text-align: center;	 
} */
.dialogPanel {
	width: 840px;
}

.panelOverFlow {

}
#treeShipContain{
	height: 450px;
}
.customDialogtriangleUp{
	width: 47px;
	height: 27px;
	background: url("../img/up_triangle_blue.png") left center no-repeat;
	position: absolute;
	top: 210px;
	left: 210px;
}
.electRailArea{
	float:left;
}
#textElectRail{
	float:left;
}
.drawHidden{
	padding-top:8px;
}
.btnWidth{
	width:36px;
}