/*
*渔船报警样式
*/
.alarmInfoInput {
	margin-top:10px;
	display:inline;
	width:50%;
}
.alarmInfoTimer {
	margin-top:10px;
	display:inline;
	width:30%;
}
.alarmInfoBtn {
	margin-top:10px;
	display:inline;
	width:100%;
}
.setMessageContent{
	width:500px;
}
.alarmInfoSetInput{
	margin-top:10px;
	display:inline;
	width:50%;
}
.dealAlarmInfo{
	width: 600px;
}
.baseDealAlarmInfo{
	width:500px;
}
.dealAlarmListTitle{
	width:570px;
	background-color:#177ee6;
	font-weight: bold;
	font-size: 16px;
	height: 40px;
	line-height:40px;
	text-align: center;
	color: #fff
}

/*渔船报警*/
.alarm{
  position: relative;
  width:18px;
  height:18px;
  /* margin-left: -10px; */
  background-image:url('/GDYY/map/business/img/ship/alarm.gif');
}

#dealAlarmEditTable tr.headline td{
	color: #fff;
}
#dealAlarmEditTable td:nth-child(odd) {
	background: #EBEBEB;
	font-weight: bold;
	width:120px;
}
#dealAlarmEditTable #accidentContent,#accidentContentDiv{
	height:100px
}