<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>黑名单管理</title>
<link rel="stylesheet"
	href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../js/lib/uploadFile/Huploadify.css" />
<link rel="stylesheet" href="../../css/view/carMonitor/inforManage.css" />
<!-- 媒体查询，只能放在最后 -->
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content">
		<div role="tabpanel" class="">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="inforMag-tabs" data-module="blacklistManage">
				<li role="presentation" class="active"><a
					href="#blacklistManage" aria-controls="blacklistManage" role="tab"
					data-toggle="tab" data-module-name="blacklistManage">黑名单管理</a>
				</li>
				<!-- <li role="presentation">
                <a href="#blacklistManage" aria-controls="blacklistManage" role="tab" data-toggle="tab">黑名单管理</a>
            </li> -->
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!--黑名单管理-->
				<div role="tabpanel" class="tab-pane active" id="blacklistManage">
					<!--搜索栏区域展示-->
					<div class="searchBox" id="blacklistManage-search">
							<div class="line-searchBox">
								<div class="item-searchBox col-xs-4">
									<label class="horizontal-span" for="">类型</label> 
									<select class="form-control" name="" id="objectType-search-name">
									<option value="104001001">企业</option>
									<option value="104001003">车辆</option>
									<option value="104001002">驾驶员</option>
									</select>
								</div>
								<div class="item-searchBox col-xs-4">
									<label class="horizontal-span" id="search-item">企业名称</label> <input
										name="" id="enterpriseName-search-flag" type="text"
										class="form-control">
								</div>
								<!-- <div class="item-searchBox">
									<label class="horizontal-span" id="search-driver-item"></label>
									<input name="" id="driver-search-name" type="text"
										class="form-control  hidden">
								</div> -->
								<!-- <div class="item-searchBox  hidden">
									<label class="horizontal-span" id="search-vehicle-item"></label>
									<input name="" id="vehicle-search-name" type="text"
										class="form-control">
								</div> -->
							</div>
							<div class="line-searchBox">
								<div class="item-searchBox col-xs-6">
									<label class="horizontal-span">拉黑时间</label> <input type="text"
										class="form-control Wdate" id="blacklistStartTime"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'blacklistEndTime\')}'})"
										readonly=""> <span class="split-Wdate left-span">&nbsp;&nbsp;到&nbsp;&nbsp;</span>
									<input type="text" class="form-control Wdate" 
										id="blacklistEndTime"
										onclick="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'blacklistStartTime\')}'})"
										readonly="">
								</div>
								<div class="item-searchBox col-xs-6">
								    <label class="horizontal-span hidden">按钮</label>
									<button type="button" class="btn btn-lemon" id="blacklist-searchBtn" data-func="blacklistManage-findByPage">
										<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
									</button>
									&nbsp;&nbsp;
									<button type="button" class="btn btn-success" id="blacklist-addBtn" data-func="blacklistManage-save">
										<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;加入黑名单
									</button>
									&nbsp;&nbsp;
									<button type="button" class="btn btn-success" id="autoBlacklist-btn" data-func="blacklistManage-findAlarmNumById">
										<span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;自动拉黑设置
									</button>
								</div>
							</div>
					</div>
					<!--表格展示-->
					<table id="blacklistTable"></table>
					<div id="blacklistPager"></div>
				</div>
			</div>
		</div>
	</div>

	<!--加入黑名单弹框-->
	<div class="panel panel-gray-sm" id="blacklist-panel">
		<div class="panel-heading">
			<span class="panel-title">新增黑名单</span>
		</div>
		<form id="blacklist-form">
			<div class="panel-body">
				<div class="panel-body-content verify-park-info">
					<div class="row twoSpan">
						<div class="col-xs-6">
							<div class="col-xs-4">
								<label>拉黑对象</label>
							</div>
							<div class="col-xs-7">
								<select class="form-control saveInput" name="objectType"
									id="blacklist-objectType">
								</select> <span class="look-formPanel hidden" name="objectType"></span>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-4">
								<label id="enterpriseName-add-name" class="must" for="blackItem-add">企业名称</label>
							</div>
							<div class="col-xs-8">
								<!-- <select class="form-control saveInput" name="enterpriseId" id="enterprise-select-name">
								</select> -->
								<input class="form-control saveInput" name="" id="blackItem-add" maxlength="200"  required> 
								<span class="look-formPanel" name="enterpriseName"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<label class="must" for="blacklistReason_add">拉黑原因</label>
						</div>
						<div class="col-xs-10">
							<textarea type="text" name="blacklistReason"
								class="form-control saveInput" id="blacklistReason_add"
								data-min="1" data-max="1000" placeholder="请输入1~1000字符" maxlength="1000" required></textarea>
							<span class="look-formPanel hidden" name="blacklistReason"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer hidden">
				<button type="submit" class="btn btn-cyan" id="blacklist-submitBtn">确定</button>
				<button type="button" class="btn btn-cyan hidden"
					id="updateSubmitBtn">修改</button>
				<button type="button" class="btn btn-danger hidden"
					id="deleteSubmitBtn">删除</button>
				<button type="reset" class="btn btn-border cancel">取消</button>
			</div>
		</form>
	</div>
	
	<!--查看黑名单的详情单弹框-->
	<div class="panel panel-gray-sm" id="blacklist-panel2">
		<div class="panel-heading">
			<span class="panel-title">详情</span>
		</div>
		<form id="blacklist-form2">
			<div class="panel-body">
				<div class="panel-body-content verify-park-info">
					<div class="row hidden" id="detailDriver">
						<div class="col-xs-2">
							<label>驾驶员姓名</label>
						</div>
						<div class="col-xs-9">
							<span class="look-formPanel" name="driver"></span>
						</div>
					</div>
					<div class="row hidden" id="detailCarNo">
						<div class="col-xs-2">
							<label>车牌号</label>
						</div>
						<div class="col-xs-9">
							<span class="look-formPanel" name="vehicle"></span>
						</div>
					</div>
					<div class="row twoSpan">
						<div class="col-xs-6">
							<div class="col-xs-4">
								<label>企业名称</label>
							</div>
							<div class="col-xs-7">
								<input class="form-control saveInput" name="parkTarget-totalUsed"
									id="blacklist-objectType" />  
									<span class="look-formPanel hidden" name="enterpriseName"></span>
							</div>
						</div>
						<div class="col-xs-6 ">
							<div class="col-xs-4">
								<label id="search-item-two">拉黑时间</label>
							</div>
							<div class="col-xs-7">
								<input type="text" id="typeFlag-add-name" name="parkTarget-totalUsed"
									class="form-control saveInput" id="parkTarget-totalUsed" />
									 <span class="look-formPanel hidden" name="blacklistDate"></span>
							</div>
						</div>
					</div>
					<div class="row twoSpan">
						<div class="col-xs-6">
							<div class="col-xs-4">
								<label id="enterpriseName-add-name">拉黑类型</label>
							</div>
							<div class="col-xs-7">
								<select class="form-control saveInput" name="parkTarget-totalUsed"
									id="enterprise-select-name">
								</select> <span class="look-formPanel" name="blacklistType"></span>
							</div>
						</div>
						<div class="col-xs-6" id="blacklistTypeDiv">
							<div class="col-xs-4">
								<label>操作人</label>
							</div>
							<div class="col-xs-7">
								<input class="form-control saveInput" name="parkTarget-totalUsed"
									id="enterprise-select-name">
								</input> <span class="look-formPanel" name="operatePerson"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<label>拉黑原因</label>
						</div>
						<div class="col-xs-9">
							<textarea type="text" name="blacklistReason"
								class="form-control saveInput" id="parkTarget-totalUsed" ></textarea>
							<span class="look-formPanel hidden" name="blacklistReason"></span>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>


	<!--自动拉黑弹框-->
	<div class="panel panel-gray-sm" id="auto-blacklist-panel">
		<div class="panel-heading">
			<span class="panel-title">自动拉黑设置</span>
		</div>
		<form id="auto-blacklist-form">
			<div class="panel-body">
				<div class="panel-body-content verify-park-info">
					<div class="row">
						<input type="text" class="form-control hidden" name="id">
						<div class="col-xs-6">
							<label>车辆拉黑设置：自动报警数达到</label>
						</div>
						<div class="col-xs-2">
							<input type="text" name="vehicleAlarmNum"
								class="form-control saveInput" id="parkTarget-totalUsed"
								maxlength="10" error-msg="只能输入1到9999的正数" pattern="^[1-9]\d{0,3}$"/> <span
								class="look-formPanel hidden" name="vehicleAlarmNum"></span>
						</div>
						<div class="col-xs-3">
							<label>将自动加入黑名单</label>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<label>驾驶员拉黑设置：自动报警数达到</label>
						</div>
						<div class="col-xs-2">
							<input type="text" name="driverAlarmNum"
								class="form-control saveInput" id="parkTarget-totalUsed"
								maxlength="10" error-msg="只能输入1到9999的正数" pattern="^[1-9]\d{0,3}$" /> <span
								class="look-formPanel hidden" name="driverAlarmNum"></span>
						</div>
						<div class="col-xs-3">
							<label>将自动加入黑名单</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer hidden">
				<button type="submit" class="btn btn-cyan"
					id="autoBlacklist-submit-btn">确定</button>
				<button type="reset" class="btn btn-border cancel">取消</button>
			</div>
		</form>
	</div>

	<!--js引用-->
	<script src="../../js/loadScript.js"></script>
	<!-- <script src="../../js/lib/jquery/jquery-1.11.2.min.js"></script>
	<script src="../../js/lib/jquery/jquery-ui.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap-typeahead.js"></script>
	<script src="../../js/lib/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="../../js/lib/jqGrid/grid.locale-cn.js"></script>
	<script src="../../js/lib/datePicker/WdatePicker.js"></script>
	<script src="../../js/lib/uploadFile/jquery.Huploadify.js"></script>
	<script src="../../js/module/jquery-html5Validate.js"></script>
	<script src="../../js/module/message-2.0.0.js"></script>
	<script src="../../js/module/base.js"></script>
	<script src="../../js/module/topMenu.js"></script> -->
	<script src="../../js/view/carMonitor/blacklistManage.js"></script>
</body>
</html>