<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>统计分析</title>
<link rel="stylesheet"
	href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../css/view/carMonitor/statisticalAly.css" />
<!-- 媒体查询，只能放在最后 -->
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content">
		<div role="tabpanel" class="">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="statistical-tabs" >
				<li role="presentation" class="active" data-module="wlEnpStatistical">
				    <a href="#wlEnpStatistical" aria-controls="wlEnpStatistical" role="tab"
					   data-toggle="tab" data-module-name="wlEnpStatistical">物流企业统计</a>
				</li>
				<li role="presentation" class="" data-module="carDistributeStatistical">
				    <a href="#carDistributeStatistical" aria-controls="carDistributeStatistical" role="tab"
					   data-toggle="tab" data-module-name="carDistributeStatistical">车辆区域分布情况统计</a>
				</li>
				<li role="presentation" class="" data-module="wayBillStatistical">
				    <a href="#wayBillStatistical" aria-controls="wayBillStatistical" role="tab"
					   data-toggle="tab" data-module-name="wayBillStatistical">运单统计</a>
				</li>
				<li role="presentation" class="" data-module="ptStatistical">
				    <a href="#ptStatistical" aria-controls="ptStatistical" role="tab"
					   data-toggle="tab" data-module-name="ptStatistical">接入平台统计</a>
				</li>
				
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!--物流企业统计  -->
				<div role="tabpanel" class="tab-pane active"  id="wlEnpStatistical" data-module="wlEnpStatistical">
					<!-- 图表展示 -->
					<div class="row ">
	                    <div class="col-xs-4"><div id="statistics_pie_enp" class="pieHeight"></div></div>
	                    <div class="col-xs-4"><div id="statistics_pie_car" class="pieHeight"></div></div>
	                    <div class="col-xs-4"><div id="statistics_pie_wbi" class="pieHeight2"></div></div>
	                </div>
					<!--表格展示-->
					<div class="" id="table_view">
						<table id="statisticsTable"></table>
						<div   id="statisticsPager"></div>
					</div>
					
					<!-- 柱状图 -->
					<div id="column_view" class="hidden footerChart">
					    <!-- 柱状图搜索 -->
						<form class="form-inline col_search">
						    <div class="form-group">
						        <label for="startTime">时间</label>
						        <input type="text" class="form-control Wdate" id="serach_startTime" placeholder="开始时间"
						          onclick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'serach_endTime\')}'})"
								  readonly="readonly">
						    </div>
						    <div class="form-group">
						        <label for="endTime">到</label>
						        <input type="text" class="form-control Wdate" id="serach_endTime" placeholder="结束时间" 
						          onclick="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'serach_startTime\')}'})"
								  readonly="readonly">
						    </div>
						    <button type="button" class="btn btn-lemon" id="searchBtn">
							     <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
							</button>
							
						</form>
                        <!-- 柱状图展示 -->
                       
						<button type="button" class="btn btn-success" id="back-list" >
							<span class="glyphicon glyphicon-menu"></span>&nbsp;&nbsp;返回列表
						</button>
						
						<div class="hidden" id="statistics_col_car"></div>
						<div class="hidden" id="statistics_col_alr"></div>
						<div class="hidden" id="statistics_col_wbi"></div>
					</div>
				</div>
				<!-- 车辆区域分布情况 -->
				<div role="tabpanel" class="tab-pane" id="carDistributeStatistical" data-module="carDistributeStatistical">
					<!--柱状图 展示 -->
					<div id="statistics_col_carArea" class="headerChart">
						
					</div>
					<!--搜索-->
					<div class="searchBox" id="carStatistical-search">
							<div class="line-searchBox">
								<div class="item-searchBox col-xs-4">
									<label class="horizontal-span">车牌号</label> 
									<input name="" id="plateNumber-search" maxlength="200" type="text" class="form-control">
								</div>
								<div class="item-searchBox col-xs-4">
									<label class="horizontal-span" for="">选择区域</label> <select
										class="form-control" name="" id="chooseArea-search">
										<option value="">全部</option>
									</select>
								</div>
								<div class="item-searchBox col-xs-2">
									<button type="button" class="btn btn-lemon" id="carSearchClick" data-func="alarmManage-findByPage">
										<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
									</button>
								</div>
							</div>
					</div>
					<!--表格展示 -->
					<table id="statisticsCarTable"></table>
					<div id="statisticsCarPager"></div>
				</div>
				<!-- 运单统计 -->
				<div role="tabpanel" class="tab-pane"  id="wayBillStatistical" data-module="wayBillStatistical">
					<!-- 图表展示 -->
					<div class="row ">
	                    <div class="col-xs-4"><div id="wayBillStatistical_pie_lac" class="pieHeight"></div></div>
	                    <div class="col-xs-4"><div id="wayBillStatistical_pie_cac" class="pieHeight"></div></div>
	                    <div class="col-xs-4" style="position:relative"><div id="wayBillStatistical_pie_has" class="pieHeight2"></div>
	                    	<select class="form-control" name="wayBillTimeChoice" id="wayBillTimeChoice"
	                    				onselect="wayBillStatistical.getPieData()">
										<option value="1" selected="selected">本年</option>
										<option value="2">本月</option>
										<option value="3">本周</option>
							</select>
						</div>
	                </div>
					<!--表格展示-->
					<div class="" id="table_view2">
						<table id="wayBillStatisticalTable"></table>
						<div   id="wayBillStatisticalPager"></div>
					</div>				
				</div>
				<!-- 接入平台统计 -->
				<div role="tabpanel" class="tab-pane" id="ptStatistical" data-module="ptStatistical">
					<!--表格展示 -->
					<table id="ptTable"></table>
					<div id="ptPager"></div>
				</div>
				
			</div>
		</div>
	</div>
	
	<!--js引用-->
	<script src="../../js/loadScript.js"></script>
	<script src="../../js/lib/highcharts.js"></script>
	<script src="../../js/lib/highcharts-3d.js"></script>
	<script src="../../js/view/carMonitor/statisticalTabsToggle.js"></script>
	<script src="../../js/view/carMonitor/wlEnpStatistical.js"></script>
	<script src="../../js/view/carMonitor/carDistributeStatistical.js"></script>
	<script src="../../js/view/carMonitor/wayBillStatistical.js"></script>
<script src="../../js/view/carMonitor/ptStatistical.js"></script>
	
</body>
</html>