@charset "UTF-8";

.pieHeight {
	height: 230px;
	/* 		margin-bottom: 20px; */
}

.pieHeight2 {
	height: 260px;
}

#statisticsTable .ui-th-ltr,.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
	background-color: rgb(15, 69, 118);
	color: #fff;
	line-height: 37px;
	padding-right: 0;
	font-family: Microsoft YaHei, Trebuchet MS, Tahoma, Verdana, Arial,
		sans-serif;
	font-size: 15px;
	font-weight: normal;
	border-bottom: none;
}

/* 三角图标 */
.triangle {
	vertical-align: middle;
	float: right;
	height: 37px;
	width: 36px;
	background: url(/JXWL/images/icon/triangle.png) left center no-repeat;
}

.footerChart {
	height: 320px;
}
.headerChart{
	height:370px;
}
#back-list {
	float: right;
	z-index: 11111;
	position:absolute;
	right: 40px;
}

/* 柱状图搜索 */
.col_search {
	margin-left: 40px;
}

#wayBillTimeChoice{
  width: 18% !important;
  position: absolute;
  top: 10px;
  left: 400px;
  background:rgb(15, 69, 118);
  color:#fff;
  
}
#wayBillStatistical .col-xs-4{
	padding:0;
}