<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.transacation.dao.IBayonetDao" >
	<resultMap id="BaseResultMap" type="com.c503.sc.jxwl.transacation.vo.BayOne" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DRIVER_ID" property="driverId" jdbcType="VARCHAR" />
    <result column="ESCORT_ID" property="escortId" jdbcType="VARCHAR" />
    <result column="CHEMICAL_ID" property="chemicalId" jdbcType="VARCHAR" />
    <result column="LOGISTICS_ID" property="logisticsId" jdbcType="VARCHAR" />
    <result column="VEHICLE_ID" property="vehicleId" jdbcType="VARCHAR" />
    <result column="CHECKNO" property="checkno" jdbcType="VARCHAR" />
    <result column="CONSUMERNO" property="consumerno" jdbcType="VARCHAR" />
    <result column="STARTPOINT" property="startpoint" jdbcType="VARCHAR" />
    <result column="ENDPOINT" property="endpoint" jdbcType="VARCHAR" />
    <result column="DELIVERYUNIT" property="deliveryunit" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITPERSON" property="deliveryunitperson" jdbcType="VARCHAR" />
    <result column="CHECKSTATUS" property="checkstatus" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITADDRESS" property="deliveryunitaddress" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITTIME" property="deliveryunittime" jdbcType="DATE" />
    <result column="ACHIEVEUINT" property="achieveuint" jdbcType="VARCHAR" />
    <result column="ACHIEVEPERSON" property="achieveperson" jdbcType="VARCHAR" />
    <result column="ACHIEVEPHONE" property="achievephone" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITPHONE" property="deliveryunitphone" jdbcType="VARCHAR" />
    <result column="ACHIEVEADDRESS" property="achieveaddress" jdbcType="VARCHAR" />
    <result column="ACHIEVETIME" property="achievetime" jdbcType="DATE" />
    <result column="DRIVER" property="driver" jdbcType="VARCHAR" />
    <result column="DRIVERPHONE" property="driverphone" jdbcType="VARCHAR" />
    <result column="DRIVERID" property="driverid" jdbcType="VARCHAR" />
    <result column="DRIVERNO" property="driverno" jdbcType="VARCHAR" />
    <result column="ESCORT" property="escort" jdbcType="VARCHAR" />
    <result column="ESCORTPHONE" property="escortphone" jdbcType="VARCHAR" />
    <result column="HANDCARNO" property="handcarno" jdbcType="VARCHAR" />
    <result column="ESCORTNO" property="escortno" jdbcType="VARCHAR" />
    <result column="ESCORTID" property="escortid" jdbcType="VARCHAR" />
    <result column="CARNO" property="carno" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
    <result column="GOODSNAME" property="goodsname" jdbcType="VARCHAR" />
    <result column="VERIFYSTATUS" property="verifystatus" jdbcType="VARCHAR" />
    <result column="VERIFYPERSON" property="verifyperson" jdbcType="VARCHAR" />
    <result column="BAYONETPORT" property="bayonetport" jdbcType="VARCHAR" />
    <result column="VERIFYTIME" property="verifytime" jdbcType="TIMESTAMP" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
	<sql id="Base_Column_List" >
    ID, 				DRIVER_ID, 				ESCORT_ID, 			CHEMICAL_ID, 			LOGISTICS_ID, 
    VEHICLE_ID, 		CHECKNO, 				CONSUMERNO, 		STARTPOINT, 			ENDPOINT,
    DELIVERYUNIT, 		DELIVERYUNITPERSON, 	CHECKSTATUS,	 	DELIVERYUNITADDRESS,	DELIVERYUNITTIME,
    ACHIEVEUINT, 		ACHIEVEPERSON, 			ACHIEVEPHONE, 		DELIVERYUNITPHONE, 		ACHIEVEADDRESS, 
    ACHIEVETIME, 		DRIVER, 				DRIVERPHONE, 		DRIVERID, 				DRIVERNO, 
    ESCORT, 			ESCORTPHONE, 			HANDCARNO, 			ESCORTNO, 				ESCORTID, 
    CARNO, 				REMARK, 				CREATE_BY, 			CREATE_TIME, 			UPDATE_BY, 
    UPDATE_TIME, 	 	REMOVE,					VERIFYSTATUS,		VERIFYPERSON,			VERIFYTIME
  </sql>

   	<!-- 分页查询运单信息 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  TC.CHECKNO,
	    		TC.CARNO,
	    		TC.STARTPOINT,
	    		TC.ENDPOINT,
		        TC.CHECKSTATUS,
		        TC.DELIVERYUNITTIME,
		        TC.CHEMICAL_ID,
		        TC.LOGISTICS_ID,
		        TC.DRIVERID,
		        TD.ID,
				TC.CONSUMERNO,
				TC.DELIVERYUNIT,
				TC.DELIVERYUNITPERSON,
				TC.DELIVERYUNITPHONE,
				TC.DELIVERYUNITADDRESS,
				TC.ACHIEVEUINT,
				TC.ACHIEVEPERSON,
				TC.ACHIEVEPHONE,
				TC.ACHIEVEADDRESS,
				TC.ACHIEVETIME,
				TC.DRIVER,
				TC.DRIVERPHONE,
				TC.DRIVERNO,
				TC.HANDCARNO,
				TC.ESCORT,
				TC.ESCORTPHONE,
				TC.ESCORTID,
				TC.ESCORTNO,
				TC.REMARK,
				TD.VERIFYSTATUS,
       			TD.VERIFYPERSON,
       			TD.BAYONETPORT,
      			TD.VERIFYTIME,
		        TB.GOODSNAME
	        FROM T_WAYBILL TC LEFT JOIN TB ON TC.ID = TB.WAYBILL_ID RIGHT JOIN T_BAYONET TD ON TC.ID = TD.ORDERS
	    WHERE TC.REMOVE = '0'
		      <if test="checkno != null and checkno != ''">
		  	   AND TC.CHECKNO  LIKE CONCAT(CONCAT('%',#{checkno,jdbcType=VARCHAR}),'%')
		  	  </if>
		  	  <!-- 用于精确查询：根据运单号查询 -->
		  	  <if test="wayBillNo != null and wayBillNo != ''">
		  	   AND TC.CHECKNO = #{wayBillNo,jdbcType=VARCHAR}
		  	  </if> 
			 <if test="verifystatus != null and verifystatus != ''">
		  	   AND TD.VERIFYSTATUS = #{verifystatus,jdbcType=VARCHAR}
		  	  </if>
		  	 <!--  <if test="id != null and id != ''">
		  	   AND TC.ID = #{id,jdbcType=VARCHAR}
		  	  </if> -->
		  	  <if test="carno != null and carno != ''"> 
		  	   AND TC.CARNO LIKE CONCAT(CONCAT('%',#{carno,jdbcType=VARCHAR}),'%')
		  	  </if>
		      ORDER BY TD.VERIFYTIME DESC
	</select>
	
	<select id="findByOrders" resultMap="BaseResultMap" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  TC.CHECKNO,
	    		TC.CARNO,
	    		TC.STARTPOINT,
	    		TC.ENDPOINT,
		        TC.CHECKSTATUS,
		        TC.DELIVERYUNITTIME,
		        TC.CHEMICAL_ID,
		        TC.LOGISTICS_ID,
		        TC.DRIVERID,
		        TC.ID,
				TC.CONSUMERNO,
				TC.DELIVERYUNIT,
				TC.DELIVERYUNITPERSON,
				TC.DELIVERYUNITPHONE,
				TC.DELIVERYUNITADDRESS,
				TC.ACHIEVEUINT,
				TC.ACHIEVEPERSON,
				TC.ACHIEVEPHONE,
				TC.ACHIEVEADDRESS,
				TC.ACHIEVETIME,
				TC.DRIVER,
				TC.DRIVERPHONE,
				TC.DRIVERNO,
				TC.HANDCARNO,
				TC.ESCORT,
				TC.ESCORTPHONE,
				TC.ESCORTID,
				TC.ESCORTNO,
				TC.REMARK,
				TC.ORDER_NO,
				TC.UPDATE_TIME,
				TD.VERIFYSTATUS,
       			TD.VERIFYPERSON,
       			TD.UPDATE_TIME,
       			TD.CREATE_TIME,
       			TD.BAYONETPORT,
      			TD.VERIFYTIME,
		        TB.GOODSNAME
	        FROM T_WAYBILL TC LEFT JOIN TB ON TC.ID = TB.WAYBILL_ID LEFT JOIN T_BAYONET TD ON TC.ID = TD.ORDERS
	    WHERE TC.REMOVE = '0'
		      <if test="orders != null and orders != ''">
		  	   AND TC.CHECKNO = #{orders,jdbcType=VARCHAR}
		  	  </if>
		  	  
		  	  ORDER BY TD.VERIFYTIME DESC
	</select>
  
	<select id="findRecordById" resultMap="BaseResultMap" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  TC.CHECKNO,
	    		TC.CARNO,
	    		TC.STARTPOINT,
	    		TC.ENDPOINT,
		        TC.CHECKSTATUS,
		        TC.DELIVERYUNITTIME,
		        TC.CHEMICAL_ID,
		        TC.LOGISTICS_ID,
		        TC.DRIVERID,
		        TC.ID,
				TC.CONSUMERNO,
				TC.DELIVERYUNIT,
				TC.DELIVERYUNITPERSON,
				TC.DELIVERYUNITPHONE,
				TC.DELIVERYUNITADDRESS,
				TC.ACHIEVEUINT,
				TC.ACHIEVEPERSON,
				TC.ACHIEVEPHONE,
				TC.ACHIEVEADDRESS,
				TC.ACHIEVETIME,
				TC.DRIVER,
				TC.DRIVERPHONE,
				TC.DRIVERNO,
				TC.HANDCARNO,
				TC.ESCORT,
				TC.ESCORTPHONE,
				TC.ESCORTID,
				TC.ESCORTNO,
				TC.REMARK,
				TC.ORDER_NO,
				TD.VERIFYSTATUS,
       			TD.VERIFYPERSON,
       			TD.UPDATE_TIME,
       			TD.CREATE_TIME,
       			TD.BAYONETPORT,
      			TD.VERIFYTIME,
		        TB.GOODSNAME
	        FROM T_WAYBILL TC LEFT JOIN TB ON TC.ID = TB.WAYBILL_ID LEFT JOIN T_BAYONET TD ON TC.ID = TD.ORDERS
	    WHERE TC.REMOVE = '0'
		      <if test="orders != null and orders != ''">
		  	   AND TC.CHECKNO = #{orders,jdbcType=VARCHAR}
		  	  </if>
		  	   <if test="id != null and id != ''">
		  	   AND TD.id = #{id,jdbcType=VARCHAR}
		  	  </if>
	</select>

    <update id="update" parameterType="java.util.Map" >
	    UPDATE T_BAYONET
	    SET     VERIFYSTATUS = #{verifystatus,jdbcType=VARCHAR},
	      		VERIFYPERSON = #{verifyperson,jdbcType=VARCHAR},
	      		BAYONETPORT = #{bayonetport,jdbcType=VARCHAR},
	      		VERIFYTIME = #{verifytime,jdbcType=TIMESTAMP},
	      		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
	      		UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
	  	WHERE 	ORDERS = #{orders,jdbcType=VARCHAR} AND REMOVE = '0'
    </update>
 
 	<insert id="save" parameterType="java.util.Map" >
	    INSERT INTO T_BAYONET (ID,CREATE_BY,CREATE_TIME,ORDERS,VERIFYSTATUS,VERIFYPERSON,VERIFYTIME,REMOVE,UPDATE_TIME,UPDATE_BY,BAYONETPORT)
	    VALUES (#{id,jdbcType=VARCHAR}, 		#{createBy,jdbcType=VARCHAR}, 				#{createTime,jdbcType=TIMESTAMP}, 
	      #{orders,jdbcType=VARCHAR}, 			#{verifystatus,jdbcType=VARCHAR}, 			#{verifyperson,jdbcType=VARCHAR}, 
	      #{verifytime,jdbcType=TIMESTAMP},		#{remove,jdbcType=CHAR},					#{updateTime,jdbcType=TIMESTAMP},
	      #{updateBy,jdbcType=VARCHAR},			#{bayonetport,jdbcType=VARCHAR})
    </insert>
    <!-- 通过车辆名字查询有运单以及同意入园的进卡口信息 -->
    <select id='findByCarName'  parameterType="java.util.Map" resultMap="BaseResultMap">
		select TW.CARNO,
		       TB.VERIFYTIME
		  from T_BAYONET TB
		  left join T_WAYBILL TW
		    ON TW.ID = TB.ORDERS
		   AND TW.REMOVE = '0'
		 WHERE TB.REMOVE = '0'
		   AND TW.CARNO = #{carName,jdbcType=VARCHAR}
		   AND TB.VERIFYSTATUS='150001001'
		    	
    </select>
    
</mapper>

