<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.transacation.dao.IGoodsSourceDetailDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.transacation.bean.SrcGoods" >
    <id     column="ID"               property="id"              jdbcType="VARCHAR" />
    <result column="WAYBILLL_NO"      property="waybilllNo"      jdbcType="VARCHAR" />
    <result column="END_DATE"         property="endDate"         jdbcType="TIMESTAMP" />
    <result column="SENDER_ADDR"      property="senderAddr"      jdbcType="VARCHAR" />
    <result column="SENDER_COMPANY"   property="senderCompany"   jdbcType="VARCHAR" />
    <result column="SENDER_TEL"       property="senderTel"       jdbcType="VARCHAR" />
    <result column="RECEIVER_ADDR"    property="receiverAddr"    jdbcType="VARCHAR" />
    <result column="RECEIVER_COMPANY" property="receiverCompany" jdbcType="VARCHAR" />
    <result column="RECEIVER_TEL"     property="receiverTel"     jdbcType="VARCHAR" />
    <result column="CREATE_BY"        property="createBy"        jdbcType="VARCHAR" />
    <result column="CREATE_TIME"      property="createTime"      jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY"        property="updateBy"        jdbcType="VARCHAR" />
    <result column="UPDATE_TIME"      property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="REMOVE"           property="remove"          jdbcType="CHAR" />
    <result column="TRADE_STATUS"     property="tradeStatus"     jdbcType="VARCHAR" />
    <result column="HG_CORPORATE_NO"  property="hgCorporateNo"   jdbcType="VARCHAR" />
    <result column="WL_CORPORATE_NO"  property="wlCorporateNo"   jdbcType="VARCHAR" />
    <result column="PUBLISH_DATE"     property="publishDate"     jdbcType="TIMESTAMP" />
    <result column="START_POINT"      property="startPoint"      jdbcType="VARCHAR" />
    <result column="END_POINT"        property="endPoint"        jdbcType="VARCHAR" />
    <result column="SENDER_LINKER"    property="senderLinker"    jdbcType="VARCHAR" />
    <result column="RECEIVER_LINKER"  property="receiverLinker"  jdbcType="VARCHAR" />
	<result column="CAR_TYPE"         property="carType"         jdbcType="VARCHAR" />
	<result column="CAR_LENGTH"       property="carLength"       jdbcType="DECIMAL" />
	<result column="ALL_GOODS_NAME"   property="allGoodsName"    jdbcType="VARCHAR" />    
	<result column="MESSAGE_CONTENT"   property="messageContent"    jdbcType="VARCHAR" />    
  </resultMap>
  
  <resultMap id="BaseResultMap4" type="com.c503.sc.jxwl.transacation.bean.LeaveMessageEntity" >
    <id     column="ID" 					property="id" 		jdbcType="VARCHAR" />
    <result column="LOGISTICS_ENTERPRISE" 	property="logisticsEnterprise" 	jdbcType="VARCHAR" />
    <result column="WAYBILLL_NO" 			property="waybilllNo" 			jdbcType="VARCHAR" />
    <result column="MESSAGE_CONTENT" 		property="messageContent" 		jdbcType="VARCHAR" />
    <result column="CHEMICAL_ENTERPRISE" 	property="chemicalEnterprise" 	jdbcType="VARCHAR" />
    <result column="CREATED_TIME" 			property="createdTime" 			jdbcType="TIMESTAMP" />
    <result column="CREATE_BY"              property="createBy"             jdbcType="VARCHAR" />
	<result column="CREATE_TIME"            property="createTime"           jdbcType="TIMESTAMP" />
	<result column="UPDATE_BY"              property="updateBy"             jdbcType="VARCHAR" />
	<result column="UPDATE_TIME"            property="updateTime"           jdbcType="TIMESTAMP" />
	<result column="REMOVE"                 property="remove"               jdbcType="CHAR" />
	<result column="TRADE_OBJ"              property="tradeObject"          jdbcType="VARCHAR" /><!-- property="交易对象" -->
	<result column="SENDER_COMPANY"         property="senderCompany"        jdbcType="VARCHAR" /><!-- property="发货单位" -->
    <result column="RECEIVER_COMPANY"       property="receiverCompany"      jdbcType="VARCHAR" /><!-- property="收货单位" -->
    <result column="TRADE_STATUS"           property="tradeStatus"          jdbcType="VARCHAR" /><!-- property="交易状态" -->
  </resultMap>
  
  
  <select id="findByParams" parameterType="map" resultMap="BaseResultMap">
	WITH TT AS
	 (SELECT SRC_GOODS_ID,
	         LISTAGG(GOODS_NAME, '; ') WITHIN GROUP(ORDER BY GOODS_NAME) AS ALL_GOODS_NAME
	    FROM T_SOURCE_GOODS_INFO
	   GROUP BY SRC_GOODS_ID)
	     
  	SELECT TA.ID,
  	       TA.WAYBILLL_NO,
  	       TA.SENDER_COMPANY,
  	       TA.RECEIVER_COMPANY,
  	       TA.CAR_TYPE,
  	       TA.PUBLISH_DATE,
  	       TT.ALL_GOODS_NAME
  	   <if test="userCode !=null and userCode !=''">
  	       ,TC.MESSAGE_CONTENT
  	   </if>
  	  FROM T_SOURCE_GOODS TA
  	  LEFT JOIN T_ENTERPRISE TE ON TA.HG_CORPORATE_NO = TE.CORPORATE_NO
  	  LEFT JOIN TT ON TA.ID = TT.SRC_GOODS_ID
  	  LEFT JOIN T_DICTIONARY_VALUE TD ON TA.CAR_TYPE = TD.VALUE 
  	  <if test="userCode !=null and userCode !=''">
  	  	LEFT JOIN T_LEAVE_MESSAGE TC
    	ON TA.ID = TC.GOODS_NO
  	    AND TC.LOGISTICS_ENTERPRISE = #{userCode}
  	  </if>
  	 WHERE TA.REMOVE = '0'
  	   AND TE.REMOVE = '0'
  	   AND TA.TRADE_STATUS = '110001002'
  	  <if test="waybilllNo != null and waybilllNo != ''">
  	   AND TA.WAYBILLL_NO LIKE '%' || #{waybilllNo} || '%'
  	  </if>
  	  <if test="startTime != null">
		AND TA.PUBLISH_DATE &gt;= #{startTime}
	  </if>
	  <if test="endTime != null">
		AND TA.PUBLISH_DATE &lt; #{endTime}
	  </if>
  	 ORDER BY TA.PUBLISH_DATE DESC
  </select>
  
  
  
   <select id= "findById" parameterType ="map" resultMap = "BaseResultMap4">
    SELECT CREATED_TIME,MESSAGE_CONTENT
    FROM T_LEAVE_MESSAGE
     WHERE REMOVE = '0'
       AND GOODS_NO = #{id}
    <if test="logisticsEnterprise != null and logisticsEnterprise != ''">
    	AND LOGISTICS_ENTERPRISE = #{logisticsEnterprise}
    </if>
    AND ROWNUM =1
  </select>
</mapper>