<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.transacation.dao.ILicenceWarnDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.transacation.bean.LicenceEntity" >
    <id     column="ID"                         property="id"                       jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME"            property="enterpriseName"           jdbcType="VARCHAR" />
    <result column="CORPORATE_NO"               property="corporateNo"              jdbcType="VARCHAR" />
    <result column="LICENCE_PLATE_NO"           property="licencePlateNo"           jdbcType="VARCHAR" />
    <result column="PERSON_NAME"                property="personName"               jdbcType="VARCHAR" />
    <result column="IDENTIFICATION_CARD_NO"     property="identificationCardNo"     jdbcType="VARCHAR" />
    <result column="OCCUPATION_PERSON_TYPE"     property="occupationPersonType"     jdbcType="VARCHAR" />
    <result column="LICENCE_NAME"               property="licenceName"              jdbcType="VARCHAR" />
    <result column="EXPIRE_DATE"                property="expireDate"               jdbcType="TIMESTAMP" />
    <result column="EXPIRE_FLAG"                property="expireFlag"               jdbcType="VARCHAR" />
    <result column="LICENCE_ISSUING_AUTHORITY"  property="licenceIssuingAuthority"  jdbcType="VARCHAR" />
    <result column="BLACK_STATUS"               property="blackStatus"              jdbcType="VARCHAR" />
    <result column="VERIFY_STATUS"              property="verifyStatus"             jdbcType="VARCHAR" />
    <result column="REJECT_REASON"              property="rejectReason"             jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <!-- 分页查询 -->  
  <select id="findByParams" parameterType="map" resultMap="BaseResultMap">	     
			select TL.ID,
			       TL.LICENCE_NAME,
			       TL.LICENCE_PLATE_NO,
			       TL.EXPIRE_DATE,
			       (CASE
			         WHEN (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]> 0 THEN
			          '0'
			         WHEN (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]> 30 THEN
			          '1'
			         else
			          '2'
			       end) EXPIRE_FLAG,
			       TL.LICENCE_ISSUING_AUTHORITY,
			       TL.VERIFY_STATUS,
			       TL.REJECT_REASON,
			       TE.ENTERPRISE_NAME,
			       TL.IDENTIFICATION_CARD_NO,
			        <if test ="licenceWarnType  == 'person'.toString()">
			       TOC.PERSON_NAME,
			       TOC.OCCUPATION_PERSON_TYPE,
			       </if>
			       (CASE
			         when TB.ID IS NOT NULL THEN
			          '是'
			         else
			          '否'
			       end) as BLACK_STATUS
			  from T_LICENCE TL
			  LEFT JOIN T_ENTERPRISE TE
			    ON TL.CORPORATE_NO = TE.CORPORATE_NO
			   AND TE.REMOVE = '0'
			  <if test ="licenceWarnType  == 'person'.toString()">
			    LEFT JOIN T_OCCUPATION_PERSON TOC ON TOC.IDENTIFICATION_CARD_NO = TL.IDENTIFICATION_CARD_NO
                AND TOC.REMOVE = '0'
			  </if>
			  LEFT JOIN T_BLACKLIST_MANAGE TB
			  <choose>
			     <!-- 车辆查询时所需查询条件 -->
			      <when test="licenceWarnType  == 'car'.toString()">
				    ON TL.LICENCE_PLATE_NO = TB.VEHICLE
				    AND TB.OBJECT_TYPE = '104001003'
				     AND TB.REMOVE = '0'
			      </when>
			      <!-- 人员查询时所需查询条件 -->
			      <when test="licenceWarnType  == 'person'.toString()">
				     ON TL.IDENTIFICATION_CARD_NO = TB.Driver
	                 AND TB.OBJECT_TYPE = '104001002'
	                  AND TB.REMOVE = '0'
			      </when>
			      <!-- 企业查询时所需查询条件 -->
			      <otherwise>
				   ON TL.CORPORATE_NO = TB.CORPORATE_NO
				   AND TB.OBJECT_TYPE = '104001001'
				    AND TB.REMOVE = '0'
			      </otherwise>
	          </choose>   
			 WHERE TL.REMOVE = '0'
			 
			 AND TL.VERIFY_STATUS = '151001003'
			  <!-- 判断访问用户的角色 -->
			 <if test="corporateNo != null and corporateNo != ''">
			   AND TL.CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
			 </if>
			  <!-- 查询条件：企业名字或法人代码 -->
			 <if test="enterpriseName != null and enterpriseName != ''">
  	          AND  (TE.ENTERPRISE_NAME LIKE '%' || #{enterpriseName} || '%'
  	           OR  TL.CORPORATE_NO LIKE '%' || #{enterpriseName} || '%')
  	         </if>
			 AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  30
			 <choose>
			      <when test="licenceWarnType  == 'car'.toString()">
				    AND  TL.LICENCE_PLATE_NO IS NOT NULL
				    <if test="carNo != null and carNo != ''">
  	                  AND TL.LICENCE_PLATE_NO LIKE '%' || #{carNo} || '%'
  	                </if>
				    <if test="expiredStatus  == '0'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  0
			      	</if>
			      	<if test="expiredStatus  == '1'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  30
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[>=]]>  0
			      	</if>
			      </when>
			      <when test="licenceWarnType  == 'person'.toString()">
				    AND  TL.IDENTIFICATION_CARD_NO IS NOT NULL
				    <!-- 查询条件：人员姓名 -->
				     <if test="personName != null and personName != ''">
  	                    AND TOC.PERSON_NAME LIKE '%' || #{personName} || '%'
  	                </if>
				     <if test="expiredStatus  == '0'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  0
			      	</if>
			      	<if test="expiredStatus  == '1'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  30
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[>=]]>  0
			      	</if>
			      </when>
			      <otherwise>
				   AND TL.LICENCE_PLATE_NO IS  NULL
				   AND TL.IDENTIFICATION_CARD_NO IS NULL
				   <!-- 查询条件：到期  0 -->
				    <if test="expiredStatus  == '0'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  0
			      	</if>
			      	 <!-- 查询条件：到期  1 -->
			      	<if test="expiredStatus  == '1'.toString()">
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]>  30
				    AND (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[>=]]>  0
			      	</if>
			      </otherwise>
	         </choose> 
			 ORDER BY EXPIRE_FLAG ASC,TL.EXPIRE_DATE ASC
  </select>
  
  
  <!-- 详情 -->
  <select id="findById" resultMap="BaseResultMap" parameterType="map" >
		   select TL.ID,
			       TL.LICENCE_NAME,
			       TL.LICENCE_PLATE_NO,
			       TL.EXPIRE_DATE,
			       TL.LICENCE_ISSUING_AUTHORITY,
			       TL.VERIFY_STATUS,
			       TL.REJECT_REASON,
			       TE.ENTERPRISE_NAME,
			       TL.IDENTIFICATION_CARD_NO,
			        <if test ="licenceWarnType  == 'person'.toString()">
			       TOC.PERSON_NAME,
			       TOC.OCCUPATION_PERSON_TYPE,
			       </if>
			       (CASE
			         when TB.ID IS NOT NULL THEN
			          '是'
			         else
			          '否'
			       end) as BLACK_STATUS
			  from T_LICENCE TL
			  LEFT JOIN T_ENTERPRISE TE
			    ON TL.CORPORATE_NO = TE.CORPORATE_NO
			   AND TE.REMOVE = '0'
			  
			  <if test ="licenceWarnType  == 'person'.toString()">
			    LEFT JOIN T_OCCUPATION_PERSON TOC ON TOC.IDENTIFICATION_CARD_NO = TL.IDENTIFICATION_CARD_NO
                AND TOC.REMOVE = '0'
			  </if>
			  LEFT JOIN T_BLACKLIST_MANAGE TB
			  <choose>
			      <when test="licenceWarnType  == 'car'.toString()">
				    ON TL.LICENCE_PLATE_NO = TB.VEHICLE
				    AND TB.OBJECT_TYPE = '104001003'
				     AND TB.REMOVE = '0'
			      </when>
			      <when test="licenceWarnType  == 'person'.toString()">
				     ON TL.IDENTIFICATION_CARD_NO = TB.Driver
	                 AND TB.OBJECT_TYPE = '104001002'
	                  AND TB.REMOVE = '0'
			      </when>
			      <otherwise>
				   ON TL.CORPORATE_NO = TB.CORPORATE_NO
				   AND TB.OBJECT_TYPE = '104001001'
				    AND TB.REMOVE = '0'
			      </otherwise>
	          </choose>   
			 WHERE TL.REMOVE = '0'
			 <if test="corporateNo != null and corporateNo != ''">
			   AND TL.CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
			 </if>
			AND TL.ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!--保存资质  -->
  <insert id="save" parameterType="com.c503.sc.jxwl.transacation.bean.LicenceEntity" >
    insert into T_LICENCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="corporateNo != null" >
        CORPORATE_NO,
      </if>
      <if test="licencePlateNo != null" >
        LICENCE_PLATE_NO,
      </if>
      <if test="identificationCardNo != null" >
        IDENTIFICATION_CARD_NO,
      </if>
      <if test="licenceName != null" >
        LICENCE_NAME,
      </if>
      <if test="licenceIssuingAuthority != null" >
        LICENCE_ISSUING_AUTHORITY,
      </if>
      <if test="verifyStatus != null" >
        VERIFY_STATUS,
      </if>
      <if test="rejectReason != null" >
        REJECT_REASON,
      </if>
      <if test="expireDate != null" >
        EXPIRE_DATE,
      </if>
       <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remove != null" >
        REMOVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corporateNo != null" >
        #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="licencePlateNo != null" >
        #{licencePlateNo,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardNo != null" >
        #{identificationCardNo,jdbcType=VARCHAR},
      </if>
      <if test="licenceName != null" >
        #{licenceName,jdbcType=VARCHAR},
      </if>
      <if test="licenceIssuingAuthority != null" >
        #{licenceIssuingAuthority,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null" >
        #{expireDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=CHAR}
      </if>
    </trim>
  </insert>
  
  
  <select id="amount" parameterType="map" resultType='int'>
		select count(0)
		  from (select (CASE
		                 WHEN (CEIL(TL.EXPIRE_DATE - SYSDATE)) <![CDATA[<]]> 0 THEN
		                  '0'
		               end) EXPIRE_FLAG
		          from T_LICENCE TL
		         WHERE TL.REMOVE = '0'
		           AND TL.VERIFY_STATUS = '151001003'
		          <if test="corporateNo != null and corporateNo != ''">
			       AND TL.CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
			      </if>
		        <choose>
			      <when test="licenceWarnType  == 'car'.toString()">
				    AND TL.LICENCE_PLATE_NO IS NOT NULL
			      </when>
			      <when test="licenceWarnType  == 'person'.toString()">
				     AND TL.IDENTIFICATION_CARD_NO IS NOT NULL
			      </when>
			      <otherwise>
				    AND TL.LICENCE_PLATE_NO IS NULL
		            AND TL.IDENTIFICATION_CARD_NO IS NULL
			      </otherwise>
	            </choose>   
		          )temp
		 where temp.EXPIRE_FLAG = '0'
  </select>
  
  <!-- 更新资质 -->
  <update id="update" parameterType="com.c503.sc.jxwl.transacation.bean.LicenceEntity" >
    update T_LICENCE
    <set >
      <if test="corporateNo != null" >
        CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="licencePlateNo != null" >
        LICENCE_PLATE_NO = #{licencePlateNo,jdbcType=VARCHAR},
      </if>
      <if test="identificationCardNo != null" >
        IDENTIFICATION_CARD_NO = #{identificationCardNo,jdbcType=VARCHAR},
      </if>
      <if test="licenceName != null" >
        LICENCE_NAME = #{licenceName,jdbcType=VARCHAR},
      </if>
      <if test="licenceIssuingAuthority != null" >
        LICENCE_ISSUING_AUTHORITY = #{licenceIssuingAuthority,jdbcType=VARCHAR},
      </if>
      <if test="verifyStatus != null" >
        VERIFY_STATUS = #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null" >
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null" >
        EXPIRE_DATE = #{expireDate,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="remove != null" >
        REMOVE = #{remove,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
    AND REMOVE = '0'
  </update>
  
  <!-- 删除 -->
  <update id="delete" parameterType="String" >
    update T_LICENCE set REMOVE = '1' WHERE ID =#{id,jdbcType=VARCHAR} AND REMOVE ='0'
  </update>
</mapper>