<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.transacation.dao.ISrcGoodsDao" >
  <!-- 原始对应关系 -->
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.transacation.bean.SrcGoods" >
    <id     column="ID"               property="id"              jdbcType="VARCHAR" />
    <result column="WAYBILLL_NO"      property="waybilllNo"      jdbcType="VARCHAR" />
    <result column="END_DATE"         property="endDate"         jdbcType="TIMESTAMP" />
    <result column="SENDER_ADDR"      property="senderAddr"      jdbcType="VARCHAR" />
    <result column="SENDER_COMPANY"   property="senderCompany"   jdbcType="VARCHAR" />
    <result column="SENDER_TEL"       property="senderTel"       jdbcType="VARCHAR" />
    <result column="RECEIVER_ADDR"    property="receiverAddr"    jdbcType="VARCHAR" />
    <result column="RECEIVER_COMPANY" property="receiverCompany" jdbcType="VARCHAR" />
    <result column="RECEIVER_TEL"     property="receiverTel"     jdbcType="VARCHAR" />
    <result column="CREATE_BY"        property="createBy"        jdbcType="VARCHAR" />
    <result column="CREATE_TIME"      property="createTime"      jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY"        property="updateBy"        jdbcType="VARCHAR" />
    <result column="UPDATE_TIME"      property="updateTime"      jdbcType="TIMESTAMP" />
    <result column="REMOVE"           property="remove"          jdbcType="CHAR" />
    <result column="TRADE_STATUS"     property="tradeStatus"     jdbcType="VARCHAR" />
    <result column="HG_CORPORATE_NO"  property="hgCorporateNo"   jdbcType="VARCHAR" />
    <result column="WL_CORPORATE_NO"  property="wlCorporateNo"   jdbcType="VARCHAR" />
    <result column="PUBLISH_DATE"     property="publishDate"     jdbcType="TIMESTAMP" />
    <result column="START_POINT"      property="startPoint"      jdbcType="VARCHAR" />
    <result column="END_POINT"        property="endPoint"        jdbcType="VARCHAR" />
    <result column="SENDER_LINKER"    property="senderLinker"    jdbcType="VARCHAR" />
    <result column="RECEIVER_LINKER"  property="receiverLinker"  jdbcType="VARCHAR" />
	<result column="CAR_TYPE"         property="carType"         jdbcType="VARCHAR" />
	<result column="CAR_LENGTH"       property="carLength"       jdbcType="DECIMAL" />
	<result column="ALL_GOODS_NAME"   property="allGoodsName"    jdbcType="VARCHAR" />
	
	<result column="START_LNG" property="startLng" jdbcType="VARCHAR" />
    <result column="START_LAT" property="startLat" jdbcType="VARCHAR" />
    <result column="END_LNG" property="endLng" jdbcType="VARCHAR" />
    <result column="END_LAT" property="endLat" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 包含货物的对应关系 -->
  <resultMap id="BaseResultMap2" type="com.c503.sc.jxwl.transacation.bean.SrcGoods" extends="BaseResultMap">
  	<collection property="goodsInfos" ofType="com.c503.sc.jxwl.transacation.bean.SrcGoodsInfo">
	    <id     column="GOODSINFO_ID"    property="id"            jdbcType="VARCHAR" />
	    <result column="SRC_GOODS_ID"    property="srcGoodsId"    jdbcType="VARCHAR" />
	    <result column="GOODS_SERIAL_NO" property="goodsSerialNo" jdbcType="VARCHAR" />
	    <result column="GOODS_NAME"      property="goodsName"     jdbcType="VARCHAR" />
	    <result column="PACK"            property="pack"          jdbcType="VARCHAR" />
	    <result column="AMOUNT"          property="amount"        jdbcType="DECIMAL" />
	    <result column="WEIGHT"          property="weight"        jdbcType="DECIMAL" />
	    <result column="UNIT_PRICE"      property="unitPrice"     jdbcType="DECIMAL" />
	    <result column="GOODS_WORTH"     property="goodsWorth"    jdbcType="DECIMAL" />
	    <result column="VOLUME"          property="volume"        jdbcType="DECIMAL" />
  	</collection>
  </resultMap>
  
  <!-- 包含货物、留言的对应关系 -->
  <resultMap id="BaseResultMap3" type="com.c503.sc.jxwl.transacation.bean.SrcGoods" extends="BaseResultMap2">
  	<collection property="keepTalks" ofType="com.c503.sc.jxwl.transacation.vo.KeepTalk">
  		<result column="LOGISTICS_ENTERPRISE" 	property="logisticsEnterprise" 	jdbcType="VARCHAR" />
        <result column="WAYBILLL_NO" 			property="waybilllNo" 			jdbcType="VARCHAR" />
        <result column="MESSAGE_CONTENT" 		property="messageContent" 		jdbcType="VARCHAR" />
        <result column="CHEMICAL_ENTERPRISE" 	property="chemicalEnterprise" 	jdbcType="VARCHAR" />
        <result column="ENTERPRISE_NAME" 	    property="enterpriseName"       jdbcType="VARCHAR" />
        <result column="KEEP_TALK_TIME"	        property="keepTalkTime"         jdbcType="TIMESTAMP" />
  	</collection>
  </resultMap>
  
  <!-- 企业信息的对象关系 -->
  <resultMap id="BaseResultMap4" type="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CORPORATE_NO"         property="corporateNo"         jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME"      property="enterpriseName"      jdbcType="VARCHAR" />
    <result column="ENTERPRISE_TYPE"      property="enterpriseType"      jdbcType="VARCHAR" />
    <result column="CORPORATE_REP"        property="corporateRep"        jdbcType="VARCHAR" />
    <result column="ENTERPRISE_INTRODUCE" property="enterpriseIntroduce" jdbcType="VARCHAR" />
    <result column="REGISTER_OFFICE"      property="registerOffice"      jdbcType="VARCHAR" />
    <result column="LOGON_CAPITAL"        property="logonCapital"        jdbcType="DECIMAL" />
    <result column="MAJOR_BUSINESS_ROUTE" property="majorBusinessRoute"  jdbcType="VARCHAR" />
    <result column="ESTABLISH_DATE"       property="establishDate"       jdbcType="DATE" />
    <result column="OPEN_ACCOUNT_BANK"    property="openAccountBank"     jdbcType="VARCHAR" />
    <result column="REGISTRATION_NO"      property="registrationNo"      jdbcType="VARCHAR" />
    <result column="PROFESSIONAL_WORK"    property="professionalWork"    jdbcType="VARCHAR" />
    <result column="TAXATION_NO"          property="taxationNo"          jdbcType="VARCHAR" />
    <result column="OPERATE_AREA"         property="operateArea"         jdbcType="VARCHAR" />
    <result column="ADDRESS"              property="address"             jdbcType="VARCHAR" />
    <result column="NETWORK_ADDR"         property="networkAddr"         jdbcType="VARCHAR" />
    <result column="VEHICLE_NUM"          property="vehicleNum"          jdbcType="DECIMAL" />
    <result column="TELEPHONE"            property="telephone"           jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    ID,            WAYBILLL_NO,      END_DATE,      SENDER_ADDR,     SENDER_COMPANY,  SENDER_TEL, 
    RECEIVER_ADDR, RECEIVER_COMPANY, RECEIVER_TEL,  TRADE_STATUS,    HG_CORPORATE_NO, WL_CORPORATE_NO,
    PUBLISH_DATE,  CREATE_BY,        CREATE_TIME,   UPDATE_BY,       UPDATE_TIME,     REMOVE,
    START_POINT,   END_POINT,        SENDER_LINKER, RECEIVER_LINKER, CAR_TYPE,        CAR_LENGTH,
    START_LNG,     START_LAT,        END_LNG,       END_LAT
  </sql>
  
  <sql id="Base_Column_List2" >
    ID,          SRC_GOODS_ID, GOODS_SERIAL_NO, GOODS_NAME, PACK,
    AMOUNT,      WEIGHT,       UNIT_PRICE,      GOODS_WORTH,      CREATE_BY, 
    CREATE_TIME, UPDATE_BY,    UPDATE_TIME,     REMOVE,            VOLUME
  </sql>  
  
  <sql id="query_Column">
	TA.ID,               TA.WAYBILLL_NO,      TA.END_DATE,        TA.SENDER_ADDR,  TA.SENDER_COMPANY,  TA.SENDER_TEL,
	TA.RECEIVER_ADDR,    TA.RECEIVER_COMPANY, TA.RECEIVER_TEL,    TA.TRADE_STATUS, TA.HG_CORPORATE_NO, TA.WL_CORPORATE_NO,
	TA.PUBLISH_DATE,     TA.CREATE_TIME,      TA.START_POINT,     TA.END_POINT,    TA.SENDER_LINKER,   TA.RECEIVER_LINKER,
	TA.CAR_TYPE,         TA.CAR_LENGTH,       TB.ID GOODSINFO_ID, TB.SRC_GOODS_ID, TB.GOODS_SERIAL_NO, 
	TB.VOLUME,           TB.PACK,             TB.AMOUNT,          TB.WEIGHT,       TB.UNIT_PRICE,      TB.GOODS_WORTH
  </sql>
  
  
  <!-- 分页查询 -->  
  <select id="findByParams" parameterType="map" resultMap="BaseResultMap">
	WITH TT AS
	 (SELECT SRC_GOODS_ID,
	         LISTAGG(GOODS_NAME, '; ') WITHIN GROUP(ORDER BY GOODS_NAME) AS ALL_GOODS_NAME
	    FROM T_SOURCE_GOODS_INFO
	   WHERE REMOVE = '0'
	   GROUP BY SRC_GOODS_ID)

  	SELECT TA.ID,            TA.WAYBILLL_NO,      TA.END_DATE,        
  	       TA.SENDER_ADDR,   TA.SENDER_COMPANY,   TA.SENDER_TEL,
		   TA.RECEIVER_ADDR, TA.RECEIVER_COMPANY, TA.RECEIVER_TEL,    
		   TA.TRADE_STATUS,  TA.HG_CORPORATE_NO,  TA.WL_CORPORATE_NO,
		   TA.PUBLISH_DATE,  TA.CREATE_TIME,      TA.START_POINT,     
		   TA.END_POINT,     TA.SENDER_LINKER,    TA.RECEIVER_LINKER,
		   TA.CAR_TYPE,      TA.CAR_LENGTH,       TT.ALL_GOODS_NAME
  	  FROM T_SOURCE_GOODS TA 
  	  LEFT JOIN TT ON TA.ID = TT.SRC_GOODS_ID
  	 WHERE TA.REMOVE = '0'
  	   AND TA.TRADE_STATUS IN ('110001001', '110001002') 
  	   AND TA.HG_CORPORATE_NO = #{hgCorporateNo,jdbcType=VARCHAR}
  	  <if test="waybilllNo != null and waybilllNo != ''">
  	   AND TA.WAYBILLL_NO LIKE '%' || #{waybilllNo} || '%'
  	  </if>
  	  <if test="startTime != null">
  	   AND TA.CREATE_TIME &gt;= #{startTime}
  	  </if>
  	  <if test="endTime != null">
  	   AND TA.CREATE_TIME &lt;= #{endTime}
  	  </if>
  	 ORDER BY TA.TRADE_STATUS ASC, CREATE_TIME DESC
  </select>
  
  
  <!-- 查询货单号是否存在 -->
  <select id="findWaybilllNoHasExist" parameterType="String" resultType="String">
  	SELECT WAYBILLL_NO 
  	  FROM T_SOURCE_GOODS
  	 WHERE WAYBILLL_NO = #{waybilllNo,jdbcType=VARCHAR}
  	 <if test="id != null and id != ''">
  	   AND ID <![CDATA[<>]]> #{id,jdbcType=VARCHAR}
  	 </if>
  </select>
  
  
  <!-- 查询详情 -->
  <select id="findById" resultMap="BaseResultMap3" parameterType="java.lang.String" >
    SELECT DISTINCT <include refid="query_Column"/>,
           TB.GOODS_NAME,  
           TC.GOODS_NO,
           TC.LOGISTICS_ENTERPRISE,
           TC.MESSAGE_CONTENT,
           TC.UPDATE_TIME AS KEEP_TALK_TIME,
           TD.ENTERPRISE_NAME
	  FROM T_SOURCE_GOODS TA
	  LEFT JOIN T_SOURCE_GOODS_INFO TB
	    ON TA.ID = TB.SRC_GOODS_ID
	   AND TB.REMOVE = '0'
	  LEFT JOIN T_LEAVE_MESSAGE TC
	    ON TA.ID = TC.GOODS_NO
	   AND TC.REMOVE = '0'
	  LEFT JOIN T_ENTERPRISE TD
	    ON TC.LOGISTICS_ENTERPRISE = TD.CORPORATE_NO
	    AND TD.REMOVE = '0'
  	 WHERE TA.ID = #{id,jdbcType=VARCHAR}
	    ORDER BY TC.UPDATE_TIME DESC
  </select>
  
  
  <!-- 逻辑删除货源 -->
  <update id="delete" parameterType="Object" >
    BEGIN
	  UPDATE T_SOURCE_GOODS SET 
        REMOVE      = '1',
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      WHERE ID = #{id};
      
      UPDATE T_SOURCE_GOODS_INFO SET 
        REMOVE      = '1',
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      WHERE SRC_GOODS_ID = #{id};
	  
	  <!-- UPDATE T_LEAVE_MESSAGE SET 
        REMOVE      = '1',
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      WHERE GOODS_NO = #{id}; -->
      
	  <!-- 异常处理 -->
	  EXCEPTION
	    WHEN OTHERS THEN
	      ROLLBACK;
	END;  
  </update>
  
  
  <!-- 保存货源基本信息 -->
  <insert id="save" parameterType="com.c503.sc.jxwl.transacation.bean.SrcGoods" >
    INSERT INTO T_SOURCE_GOODS (
      <include refid="Base_Column_List"/>)
    VALUES (#{id,jdbcType=VARCHAR},      #{waybilllNo,jdbcType=VARCHAR},      #{endDate,jdbcType=TIMESTAMP}, 
      #{senderAddr,jdbcType=VARCHAR},    #{senderCompany,jdbcType=VARCHAR},   #{senderTel,jdbcType=VARCHAR}, 
      #{receiverAddr,jdbcType=VARCHAR},  #{receiverCompany,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{tradeStatus,jdbcType=VARCHAR},   #{hgCorporateNo,jdbcType=VARCHAR},   #{wlCorporateNo,jdbcType=VARCHAR}, 
      #{publishDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},        #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR},      #{updateTime,jdbcType=TIMESTAMP},    '0',
      #{startPoint,jdbcType=VARCHAR},    #{endPoint,jdbcType=VARCHAR},        #{senderLinker,jdbcType=VARCHAR}, 
      #{receiverLinker,jdbcType=VARCHAR},#{carType,jdbcType=VARCHAR},         #{carLength,jdbcType=DECIMAL},
      #{startLng,jdbcType=VARCHAR},      #{startLat,jdbcType=VARCHAR},         #{endLng,jdbcType=VARCHAR},                 
      #{endLat,jdbcType=VARCHAR} )
  </insert>
  
  <!-- 保存货物信息 -->
  <insert id="saveGoods" parameterType="java.util.List">
    INSERT INTO T_SOURCE_GOODS_INFO (
	  <include refid="Base_Column_List2"/>)
	<foreach collection="list" item="item" separator="union all">
	  SELECT
	    #{item.id,jdbcType=VARCHAR},          #{item.srcGoodsId,jdbcType=VARCHAR},  #{item.goodsSerialNo,jdbcType=VARCHAR}, 
	    #{item.goodsName,jdbcType=VARCHAR},   #{item.pack,jdbcType=VARCHAR},        #{item.amount,jdbcType=DECIMAL}, 
	    #{item.weight,jdbcType=DECIMAL},      #{item.unitPrice,jdbcType=DECIMAL},   #{item.goodsWorth,jdbcType=DECIMAL}, 
	    #{item.createBy,jdbcType=VARCHAR},    #{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=VARCHAR},  
	    #{item.updateTime,jdbcType=TIMESTAMP}, '0',  #{item.volume,jdbcType=DECIMAL}
	  FROM DUAL
	</foreach>
  </insert>
  
  
  <!-- 修改货源基本信息 -->
  <update id="update" parameterType="com.c503.sc.jxwl.transacation.bean.SrcGoods" >
      UPDATE T_SOURCE_GOODS SET 
        END_DATE         = #{endDate,jdbcType=TIMESTAMP},
        SENDER_ADDR      = #{senderAddr,jdbcType=VARCHAR},
        SENDER_COMPANY   = #{senderCompany,jdbcType=VARCHAR},
        SENDER_TEL       = #{senderTel,jdbcType=VARCHAR},
        RECEIVER_ADDR    = #{receiverAddr,jdbcType=VARCHAR},
        RECEIVER_COMPANY = #{receiverCompany,jdbcType=VARCHAR},
        RECEIVER_TEL     = #{receiverTel,jdbcType=VARCHAR},
        UPDATE_BY        = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME      = #{updateTime,jdbcType=TIMESTAMP},
        START_POINT      = #{startPoint,jdbcType=VARCHAR},
        END_POINT        = #{endPoint,jdbcType=VARCHAR},
        SENDER_LINKER    = #{senderLinker,jdbcType=VARCHAR},
        RECEIVER_LINKER  = #{receiverLinker,jdbcType=VARCHAR},
        CAR_TYPE         = #{carType,jdbcType=VARCHAR},
        CAR_LENGTH       = #{carLength,jdbcType=DECIMAL},
        START_LNG = #{startLng,jdbcType=VARCHAR},
 		START_LAT = #{startLat,jdbcType=VARCHAR},         
 		END_LNG = #{endLng,jdbcType=VARCHAR},                 
 		END_LAT = #{endLat,jdbcType=VARCHAR}
      WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- ************************************** 查询企业信息 *************************************** -->
  <sql id="enp_field">
	TE.CORPORATE_NO,  TE.ENTERPRISE_NAME,
	TE.PROFESSIONAL_WORK, TE.TELEPHONE,
    CASE
      WHEN TE.VEHICLE_NUM IS NULL THEN
       0
      ELSE
         (SELECT COUNT(VE.ID)
            FROM T_DANGER_VEHICLE VE
           WHERE VE.CORPORATE_NO = TE.CORPORATE_NO
             AND REMOVE = '0'
             AND VE.VEHICLE_TYPE = #{vehicleType, jdbcType=VARCHAR}
             )
    END VEHICLE_NUM
  </sql>
  <sql id="enp_condition">
     <if test="searchKey != null and searchKey != ''">
		(TE.ENTERPRISE_NAME like '%' || #{searchKey} || '%'
		 OR TE.CORPORATE_NO like '%' || #{searchKey} || '%')
	 </if>
	 AND TE.ENTERPRISE_TYPE = #{enterpriseType, jdbcType=VARCHAR}
	 AND TE.remove = '0'
  </sql>
  <!-- 根据车辆数查询 -->
  <!-- 根据货源需要的车型 查询匹配的物流企业 -->
  <select id="findEnpsByCarNumParams" resultMap="BaseResultMap4" parameterType="java.util.Map" >
	SELECT * 
	  FROM (SELECT TE.ID, <include refid="enp_field"/>
	             FROM T_ENTERPRISE TE
	                <where>
	                  <include refid="enp_condition"/>
	                </where> )TMP
	 ORDER BY VEHICLE_NUM DESC,TMP.ID
  </select>
  
  <!-- 根据交易数查询 -->
  <!-- 根据货源需要车型 与该化工企业交易记录   如果没有车源 则排在后面 -->
  <select id="findEnpsByTradeNumParams" resultMap="BaseResultMap4" parameterType="java.util.Map">
	 select rownum, B.* from (select A.*,
	 			 CASE
                 WHEN VEHICLE_NUM = 0 THEN
                  0
                 ELSE
                  TRADE_NUM
                END TRADE_NUM1 
	 from (SELECT TEMP.*, T.ID
	  FROM ( SELECT <include refid="enp_field"/>,
	                COUNT(TS.ID) AS TRADE_NUM
	           FROM T_ENTERPRISE TE
	           LEFT JOIN T_SOURCE_GOODS TS 
	             ON TE.CORPORATE_NO = TS.WL_CORPORATE_NO
	            AND TS.REMOVE = '0' and TS.TRADE_STATUS in (110001005,110001006)
			  <where>
			    <include refid="enp_condition"/>
			  </where>
			  GROUP BY TE.CORPORATE_NO,
			           TE.ENTERPRISE_NAME,
			           TE.PROFESSIONAL_WORK,
			           TE.TELEPHONE,
			           TE.ID,
			           VEHICLE_NUM
			  ORDER BY TRADE_NUM DESC,TE.ID ) TEMP
	    LEFT JOIN T_ENTERPRISE T
	      ON TEMP.CORPORATE_NO = T.CORPORATE_NO
	     AND T.REMOVE = '0') A order by TRADE_NUM1 DESC,VEHICLE_NUM DESC) B
  </select>
  
  
  <!-- 根据评分 -->
   <!-- 根据货源需要车型 评分   如果没有车源 则排在后面 -->
  <select id="findEnpsByCommentScoreParams" parameterType="map" resultMap="BaseResultMap4">
	SELECT TEMP.*, T.ID,
	 case 
       when TEMP.VEHICLE_NUM = 0 then
         0
        else
          AVG_SCORE
     end AVG_SCORE1
	  FROM (SELECT <include refid="enp_field"/>,
	               NVL(SUM(TM.SCORE) / COUNT(TM.ID) * 1.0, 0) AS AVG_SCORE
	          FROM T_ENTERPRISE TE
	          LEFT JOIN (
			          	SELECT TC.ID ID , 
			          		   TC.SCORE SCORE , 
			          	       TC.TYPE TYPE,
			          	       TC.OTHER_SIDE_NO OTHER_SIDE_NO
			          	  FROM T_COMMENT_COMPLAINT TC
			         LEFT JOIN T_SOURCE_GOODS TS
		                    ON TC.ORDER_ID = TS.ID
		                 WHERE TS.REMOVE = '0') TM
	            ON TE.CORPORATE_NO = TM.OTHER_SIDE_NO
	           AND TM.TYPE = '0'
	           AND TE.REMOVE = '0'
			 <where>
			   <include refid="enp_condition"/>
			 </where>
	         GROUP BY TE.CORPORATE_NO,
	                  TE.ENTERPRISE_NAME,
	                  TE.PROFESSIONAL_WORK,
	                  TE.TELEPHONE,
	                  VEHICLE_NUM) TEMP
	  LEFT JOIN T_ENTERPRISE T
	    ON TEMP.CORPORATE_NO = T.CORPORATE_NO
	 WHERE T.REMOVE = '0'
	 ORDER BY AVG_SCORE1 DESC,AVG_SCORE DESC,TEMP.VEHICLE_NUM DESC,T.ID
  </select>
  
  
  
  <!-- 查询货物信息for大屏展示 -->
  <select id="findAll" parameterType="String" resultType="com.c503.sc.jxwl.transacation.bean.SrcGoodsForFull">
	WITH TT AS
	 (SELECT SRC_GOODS_ID,
	         COUNT(ID) CNT,
	         LISTAGG(GOODS_NAME, '; ') WITHIN GROUP(ORDER BY GOODS_NAME) AS ALL_GOODS_NAME
	    FROM T_SOURCE_GOODS_INFO
	   WHERE REMOVE = '0'
	   GROUP BY SRC_GOODS_ID)
	
	SELECT *
	  FROM (SELECT TT.ALL_GOODS_NAME goodsName,
	               TT.CNT            amount,
	               TA.START_POINT    startPoint,
	               TA.END_POINT      endPoint,
	               TA.PUBLISH_DATE   publishDate,
	               TA.SENDER_TEL     tel
	          FROM T_SOURCE_GOODS TA
	          JOIN TT
	            ON TA.ID = TT.SRC_GOODS_ID
	           AND TA.REMOVE = '0'
	           AND TA.TRADE_STATUS = '110001002'
	     LEFT JOIN T_ENTERPRISE TE
                ON TA.HG_CORPORATE_NO = TE.CORPORATE_NO
             WHERE TE.REMOVE = '0'
	         ORDER BY TA.PUBLISH_DATE DESC)
	 WHERE ROWNUM &lt;= 20
<!-- 	SELECT * -->
<!-- 	  FROM (SELECT TB.GOODS_NAME   goodsName, -->
<!-- 	               TA.START_POINT  startPoint, -->
<!-- 	               TA.END_POINT    ENDPOINT, -->
<!-- 	               TB.AMOUNT       AMOUNT, -->
<!-- 	               TA.PUBLISH_DATE publishDate, -->
<!-- 	               TA.SENDER_TEL   TEL -->
<!-- 	          FROM T_SOURCE_GOODS TA -->
<!-- 	          JOIN T_SOURCE_GOODS_INFO TB -->
<!-- 	            ON TA.ID = TB.SRC_GOODS_ID -->
<!-- 	           AND TA.REMOVE = '0' -->
<!-- 	           AND TB.REMOVE = '0' -->
<!-- 	           AND TA.TRADE_STATUS = '110001002' -->
<!-- 	         ORDER BY TA.PUBLISH_DATE DESC) -->
<!-- 	 WHERE ROWNUM &lt;= 20 -->
  </select>
  
  
  
  
</mapper>