<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.jxwl.transacation.dao.IWayBillDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.transacation.bean.WayBillEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DRIVER_ID" property="driverId" jdbcType="VARCHAR" />
    <result column="ESCORT_ID" property="escortId" jdbcType="VARCHAR" />
    <result column="CHEMICAL_ID" property="chemicalId" jdbcType="VARCHAR" />
    <result column="LOGISTICS_ID" property="logisticsId" jdbcType="VARCHAR" />
    <result column="VEHICLE_ID" property="vehicleId" jdbcType="VARCHAR" />
    <result column="CHECKNO" property="checkno" jdbcType="VARCHAR" />
    <result column="CONSUMERNO" property="consumerno" jdbcType="VARCHAR" />
    <result column="STARTPOINT" property="startpoint" jdbcType="VARCHAR" />
    <result column="ENDPOINT" property="endpoint" jdbcType="VARCHAR" />
    <result column="DELIVERYUNIT" property="deliveryunit" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITPERSON" property="deliveryunitperson" jdbcType="VARCHAR" />
    <result column="CHECKSTATUS" property="checkstatus" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITADDRESS" property="deliveryunitaddress" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITTIME" property="deliveryunittime" jdbcType="DATE" />
    <result column="ACHIEVEUINT" property="achieveuint" jdbcType="VARCHAR" />
    <result column="ACHIEVEPERSON" property="achieveperson" jdbcType="VARCHAR" />
    <result column="ACHIEVEPHONE" property="achievephone" jdbcType="VARCHAR" />
    <result column="DELIVERYUNITPHONE" property="deliveryunitphone" jdbcType="VARCHAR" />
    <result column="ACHIEVEADDRESS" property="achieveaddress" jdbcType="VARCHAR" />
    <result column="ACHIEVETIME" property="achievetime" jdbcType="DATE" />
    <result column="DRIVER" property="driver" jdbcType="VARCHAR" />
    <result column="DRIVERPHONE" property="driverphone" jdbcType="VARCHAR" />
    <result column="DRIVERID" property="driverid" jdbcType="VARCHAR" />
    <result column="DRIVERNO" property="driverno" jdbcType="VARCHAR" />
    <result column="ESCORT" property="escort" jdbcType="VARCHAR" />
    <result column="ESCORTPHONE" property="escortphone" jdbcType="VARCHAR" />
    <result column="HANDCARNO" property="handcarno" jdbcType="VARCHAR" />
    <result column="ESCORTNO" property="escortno" jdbcType="VARCHAR" />
    <result column="ESCORTID" property="escortid" jdbcType="VARCHAR" />
    <result column="CARNO" property="carno" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
    <result column="ENTERPRIE_REMOVE" property="enterpriseRemove" jdbcType="CHAR" />
    <result column="CAR_REMOVE" property="carRemove" jdbcType="CHAR" />
    <result column="GOODSNAME" property="goodsname" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="VEHICLE_COLOR" property="vehicleColor" jdbcType="VARCHAR" />
    
    <result column="START_LNG" property="startLng" jdbcType="VARCHAR" />
    <result column="START_LAT" property="startLat" jdbcType="VARCHAR" />
    <result column="END_LNG" property="endLng" jdbcType="VARCHAR" />
    <result column="END_LAT" property="endLat" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, 				DRIVER_ID, 				ESCORT_ID, 			CHEMICAL_ID, 			LOGISTICS_ID, 
    VEHICLE_ID, 		CHECKNO, 				CONSUMERNO, 		STARTPOINT, 			ENDPOINT,
    DELIVERYUNIT, 		DELIVERYUNITPERSON, 	CHECKSTATUS,	 	DELIVERYUNITADDRESS,	DELIVERYUNITTIME,
    ACHIEVEUINT, 		ACHIEVEPERSON, 			ACHIEVEPHONE, 		DELIVERYUNITPHONE, 		ACHIEVEADDRESS, 
    ACHIEVETIME, 		DRIVER, 				DRIVERPHONE, 		DRIVERID, 				DRIVERNO, 
    ESCORT, 			ESCORTPHONE, 			HANDCARNO, 			ESCORTNO, 				ESCORTID, 
    CARNO, 				REMARK, 				CREATE_BY, 			CREATE_TIME, 			UPDATE_BY, 
    UPDATE_TIME, 	 	REMOVE,					ORDER_NO,           START_LNG,              START_LAT,
    END_LNG,            END_LAT
  </sql>
  
  <sql id="Base_Column_List2" >
    ID, 				CHECKNO, 				GOODSNAME, 				PACK, 
    QUANTITY, 			WEIGHT, 				VOLUME, 				FORMAT, 
    WAYBILL_TEMP_ID, 		CREATE_BY,				CREATE_TIME, 			UPDATE_BY, 
    UPDATE_TIME, 		REMOVE, 				BATCH
  </sql>
   	<!-- 分页查询运单信息 -->
	<select id="findByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  distinct TC.CHECKNO,
	    		TC.CARNO,
	    		TC.STARTPOINT,
	    		TC.ENDPOINT,
		        TC.CHECKSTATUS,
		        TC.DELIVERYUNITTIME,
		        TC.CHEMICAL_ID,
		        TC.LOGISTICS_ID,
		        TC.DRIVERID,
		        TC.ID,
				TC.CONSUMERNO,
				TC.DELIVERYUNIT,
				TC.DELIVERYUNITPERSON,
				TC.DELIVERYUNITPHONE,
				TC.DELIVERYUNITADDRESS,
				TC.ACHIEVEUINT,
				TC.ACHIEVEPERSON,
				TC.ACHIEVEPHONE,
				TC.ACHIEVEADDRESS,
				TC.ACHIEVETIME,
				TC.DRIVER,
				TC.DRIVERPHONE,
				TC.DRIVERNO,
				TC.HANDCARNO,
				TC.ESCORT,
				TC.ESCORTPHONE,
				TC.ESCORTID,
				TC.ESCORTNO,
				TC.REMARK,
		        TB.GOODSNAME,
		        TE.REMOVE AS ENTERPRIE_REMOVE,
		        TD.REMOVE AS CAR_REMOVE
	        FROM T_WAYBILL TC LEFT JOIN TB 
	        ON TC.ID = TB.WAYBILL_ID
	        LEFT JOIN T_ENTERPRISE TE
			ON TC.LOGISTICS_ID = TE.CORPORATE_NO
			LEFT JOIN T_DANGER_VEHICLE TD
			ON TD.LICENCE_PLATE_NO = TC.CARNO
	    WHERE TC.REMOVE = '0'
		      <if test="chemicalId != null and chemicalId != ''">
		  	   AND TC.CHEMICAL_ID = #{chemicalId,jdbcType=VARCHAR}
		  	  </if>
		     <if test="logisticsId != null and logisticsId != ''">
		  	   AND TC.LOGISTICS_ID = #{logisticsId,jdbcType=VARCHAR}
		  	  </if>
		  	  <if test="driverid != null and driverid != ''">
		  	   AND TC.DRIVERID = #{driverid,jdbcType=VARCHAR}
		  	  </if>
			 <if test="checkstatus != null and checkstatus != ''">
		  	   AND TC.CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR}
		  	  </if>
		  	  <if test="carno != null and carno != ''"> 
		  	   AND TC.CARNO LIKE CONCAT(CONCAT('%',#{carno,jdbcType=VARCHAR}),'%')
		  	  </if>
		     <if test="startTime != null">
		       AND TC.DELIVERYUNITTIME &gt;= #{startTime}
		     </if>
		     <if test="endTime != null">
		       AND TC.DELIVERYUNITTIME &lt;= #{endTime}
		     </if> 
		      ORDER BY TC.CHECKSTATUS,
		      		   TC.DELIVERYUNITTIME DESC
	</select>
	
	<!-- 根据运单号查询运单 -->
	<select id="isHasWayBillNo" resultType="String" parameterType="java.util.Map">
		select t.checkno
	  from T_WAYBILL t
	 where t.checkno = #{wayBillNo,jdbcType=VARCHAR}
	   AND t.remove = '0'
	</select>
	
		<!-- 分页查询运单信息For APP -->
	<select id="findForAppByParams" resultMap="BaseResultMap" parameterType="java.util.Map">
	  WITH TB AS(
	          SELECT WAYBILL_ID,LISTAGG(GOODSNAME,',')
	               WITHIN GROUP (ORDER BY WAYBILL_ID) 
	               AS GOODSNAME FROM T_WAYBILL_GOODS WHERE REMOVE='0' 
	               GROUP BY WAYBILL_ID
	           )
	    SELECT  distinct TC.CHECKNO,
	    		TC.CARNO,
	    		TC.STARTPOINT,
	    		TC.ENDPOINT,
		        TC.CHECKSTATUS,
		        TC.DELIVERYUNITTIME,
		        TC.CHEMICAL_ID,
		        TC.LOGISTICS_ID,
		        TC.DRIVERID,
		        TC.ID,
				TC.CONSUMERNO,
				TC.DELIVERYUNIT,
				TC.DELIVERYUNITPERSON,
				TC.DELIVERYUNITPHONE,
				TC.DELIVERYUNITADDRESS,
				TC.ACHIEVEUINT,
				TC.ACHIEVEPERSON,
				TC.ACHIEVEPHONE,
				TC.ACHIEVEADDRESS,
				TC.ACHIEVETIME,
				TC.DRIVER,
				TC.DRIVERPHONE,
				TC.DRIVERNO,
				TC.HANDCARNO,
				TC.ESCORT,
				TC.ESCORTPHONE,
				TC.ESCORTID,
				TC.ESCORTNO,
				TC.REMARK,
		        TB.GOODSNAME,
		        TE.REMOVE AS ENTERPRIE_REMOVE,
		        TD.REMOVE AS CAR_REMOVE
	        FROM T_WAYBILL TC LEFT JOIN TB 
	        ON TC.ID = TB.WAYBILL_ID
	        LEFT JOIN T_ENTERPRISE TE
			ON TC.LOGISTICS_ID = TE.CORPORATE_NO
			LEFT JOIN T_DANGER_VEHICLE TD
			ON TD.LICENCE_PLATE_NO = TC.CARNO
			JOIN T_OCCUPATION_PERSON TOP
	        ON TOP.IDENTIFICATION_CARD_NO = TC.Driverid
	        JOIN T_REGISTER_INFO TRI 
	        ON TRI.OCCUPATION_ID = TOP.ID
	    WHERE TC.REMOVE = '0'
			 <if test="checkstatus != null and checkstatus != ''">
		  	   AND TC.CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR}
		  	  </if>
		  	  <if test="carno != null and carno != ''"> 
		  	   AND TC.CARNO LIKE CONCAT(CONCAT('%',#{carno,jdbcType=VARCHAR}),'%')
		  	  </if>
		  	  AND TRI.ACCOUNT = #{account,jdbcType=VARCHAR}
		      ORDER BY TC.CHECKSTATUS,
		      		   TC.DELIVERYUNITTIME DESC
	</select>
	
	<!-- 查询运单信息 -->
	<select id="findOrderMessage" resultType="com.c503.sc.jxwl.transacation.bean.WayBillEntity" parameterType="String">
		SELECT tsg.ORDER_NO orderNo,
			   tsg.START_POINT startpoint,
			   tsg.END_POINT endpoint,
			   tsg.START_LNG startLng,
			   tsg.START_LAT startLat,
			   tsg.END_LNG endLng,
			   tsg.END_LAT endLat,
			   tsg.SENDER_COMPANY deliveryunit,
			   tsg.SENDER_LINKER deliveryunitperson,
			   tsg.SENDER_TEL deliveryunitphone,
			   tsg.SENDER_ADDR deliveryunitaddress,
			   tsg.RECEIVER_COMPANY achieveuint,
			   tsg.RECEIVER_ADDR achieveaddress,
			   tsg.RECEIVER_TEL achievephone,
			   tsg.RECEIVER_LINKER achieveperson,
			   tsg.WL_CORPORATE_NO logisticsId
		 from T_SOURCE_GOODS tsg 
		 where tsg.ORDER_NO = #{orderNo} and tsg.remove = '0'
	</select>
	
	<!-- 查询所有运输货物的车辆信息 -->
	<select id="findVehicleData" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT TEMP.LICENCE_PLATE_NO,
                WB.CHECKNO,
                WB.CARNO,
       			E.ENTERPRISE_NAME AS WLENTERPRISENAME,
       			F.NAME AS ONLINESTATUS,
                CL.CARRIER_NAME,
                CL.POINT_SOURCE_TYPE,
                CL.POINT_TIME,
                CL.LONGITUDE,
                CL.LATITUDE,
                CL.ELEVATION,
                CL.SPEED,
                CL.DIRECTION,
                CL.TEMPERATURE,
                CL.PRESSURE,
                CL.LIQUID_LEVEL,
                CL.TYRE_PRESSURE
			  FROM ( <!-- 通过运单号、车牌号模糊查询车辆信息 并去重 -->
			        SELECT DISTINCT T.*
			          FROM (
			                 <!-- 通过车牌号模糊查询车辆信息 -->
			                 SELECT DV.*
			                   FROM T_DANGER_VEHICLE DV
			                  WHERE DV.REMOVE = '0'
			                    AND DV.LICENCE_PLATE_NO LIKE CONCAT(CONCAT('%',#{carno}),'%')
			                 UNION ALL
			                <!--  通过运单号模糊查询车辆信息 -->
			                 SELECT DISTINCT DV.*
			                   FROM T_WAYBILL W
			                   LEFT JOIN T_DANGER_VEHICLE DV
			                     ON W.CARNO = DV.LICENCE_PLATE_NO
			                  WHERE W.REMOVE = '0'
			                    AND DV.REMOVE = '0'
			                    AND
			                       <!--  当前运输中的运单 -->
			                        (W.CHECKSTATUS = '111001002' OR
			                        W.CHECKSTATUS = '111001003')
			                    AND W.CHECKNO LIKE CONCAT(CONCAT('%',#{carno}),'%')) T) TEMP
			<!--  车辆位置信息 -->
			  LEFT JOIN T_CAR_LOCATION CL
			    ON TEMP.LICENCE_PLATE_NO = CL.CARRIER_NAME
			<!--  车辆当前信息运单 -->
			  LEFT JOIN T_WAYBILL WB
			    ON WB.REMOVE = '0'
			   AND WB.CARNO = TEMP.LICENCE_PLATE_NO
			   AND (WB.CHECKSTATUS = '111001002' OR WB.CHECKSTATUS = '111001003')
			<!--  企业信息 -->
			  LEFT JOIN T_ENTERPRISE E
			    ON E.REMOVE = '0'
			   AND E.CORPORATE_NO = TEMP.CORPORATE_NO
			   <!--  车辆在线状态 -->
			  LEFT JOIN T_DICTIONARY_VALUE F
			    ON F.REMOVE = '0'
			   AND F.VALUE = CL.ONLINE_STATUS
	</select>
	
	<insert id="save" parameterType="com.c503.sc.jxwl.transacation.bean.WayBillEntity" >
    INSERT INTO T_WAYBILL (
    	<include refid="Base_Column_List" />
    	)
    VALUES (#{id,jdbcType=VARCHAR}, 		#{driverId,jdbcType=VARCHAR}, 				#{escortId,jdbcType=VARCHAR}, 
      #{chemicalId,jdbcType=VARCHAR}, 		#{logisticsId,jdbcType=VARCHAR}, 			#{vehicleId,jdbcType=VARCHAR}, 
      #{checkno,jdbcType=VARCHAR}, 			#{consumerno,jdbcType=VARCHAR}, 			#{startpoint,jdbcType=VARCHAR}, 
      #{endpoint,jdbcType=VARCHAR}, 		#{deliveryunit,jdbcType=VARCHAR}, 			#{deliveryunitperson,jdbcType=VARCHAR}, 
      #{checkstatus,jdbcType=VARCHAR}, 		#{deliveryunitaddress,jdbcType=VARCHAR}, 	#{deliveryunittime,jdbcType=DATE}, 
      #{achieveuint,jdbcType=VARCHAR}, 		#{achieveperson,jdbcType=VARCHAR}, 			#{achievephone,jdbcType=VARCHAR}, 
      #{deliveryunitphone,jdbcType=VARCHAR},#{achieveaddress,jdbcType=VARCHAR}, 		#{achievetime,jdbcType=DATE}, 
      #{driver,jdbcType=VARCHAR}, 			#{driverphone,jdbcType=VARCHAR}, 			#{driverid,jdbcType=VARCHAR}, 
      #{driverno,jdbcType=VARCHAR}, 		#{escort,jdbcType=VARCHAR}, 				#{escortphone,jdbcType=VARCHAR}, 
      #{handcarno,jdbcType=VARCHAR}, 		#{escortno,jdbcType=VARCHAR}, 				#{escortid,jdbcType=VARCHAR}, 
      #{carno,jdbcType=VARCHAR}, 			#{remark,jdbcType=VARCHAR}, 				#{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, 	#{updateBy,jdbcType=VARCHAR}, 				#{updateTime,jdbcType=TIMESTAMP}, 
      #{remove,jdbcType=CHAR},              #{orderNo,jdbcType=VARCHAR},                #{startLng,jdbcType=VARCHAR},
      #{startLat,jdbcType=VARCHAR},         #{endLng,jdbcType=VARCHAR},                 #{endLat,jdbcType=VARCHAR}
      )
  </insert>
	
	
	
  <insert id="saveTemp" parameterType="com.c503.sc.jxwl.transacation.bean.WayBillEntity" >
	INSERT INTO T_WAYBILL_TEMP (ID, DRIVER_ID, ESCORT_ID, 
	      CHEMICAL_ID, LOGISTICS_ID, TEMPNAME, 
	      VEHICLE_ID, CHECKNO, CONSUMERNO, 
	      STARTPOINT, ENDPOINT, DELIVERYUNIT, 
	      DELIVERYUNITPERSON, CHECKSTATUS, DELIVERYUNITADDRESS, 
	      DELIVERYUNITTIME, ACHIEVEUINT, ACHIEVEPERSON, 
	      ACHIEVEPHONE, DELIVERYUNITPHONE, ACHIEVEADDRESS, 
	      ACHIEVETIME, DRIVER, DRIVERPHONE, 
	      DRIVERID, DRIVERNO, ESCORT, 
	      ESCORTPHONE, HANDCARNO, ESCORTNO, 
	      ESCORTID, CARNO, REMARK, 
	      CREATE_BY, CREATE_TIME, UPDATE_BY, 
	      UPDATE_TIME, REMOVE)
    VALUES (#{id,jdbcType=VARCHAR}, #{driverId,jdbcType=VARCHAR}, #{escortId,jdbcType=VARCHAR}, 
	      #{chemicalId,jdbcType=VARCHAR}, #{logisticsId,jdbcType=VARCHAR}, #{tempname,jdbcType=VARCHAR}, 
	      #{vehicleId,jdbcType=VARCHAR}, #{checkno,jdbcType=VARCHAR}, #{consumerno,jdbcType=VARCHAR}, 
	      #{startpoint,jdbcType=VARCHAR}, #{endpoint,jdbcType=VARCHAR}, #{deliveryunit,jdbcType=VARCHAR}, 
	      #{deliveryunitperson,jdbcType=VARCHAR}, #{checkstatus,jdbcType=VARCHAR}, #{deliveryunitaddress,jdbcType=VARCHAR}, 
	      #{deliveryunittime,jdbcType=DATE}, #{achieveuint,jdbcType=VARCHAR}, #{achieveperson,jdbcType=VARCHAR}, 
	      #{achievephone,jdbcType=VARCHAR}, #{deliveryunitphone,jdbcType=VARCHAR}, #{achieveaddress,jdbcType=VARCHAR}, 
	      #{achievetime,jdbcType=DATE}, #{driver,jdbcType=VARCHAR}, #{driverphone,jdbcType=VARCHAR}, 
	      #{driverid,jdbcType=VARCHAR}, #{driverno,jdbcType=VARCHAR}, #{escort,jdbcType=VARCHAR}, 
	      #{escortphone,jdbcType=VARCHAR}, #{handcarno,jdbcType=VARCHAR}, #{escortno,jdbcType=VARCHAR}, 
	      #{escortid,jdbcType=VARCHAR}, #{carno,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
	      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
	      #{updateTime,jdbcType=TIMESTAMP}, #{remove,jdbcType=CHAR})
  </insert>
	  
	  
  <insert id="saveTempVal" parameterType="java.util.List">
     INSERT INTO T_WAYBILL_GOODS_TEMP (
       <include refid="Base_Column_List2" />
     )
	<foreach  collection="list" item="item" separator="union all">
		  SELECT
		      #{item.id,jdbcType=VARCHAR}, 		     #{item.checkno,jdbcType=VARCHAR}, 		    #{item.goodsname,jdbcType=VARCHAR}, 
		      #{item.pack,jdbcType=VARCHAR}, 		 #{item.quantity,jdbcType=VARCHAR}, 		#{item.weight,jdbcType=VARCHAR}, 
		      #{item.volume,jdbcType=VARCHAR},		 #{item.format,jdbcType=VARCHAR}, 			#{item.waybilltempId,jdbcType=VARCHAR}, 
		      #{item.createBy,jdbcType=VARCHAR}, 	 #{item.createTime,jdbcType=TIMESTAMP}, 	#{item.updateBy,jdbcType=VARCHAR}, 
		      #{item.updateTime,jdbcType=TIMESTAMP}, #{item.remove,jdbcType=CHAR}, 				#{item.batch,jdbcType=VARCHAR} FROM DUAL
	</foreach>
  </insert>

	
   <!-- 逻辑删除货源 -->
  <update id="delete" parameterType="map" >
   BEGIN
      UPDATE T_WAYBILL SET 
        REMOVE      = '1',
        UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      WHERE ID = #{id,jdbcType=VARCHAR};

   UPDATE T_WAYBILL_GOODS SET 
      REMOVE      = '1',
      UPDATE_BY   = #{updateBy,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    WHERE WAYBILL_ID = #{id,jdbcType=VARCHAR};

   <!-- 异常处理 -->
     EXCEPTION
     WHEN OTHERS THEN
       ROLLBACK;  

   END;
  </update>
  
  <update id="update" parameterType="com.c503.sc.jxwl.transacation.bean.WayBillEntity" >
	  UPDATE  T_WAYBILL
	  SET     DRIVER_ID = #{driverId,jdbcType=VARCHAR},
		      ESCORT_ID = #{escortId,jdbcType=VARCHAR},
		      LOGISTICS_ID = #{logisticsId,jdbcType=VARCHAR},
		      VEHICLE_ID = #{vehicleId,jdbcType=VARCHAR},
		      CHECKNO = #{checkno,jdbcType=VARCHAR},
		      CONSUMERNO = #{consumerno,jdbcType=VARCHAR},
		      STARTPOINT = #{startpoint,jdbcType=VARCHAR},
		      ENDPOINT = #{endpoint,jdbcType=VARCHAR},
		      DELIVERYUNIT = #{deliveryunit,jdbcType=VARCHAR},
		      DELIVERYUNITPERSON = #{deliveryunitperson,jdbcType=VARCHAR},
		      CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
		      DELIVERYUNITADDRESS = #{deliveryunitaddress,jdbcType=VARCHAR},
		      DELIVERYUNITTIME = #{deliveryunittime,jdbcType=DATE},
		      ACHIEVEUINT = #{achieveuint,jdbcType=VARCHAR},
		      ACHIEVEPERSON = #{achieveperson,jdbcType=VARCHAR},
		      ACHIEVEPHONE = #{achievephone,jdbcType=VARCHAR},
		      DELIVERYUNITPHONE = #{deliveryunitphone,jdbcType=VARCHAR},
		      ACHIEVEADDRESS = #{achieveaddress,jdbcType=VARCHAR},
		      ACHIEVETIME = #{achievetime,jdbcType=DATE},
		      DRIVER = #{driver,jdbcType=VARCHAR},
		      DRIVERPHONE = #{driverphone,jdbcType=VARCHAR},
		      DRIVERID = #{driverid,jdbcType=VARCHAR},
		      DRIVERNO = #{driverno,jdbcType=VARCHAR},
		      ESCORT = #{escort,jdbcType=VARCHAR},
		      ESCORTPHONE = #{escortphone,jdbcType=VARCHAR},
		      HANDCARNO = #{handcarno,jdbcType=VARCHAR},
		      ESCORTNO = #{escortno,jdbcType=VARCHAR},
		      ESCORTID = #{escortid,jdbcType=VARCHAR},
		      CARNO = #{carno,jdbcType=VARCHAR},
		      REMARK = #{remark,jdbcType=VARCHAR},
		      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
		      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
		      START_LNG = #{startLng,jdbcType=VARCHAR},
      		  START_LAT = #{startLat,jdbcType=VARCHAR},         
      		  END_LNG = #{endLng,jdbcType=VARCHAR},                 
      		  END_LAT = #{endLat,jdbcType=VARCHAR}
    WHERE 	  ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateForApp" parameterType="com.c503.sc.jxwl.transacation.bean.WayBillEntity" >
    UPDATE T_WAYBILL
    SET     CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      		CREATE_BY = #{createBy,jdbcType=VARCHAR},
      		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      		UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      		REMOVE = #{remove,jdbcType=CHAR}
  	WHERE 	ID = #{id,jdbcType=VARCHAR}
  </update>
  
  	<!-- 查询运单状态为 取货中和送货中的数据 -->
	 <select id="findWayBillStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
			<include refid="Base_Column_List" />
		FROM T_WAYBILL
		WHERE REMOVE = '0'
		      <if test="driverid != null and driverid != ''">
		  	     AND DRIVERID = #{driverid}
		  	  </if>
		     AND  (CHECKSTATUS ='111001002' OR CHECKSTATUS ='111001003')
	</select> 
  
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
  <!--   select temp.*, Q.person_name escort from (SELECT t.ID,        t.CHEMICAL_ID,           t.LOGISTICS_ID, t.driver_id,   t.escort_id,
    t.VEHICLE_ID,     t.CHECKNO,              t.CONSUMERNO,       t.STARTPOINT,            t.ENDPOINT,
    t.DELIVERYUNIT,   t.DELIVERYUNITPERSON,   t.CHECKSTATUS,      t.DELIVERYUNITADDRESS,   t.DELIVERYUNITTIME,
    t.ACHIEVEUINT,    t.ACHIEVEPERSON,        t.ACHIEVEPHONE,     t.DELIVERYUNITPHONE,     t.ACHIEVEADDRESS, 
    t.ACHIEVETIME,    t.DRIVERPHONE,          t.DRIVERID,         t.DRIVERNO,              t.DRIVER,
    t.ESCORTPHONE,    t.HANDCARNO,            t.ESCORTNO,         t.ESCORTID, 			   
    t.CARNO,       t.ORDER_NO,               t.START_LNG,          t.START_LAT,
    t.END_LNG,            t.END_LAT, e.enterprise_name wlEnterpriseName, p.person_name driver
    FROM T_WAYBILL t left join t_enterprise e on e.corporate_no = t.logistics_id 
    left join  t_occupation_person p on p.id = t.driver_id
    WHERE t.ID = #{id,jdbcType=VARCHAR}
     AND   t.REMOVE = '0') temp 
    left join  t_occupation_person Q on Q.id = temp.escort_id -->
   select temp.*,toc.person_name as ESCORT from (SELECT t.ID,
       t.CHEMICAL_ID,
       t.LOGISTICS_ID,
       t.driver_id,
       t.escort_id,
       t.VEHICLE_ID,
       t.CHECKNO,
       t.CONSUMERNO,
       t.STARTPOINT,
       t.ENDPOINT,
       t.DELIVERYUNIT,
       t.DELIVERYUNITPERSON,
       t.CHECKSTATUS,
       t.DELIVERYUNITADDRESS,
       t.DELIVERYUNITTIME,
       t.ACHIEVEUINT,
       t.ACHIEVEPERSON,
       t.ACHIEVEPHONE,
       t.DELIVERYUNITPHONE,
       t.ACHIEVEADDRESS,
       t.ACHIEVETIME,
       t.DRIVERPHONE,
       t.DRIVERID,
       t.DRIVERNO,
       t.ESCORTPHONE,
       t.HANDCARNO,
       t.ESCORTNO,
       t.ESCORTID,
       t.CARNO,
       t.ORDER_NO,
       t.START_LNG,
       t.START_LAT,
       t.END_LNG,
       t.END_LAT,
       t.REMARK,
       TOP.Person_Name as DRIVER,
       e.enterprise_name wlEnterpriseName
  FROM T_WAYBILL t
  left join t_enterprise e
    on e.corporate_no = t.logistics_id
  left join T_OCCUPATION_PERSON TOP
    ON TOP.ID = t.driver_id
 WHERE t.ID = #{id,jdbcType=VARCHAR}
   AND t.REMOVE = '0') temp 
   left join t_occupation_person toc
    on temp.escort_id = toc.id
    
    
  </select>
  <!--查询对应物流企业的驾驶员、押运员 -->
  <select id="findPersonType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
     		PERSON_NAME, 		IDENTIFICATION_CARD_NO,
     		OCCUPATION_NO,		DRIVE_CARD_NO,				TELEPHONE
    FROM 	T_OCCUPATION_PERSON		
   	WHERE 		CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR} 
   	      AND 	OCCUPATION_PERSON_TYPE = #{personType,jdbcType=VARCHAR} 
   	      AND 	REMOVE = '0'
  </select>
  
  
  <select id="findGoodsData" parameterType="String" resultType="com.c503.sc.jxwl.transacation.bean.WayBillGoodsEntity">
	SELECT ID         id,
	       CHECKNO    checkno,
	       GOODSNAME  goodsname,
	       PACK       pack,
	       QUANTITY   quantity,
	       WEIGHT     weight,
	       VOLUME     volume,
	       FORMAT     format,
	       BATCH      batch,
	       WAYBILL_ID waybillId
	  FROM T_WAYBILL_GOODS
	 WHERE WAYBILL_ID IN (SELECT ID
	                        FROM t_waybill
	                       WHERE CARNO  = #{value}
	                       AND CHECKSTATUS IN ('111001002','111001003')
	                         AND REMOVE = '0')
	   AND REMOVE = '0'
  
  </select>
   <!-- 查询运单号是否存在 -->
  <select id="findWaybilllNoHasExist" parameterType="String" resultType="String">
  	SELECT CHECKNO 
  	  FROM T_WAYBILL
  	 WHERE CHECKNO = #{checkNo,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据运单id 查询regid -->
  <select id="findRegIdByWayBill" parameterType="String" resultType="String">
		  	select TR.REGID
			 from T_WAYBILL TW
			 LEFT JOIN T_OCCUPATION_PERSON TOC
			   ON TOC.IDENTIFICATION_CARD_NO = TW.DRIVERID
			  AND TOC.REMOVE = '0'
			 LEFT JOIN T_REGISTER_INFO TR
			   ON TR.OCCUPATION_ID = TOC.ID
			  AND TR.REMOVE = '0'
			WHERE TW.ID = #{id,jdbcType=VARCHAR}
			  AND TW.CHECKSTATUS IN ('111001002', '111001003')
			  AND TW.REMOVE = '0'
  </select>
  <!-- 通过id查询运单车辆的remove以及车辆所属企业的remove -->
  <select id="isCarExist" parameterType="map" resultMap="BaseResultMap">
  	  select distinct TC.CARNO, TE.REMOVE AS ENTERPRIE_REMOVE, TE.CORPORATE_NO, TD.REMOVE AS CAR_REMOVE
	  FROM T_WAYBILL TC
	  LEFT JOIN T_ENTERPRISE TE
	    ON TC.LOGISTICS_ID = TE.CORPORATE_NO
	   AND TE.REMOVE = '0'
	  LEFT JOIN T_DANGER_VEHICLE TD
	    ON TD.LICENCE_PLATE_NO = TC.CARNO
	   AND TD.REMOVE = '0'
	 where TC.ID = #{id,jdbcType=VARCHAR}
	   AND TC.REMOVE ='0'
  </select>
  
  <!-- 判断是否完成 -->
  <select id ="isDeal" parameterType="map" resultType="String">
  select id
  from T_SOURCE_GOODS t
 where t.order_no = #{orderNo,jdbcType=VARCHAR}
   AND t.remove = #{remove,jdbcType=VARCHAR}
   AND t.trade_status = '110001005'
  </select>
  
  <!-- 手机app绑定  查询参数 -->
  <select id="findForBind" parameterType="map" resultMap="BaseResultMap">
    SELECT TW.CARNO, TW.DRIVERPHONE, TD.VEHICLE_COLOR
	  FROM T_WAYBILL TW
	  JOIN T_DANGER_VEHICLE TD
	    ON TD.LICENCE_PLATE_NO = TW.CARNO
	   AND TD.REMOVE = '0'
	 WHERE TW.ID = #{id,jdbcType=VARCHAR}
	   AND TW.REMOVE = '0'
  </select>
  
  <!-- ************************************* 微信使用 *************************************** -->
  <!-- 运单列表（微信使用） -->
  <select id="findWaybillForWeixinParams" parameterType="map" resultType="map">
	SELECT T.ID, 
	       T.CHECKNO, 
	       T.CONSUMERNO,
	       T.CHEMICAL_ID,
	       T.LOGISTICS_ID,
	       TD.NAME AS PST,
	       TE.ENTERPRISE_NAME
	  FROM T_WAYBILL T
	  LEFT JOIN T_ENTERPRISE TE
	    ON T.LOGISTICS_ID = TE.CORPORATE_NO
	   AND TE.REMOVE = '0'
	  LEFT JOIN T_DICTIONARY_VALUE TD
	    ON T.CHECKSTATUS = TD.VALUE
	 WHERE T.REMOVE  = '0'
	 <if test="corporateNo != null and corporateNo != ''">
	   AND T.LOGISTICS_ID = #{corporateNo}
	 </if>
	 <if test="waybillNo != null and waybillNo != ''">
	  AND T.CHECKNO LIKE CONCAT(CONCAT('%',#{waybillNo}),'%')
	 </if>
	 ORDER BY T.CHECKSTATUS DESC
  </select>
  
  
  
  
  
  
</mapper>

