<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xly.spring.boot.mybatisplus.server.mapper.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xly.spring.boot.mybatisplus.server.entity.Enterprise">
        <id column="id" property="id"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="type" property="type"/>
        <result column="business_type" property="businessType"/>
        <result column="industry_category" property="industryCategory"/>
        <result column="credit_code" property="creditCode"/>
        <result column="establish_date" property="establishDate"/>
        <result column="address" property="address"/>
        <result column="production_address" property="productionAddress"/>
        <result column="economic_type" property="economicType"/>
        <result column="phone" property="phone"/>
        <result column="postal_code" property="postalCode"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="business_term" property="businessTerm"/>
        <result column="fax_number" property="faxNumber"/>
        <result column="legal_person" property="legalPerson"/>
        <result column="legal_number" property="legalNumber"/>
        <result column="legal_email" property="legalEmail"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="political_divide_code" property="politicalDivideCode"/>
        <result column="political_divide_name" property="politicalDivideName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprise_name, type, business_type, industry_category, credit_code, establish_date, address,
        production_address, economic_type,phone, postal_code, created_by, updated_by, is_deleted, created_time,
        updated_time, business_term, fax_number, legal_person, legal_number, legal_email, longitude,
        latitude,political_divide_code,political_divide_name
    </sql>

</mapper>
