<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.dict.dao.IDictionaryValueDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.dict.bean.DictionaryValueEntity" >
    <id column="ID"              property="id"         jdbcType="VARCHAR" />
    <result column="TYPE_CODE"   property="typeCode"   jdbcType="VARCHAR" />
    <result column="NAME"        property="name"       jdbcType="VARCHAR" />
    <result column="EN_NAME"     property="enName"     jdbcType="VARCHAR" />
    <result column="VALUE"       property="value"      jdbcType="VARCHAR" />
    <result column="ORDERS"      property="orders"     jdbcType="DECIMAL" />
    <result column="REMARK"      property="remark"     jdbcType="VARCHAR" />
    <result column="CREATE_BY"   property="createBy"   jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY"   property="updateBy"   jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE"      property="remove"     jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="DictDataResultMap" type="com.c503.sc.dict.vo.DictDataVo" >
    <id column="CODE"        property="code"   jdbcType="VARCHAR" />
    <result column="PCODE"   property="pcode"  jdbcType="VARCHAR" />
    <result column="EN_NAME" property="enName" jdbcType="VARCHAR" />
    <result column="NAME"    property="name"   jdbcType="VARCHAR" />
    <result column="REMARK"  property="remark" jdbcType="VARCHAR" />
    <result column="ORDERS"  property="orders" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, TYPE_CODE, NAME, EN_NAME, VALUE, ORDERS, REMARK, CREATE_BY, CREATE_TIME, UPDATE_BY, 
    UPDATE_TIME, REMOVE
  </sql>
  
  <select id="findDicByValue" parameterType="java.lang.String"  resultMap="BaseResultMap">
     select
     type_code,
     name,
     en_name,
     value
     from t_dictionary_value
     where value=#{value}
  </select>
  
  <!-- 根据条件获得数据字典分类 -->
  <select id="findByCond" parameterType="java.util.HashMap" resultType="com.c503.sc.dict.vo.DictDataVo">
    SELECT DISTINCT
       tdv.type_code "pcode",
       tdv.value     "code",
       tdv.name      "name",
       tdv.en_name   "enName",
       tdv.remark    "remark",
       tdv.orders    "orders"
    FROM t_dictionary_value tdv
    <where>
      <trim suffixOverrides="AND">
           <if test="code!=null and code!=''">
				 tdv.VALUE = #{code}
				AND
		    </if>
		     <if test="pCode!=null and pCode!=''">
				 tdv.type_code = #{pCode}
				AND
		    </if>
		    <if test="pCodes!=null and pCodes.size() > 0">
				 tdv.type_code IN
				 <foreach item="item" index="index" collection="pCodes" open="("
					separator="," close=")">
					#{item}
				</foreach>
				AND
		    </if>
			<if test="ids!=null and ids.length >0">
				 tdv.id IN
				<foreach item="item" index="index" collection="ids" open="("
					separator="," close=")">
					#{item}
				</foreach>
				AND
		    </if>
			<if test="true">
			    tdv.remove=#{remove,jdbcType=CHAR}
			    AND
			</if>
		</trim>
    </where>
    ORDER BY orders ASC
  </select>
  
  
  <!-- 根据条件获得字典值对象集合 -->
  <select id="findByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
	FROM t_dictionary_value
	<where>
	    <trim suffixOverrides="AND">
			<if test="orders!= null and orders!='' ">
				orders >= #{orders,jdbcType=VARCHAR}
				AND
			</if>
			<if test="typeCode!= null and typeCode!= '' ">
				type_code = #{typeCode,jdbcType=VARCHAR}
				AND
			</if>
			<if test="typeCodes!= null and typeCodes!= '' ">
				type_code IN 
				<foreach item="item" index="index" collection="typeCodes" open="(" separator="," close=")">
					#{typeCodes[${index}]}
				</foreach>
				AND
			</if>
			<if test="true">
			    remove=#{remove,jdbcType=CHAR}
			    AND
			</if>
		</trim>
	</where>
  </select>
  
</mapper>