<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>形象展示</title>
<link rel="stylesheet" href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/bootstrap-3.3.4/css/star-rating.min.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../js/lib/uploadFile/Huploadify.css" />
<link rel="stylesheet" href="../../css/view/goodsTrade/imageShow.css" />
<!-- 媒体查询，只能放在最后 -->
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content">
		<div role="tabpanel" class="" id="tabPanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="inforMag-tabs" data-module="enterpriseImageShow">
				<li role="presentation" class="active"><a href="#enterpriseImageShow"
					aria-controls="enterpriseImageShow" role="tab" data-toggle="tab" data-module-name="enterpriseImageShow">形象展示</a>
				</li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content" id="tabContent">
				<!--形象展示-->
				<div role="tabpanel" class="tab-pane" id="company" style="display: block">
					<!--搜索栏区域展示-->
					<div class="searchBox" id="company-search">
						<div class="line-searchBox">
							<!--搜索输入框-->
							<div class="item-searchBox col-xs-3">
								<label class="horizontal-span" for="">企业名称</label>
								<input name="corporateName-Code" id="enterprise-search" type="text" class="form-control"
								 placeholder="企业名称或法人代码" autocomplete="off" maxlength="200">
							</div>
							<!--搜索按钮-->
							<div class="item-searchBox col-xs-3">
								<button type="button" class="btn btn-lemon" data-func="enterpriseImageShow-findByPage" id="enterprise-searchBtn"  style="
    margin-right: 25px;">
									<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
								</button>
								<button type="button" class="btn btn-lemon" id="return-Btn">
									<span class="glyphicon"></span>&nbsp;&nbsp;我的企业
								</button>
							</div>
			
							
						</div>
					</div>
					<div id="information">
						<div class="row" >
							<!-- left-->
							<div class="col-xs-6 left" >
								<!-- left up 图片轮播-->
								<div class="row leftUp height-left-up" >
									<div id="imageShowCarousel" class="carousel slide" data-ride="carousel" style="">
									    <!-- Indicators -->
										<ol class="carousel-indicators" id ="carouselIndicators"></ol>
										<!-- 轮播的图片 -->
										<div class="carousel-inner"  id="image"></div>
									</div>
								</div>
								<!-- left down 投诉记录信息表-->
								
								<div class="row leftDown height-left-down"  id="complains">
									<div class="left-down-head">
										<span class="left-down-title1">投诉记录</span>
										<span class="left-down-title2">查看更多</span>
									</div>
									<table id="complainsTable"></table>
									<div id="complainsPager"></div>
								</div>
							</div>
							<!-- right-->
							<div class="col-xs-6">
								<div class="row rightUp"  id="companyInf">
									<!-- 公司名称-->
									<div class="enterpriseName">
										<h3 id="enterpriseName">公司名称</h3>
									</div>
									<!-- 公司评价-->
									<div class="evaluate" id="comment_score"></div>
									<!-- 公司详细信息-->
									<div class="companyInf height-company" id="comInformation" >
										<div class="baseInf">
											<p>基本信息</p>
											<div class="horizon" style="border: 1px solid #b2dba1"></div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span class="contentSytle">法人代表 :</span>&nbsp;
												<span id="corporateRep"></span>
											</div>
											<div class="col-xs-6">
												<span>成立时间 :</span>&nbsp;
												<span id="establishDate">foundTime</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span>注册资本 :</span>&nbsp;
												<span id="logonCapital">RegisterFund</span>
											</div>
											<div class="col-xs-6">
												<span>企业类型 :</span>&nbsp;
												<span id="enterpriseType">comType</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span>开户行 :</span>&nbsp;
												<span id="openAccountBank">bank</span>
											</div>
											<div class="col-xs-6">
												<span>登记机关 :</span>&nbsp;
												<span id="registerOffice">registerOffice</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span>工商注册号 :</span>&nbsp;
												<span id="registrationNo">comRegisterNum</span>
											</div>
											<div class="col-xs-6">
												<span>税务证号 :</span>&nbsp;
												<span id="taxationNo">taxNum</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span>经营地址 :</span>&nbsp;
												<span id="address">manageAdd</span>
											</div>
											<div class="col-xs-6"></div>
										</div>
										<div class="comAbstract">
											<p>企业简介</p>
											<div class="horizon" style="border: 1px solid #b2dba1"></div>
											<div class="blank"></div>
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<label>
												<span id="enterpriseIntroduce">交行管理，物流企业用户可查看化工企业发布的货源信息。</span>
											</label>
										</div>
										<div class="professionalWork">
											<p>主营业务</p>
											<div class="horizon" style="border: 1px solid #b2dba1"></div>
											<div class="blank"></div>
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<label>
												<span id="professionalWork"> 交易大厅模块主要用于化工企业和发布的货源信息</span>
											</label>
										</div>
										<div class="majorBusinessRoute">
											<p>主营路线</p>
											<div class="horizon" style="border: 1px solid #b2dba1"></div>
											<div class="blank"></div>
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
											<label>
												<span id="majorBusinessRoute"> 交易括货源发布、车源发布、的货源信息</span>
											</label>
										</div>
									</div>
								</div>
						 		
						 		
								<div class="row rightDown"  id="comments_show">
									<div class="right-down-head">
										<span class="right-down-title1">评论记录</span>
										<span class="right-down-title2">查看更多</span>
									</div>
									<table id="comments_table" ></table>
									<div id="comments_pager" ></div>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
    <!-- 投诉：查看更多 -->
	<div class="panel panel-gray-lg" id="complain_more">
		<div class="panel-heading">
			<span class="panel-title">投诉记录</span>
		</div>
		<div class="searchBox">
			<div class="line-searchBox row">
				<div class="item-searchBox col-xs-4">
					<label class="horizontal-span">订单编号</label>
					<input type="text" name="" id="complain_order_no"  class="form-control">
				</div>
				<div class="item-searchBox col-xs-7">
					<label class="horizontal-span">投诉时间</label>
					<input type="text" class="form-control Wdate" id="complain_start_time"
						onclick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'complain_end_time\')}'})" readonly="readonly">
					<span class="split-Wdate left-span">&nbsp;&nbsp;到&nbsp;&nbsp;</span>
					<input type="text" class="form-control Wdate" id="complain_end_time" 
						onclick="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'complain_start_time\')}'})" readonly="readonly">
				</div>
				<div class="item-searchBox col-xs-1">
					<button type="button" class="btn btn-lemon"  id="complain_search_btn">
						<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel-body-content">
				<table id="complain_more_table"></table>
				<div id="complain_more_page"></div>
			</div>
		</div>
	</div>
	
	
	
    <!-- 评价：查看更多 -->
	<div class="panel panel-gray-sl" id="comment_more">
		<div class="panel-heading">
			<span class="panel-title">评价记录</span>
		</div>
		<div class="searchBox">
			<div class="line-searchBox row">
				<div class="item-searchBox col-xs-4">
					<label class="horizontal-span">订单编号</label>
					<input type="text" name="" id="comment_order_no"  class="form-control">
				</div>
				<div class="item-searchBox col-xs-6">
					<label class="horizontal-span">评价时间</label>
					<input type="text" class="form-control Wdate" id="comment_start_time"
						onclick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'#F{$dp.$D(\'comment_end_time\')}'})" readonly="readonly">
					<span class="split-Wdate left-span">&nbsp;&nbsp;到&nbsp;&nbsp;</span>
					<input type="text" class="form-control Wdate" id="comment_end_time" 
						onclick="WdatePicker({dateFmt:'yyyy-MM-dd', minDate:'#F{$dp.$D(\'comment_start_time\')}'})" readonly="readonly">
				</div>
				<div class="item-searchBox col-xs-2">
					<button type="button" class="btn btn-lemon"  id="comment_search_btn">
						<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel-body-content">
				<table id="comment_more_table"></table>
				<div id="comment_more_page"></div>
			</div>
		</div>
	</div>
	


	<!--js引用-->
	<script src="../../js/lib/jquery/jquery-1.11.2.min.js"></script>
	<script src="../../js/lib/jquery/jquery-ui.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap-typeahead.js"></script>
	<script src="../../js/lib/thrjs/star-rating.min.js"></script>
	<script src="../../js/lib/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="../../js/lib/jqGrid/grid.locale-cn.js"></script>
	<script src="../../js/lib/datePicker/WdatePicker.js"></script>
	<script src="../../js/lib/uploadFile/jquery.Huploadify.js"></script>
	<script src="../../js/module/jquery-html5Validate.js"></script>
	<script src="../../js/module/message-2.0.0.js"></script>
	<script src="../../js/module/base.js"></script>
	<script src="../../js/module/topMenu.js"></script>
	<script src="../../js/view/carMonitor/enterprise.js"></script>
	<script src="../../js/view/goodsTrade/enterpriseImageShow.js"></script>
</body>
</html>