<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>大屏展示</title>
<link rel="stylesheet" href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../js/lib/uploadFile/Huploadify.css" />
<link rel="stylesheet" href="../../css/view/goodsTrade/fullScreen.css" />
<link rel="stylesheet" href="../../css/view/goodsTrade/fullScreenTwo.css" />
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content fullScreenContainer">
		<!-- 内容区 -->
		<div class="container-fluid top-bottom-margin">
		    <div class="row hegiht-com">
				<div class="col-xs-4">
					<div id="slider">
						<ul class="slider-main">
							<!-- 
							<li class="slider-panel"><img alt="" src="../../images/Chrysanthemum.jpg" class="img-responsive img-rounded" /></li>
							<li class="slider-panel"><img alt="" src="../../images/Desert.jpg"  class="img-responsive img-rounded" /></li>
							<li class="slider-panel"><img alt="" src="../../images/Hydrangeas.jpg" class="img-responsive img-rounded" /></li>
							 -->
						</ul>
						<div class="slider-extra">
							<ul class="slider-nav">
								<li class="slider-item">1</li>
								<li class="slider-item">2</li>
								<li class="slider-item">3</li>
							</ul>
							<div class="slider-page">
								<a class="slider-pre"  href="javascript:;;">&lt;</a>
								<a class="slider-next" href="javascript:;;">&gt;</a>
							</div>
					    </div>
					</div>
				</div>
				
                <div class="col-xs-8">
                	<div class="fullScreen-left-title">重大新闻</div>
                	<!--重大新闻数据展示区  -->
					<div class="back_style data_row" id="importantNewData">
					</div>
                </div>
            </div>
            <div class="row hegiht-com block2-margin-top" >
                <div class="col-xs-8">
                	<div class="fullScreen-left-title">规章制度</div>
                	<!--规则制度数据展示区  -->
					<div class="back_style data_row" id="rulesData"></div>
                </div>
                
                <div class="col-xs-4">
                	<div class="fullScreen-left-title">通知公告</div>
                	<!--通知公告数据展示区  -->
					<div class="back_style data_row" id="announcementData"></div>
                </div>
            </div>
		</div>
	</div>
	
	
	<!--js引用-->
	<script src="../../js/loadScript.js"></script>
	<!-- <script src="../../js/lib/jquery/jquery-1.11.2.min.js"></script>
	<script src="../../js/lib/jquery/jquery-ui.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap-typeahead.js"></script>
	<script src="../../js/lib/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="../../js/lib/jqGrid/grid.locale-cn.js"></script>
	<script src="../../js/lib/datePicker/WdatePicker.js"></script>
	<script src="../../js/lib/uploadFile/jquery.Huploadify.js"></script>
	<script src="../../js/module/jquery-html5Validate.js"></script>
	<script src="../../js/module/message-2.0.0.js"></script>
	<script src="../../js/module/base.js"></script>
	<script src="../../js/module/topMenu.js"></script> -->
	<script src="../../js/view/goodsTrade/fullScreenTwo.js"></script>
</body>
</html>