<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>大屏展示</title>
<link rel="stylesheet" href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../js/lib/uploadFile/Huploadify.css" />
<link rel="stylesheet" href="../../css/view/goodsTrade/fullScreen.css" />
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content fullScreenContainer">
		<!-- 内容区 -->
		<div class="container-fluid">
			<div class="col-xs-1"></div>
			<div class="fullScreen-right col-xs-12">
				<div class="fullScreen-center-title">车源信息</div>
				<!--车源信息数据表表头  货物名称、起点、到点、数量、发布日期和联系方式-->
					<div class="vehicleSourceRow row" id="vehicleSourceData-title">
					    <div class="gs-rowItem-four col-xs-2">企业名称</div>
						<div class="gs-rowItem-four col-xs-1">车牌号</div>
						<div class="gs-rowItem-four col-xs-1">车辆类型</div>
						<div class="gs-rowItem-four col-xs-1">车辆排量</div>
						<div class="gs-rowItem-four col-xs-1">发动机号码</div>
						<div class="gs-rowItem-four col-xs-1">底盘号码</div>
						<!-- <div class="gs-rowItem-four col-xs-1">跨域类型</div>
						<div class="gs-rowItem-four col-xs-1">车辆品牌</div>
						<div class="gs-rowItem-four col-xs-1">车辆品牌类型</div>
						<div class="gs-rowItem-four col-xs-1">车辆编号</div>
						<div class="gs-rowItem-four col-xs-1">车辆颜色</div> -->
						<div class="gs-rowItem-four col-xs-1">运输线路</div>
						<div class="gs-rowItem-four col-xs-1">可运输货物类别和数量</div>
						<div class="gs-rowItem-four col-xs-1">最大载重</div>
						<div class="gs-rowItem-four col-xs-1">联系方式</div>
						<div class="gs-rowItem-four col-xs-1">发布日期</div>
					</div>
				<!--车源信息数据展示区  -->
				<!-- <marquee direction="up" scrolldelay="200" id="vehicleSourceDataMar"> -->
					<div id="vehicleSourceDataContainer">
						<div id="vehicleSourceData" ></div>
						<div class="vehicleSourceRow row"></div>
						<div id="vehicleSourceData2" ></div>
					</div>
				<!-- </marquee> -->
			</div>
		</div>
	</div>
	
	<!-- 车源信息数据展示模板 -->
	<div class="hidden" id="vehicleSourceDataTemp">
		<div class="vehicleSourceRow row">
		    <div class="gs-rowItem-four col-xs-2">{enterpriseName}</div>
			<div class="gs-rowItem-four col-xs-1">{licencePlateNo}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleType}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleOutput}</div>
			<div class="gs-rowItem-four col-xs-1">{motorNo}</div>
			<div class="gs-rowItem-four col-xs-1">{graduadedNo}</div>
			<!-- <div class="gs-rowItem-four col-xs-1">{crossDomainType}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleBrand}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleBrandType}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleNo}</div>
			<div class="gs-rowItem-four col-xs-1">{vehicleColor}</div> -->
			<div class="gs-rowItem-four col-xs-1">{transportRoute}</div>
			<div class="gs-rowItem-four col-xs-1">{goodsTypeAndQuantity}</div>
			<div class="gs-rowItem-four col-xs-1">{maxLoadWeight}</div>
			<div class="gs-rowItem-four col-xs-1">{contactPhone}</div>
			<div class="gs-rowItem-four col-xs-1">{publishDate}</div>
		</div>
	</div>
	<!--js引用-->
	<script src="../../js/loadScript.js"></script>
	<!-- <script src="../../js/lib/jquery/jquery-1.11.2.min.js"></script>
	<script src="../../js/lib/jquery/jquery-ui.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.4/js/bootstrap-typeahead.js"></script>
	<script src="../../js/lib/jqGrid/jquery.jqGrid.min.js"></script>
	<script src="../../js/lib/jqGrid/grid.locale-cn.js"></script>
	<script src="../../js/lib/datePicker/WdatePicker.js"></script>
	<script src="../../js/lib/uploadFile/jquery.Huploadify.js"></script>
	<script src="../../js/module/jquery-html5Validate.js"></script>
	<script src="../../js/module/message-2.0.0.js"></script>
	<script src="../../js/module/base.js"></script>
	<script src="../../js/module/topMenu.js"></script> -->
	<script src="../../js/view/goodsTrade/fullScreenFour.js"></script>
</body>
</html>