<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>大屏展示</title>
<link rel="stylesheet" href="../../js/lib/bootstrap-3.3.4/css/bootstrap.css" />
<link rel="stylesheet" href="../../js/lib/jquery/css/jquery-ui.css" />
<link rel="stylesheet" href="../../js/lib/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="../../css/module/module.css" />
<link rel="stylesheet" href="../../js/lib/uploadFile/Huploadify.css" />
<link rel="stylesheet" href="../../css/view/goodsTrade/fullScreen.css" />
<link rel="stylesheet" href="../../map/base/ol3.13.1/ol.css">
<link rel="stylesheet" href="../../map/base/css/map.css">
<link rel="stylesheet" href="../../map/base/css/fullscreen.css">
<link rel="stylesheet" href="../../css/view/media.css"/>
</head>
<body>
	<div class="right-content fullScreenContainer">
		<div class="container-fluid">
		<!-- 地图内容区 -->
			<div id='map' class="map" style="background-color: #fff;background-image: none;">
			</div>
		</div>
	</div>
<!--js引用-->
<script src="../../js/loadScript.js"></script>
<script src="../../map/proj4.js"></script>
<script src="../../map/JXWLMapJs.js"></script>
<script src="../../js/module/topMenu.js"></script>
<script src="../../js/view/goodsTrade/fullScreenThree.js"></script>
</body>
</html>