/*标绘功能*/
/*直线*/
.plotLine{
	float:left;
}
/*曲线*/
.plotCurve{
	float:left;
}
/*弧线*/
.plotARC{
	float:left;
}
/*多边形*/
.plotPolygon{
	float:left;
	clear:left;
}
/*矩形*/
.plotRegularPolygon{
	float:left;
}
/*椭圆*/
.plotEllipse{
	float:left;
}
/*圆*/
.plotCircle{
	float:left;
}
/*闭合曲线*/
.plotClosedCurve{
	float:left;
}
/*月牙形*/
.plotLune{
	float:left;
}
/*细直箭头*/
.plotStraightArrow{
	float:left;
	clear:left;
}
/*直线箭头*/
.plotLineArrow{
	float:left;
}
/*突击方向*/
.plotAssaultDirection{
	float:left;
}
/*钳击*/
.plotDoubleArrow{
	float:left;
}
/*进攻方向(头)*/
.plotAttackArrow{
	float:left;
}
/*进攻方向(尾)*/
.plotTailAttackArrow{
	float:left;
}
/*分战斗队形(头)*/
.plotSquadCombat{
	float:left;
}
/*分战斗队形(尾)*/
.plotTailSquadCombat{
	float:left;
}
.toolPan{
	position:relative;
	width:200px;
	/*height:15px;*/
	/* background:#c5c5c5; */
	/* border:1px #000 solid; */
	padding:2px;
	font-size:12px;
}
.toolPan input{
	border: 1px solid #ccc;
	height: 17px;
	margin: 10px 5px;
}
#featureStroke{
	width:40px;
}
#featureFill{
	width:40px;
}
.ol-controlPlot{
	position:relative;
	background-color:#eee;
	background-color:rgba(255,255,255,.4);
	/* border-radius:4px; */
	padding:0;
}
.class_plot{
	position:absolute;
	left:800px;
	top:120px;
	background:#fff;
	/* border: 1px #eee solid; */
	margin-top:10px;
	/* padding-bottom:2px; */
	/*background:rgba(255,255,255,.4);*/
	display:none;
	border-radius: 4px;
	padding: 2px;
}
.class_plot button{
	border:1px solid #ccc;
	/* margin: -3px 0 0 -1px; */
}

/*modified by tianyi 2016-03-08*/
.plotLineInactivate button, .plotLineActivate button, .plotStraightArrowInactivate button, 
.plotStraightArrowActivate button, .plotCurveInactivate button, .plotCurveActivate button, .plotARCInactivate button, .plotARCActivate button, 
.plotSectorInactivate button, .plotSectorActivate button, .plotEllipseInactivate button, .plotEllipseActivate button, .plotClosedCurveInactivate button, 
.plotClosedCurveActivate button, .plotLuneInactivate button, .plotLuneActivate button, .plotLineArrowInactivate button, .plotLineArrowActivate button, 
.plotAssaultDirectionInactivate button, .plotAssaultDirectionActivate button, .plotDoubleArrowInactivate button, .plotDoubleArrowActivate button, 
.plotAttackArrowInactivate button, .plotAttackArrowActivate button, .plotTailAttackArrowInactivate button, .plotTailAttackArrowActivate button, 
.plotSquadCombatInactivate button, .plotSquadCombatActivate button,  plotTailSquadCombatInactivate button, .plotTailSquadCombatActivate button, 
.plotPolygonInactivate button, .plotPolygonActivate button, .plotRegularPolygonActivate button, .plotRegularPolygonInactivate button, 
.plotCircleActivate button, .plotCircleInactivate button, .plotTailSquadCombatActivate button, .plotTailSquadCombatInactivate button{
	width:29px;
	height:29px;
	border: none;
	background: url("../../../base/img/map-icon.png");
} 
/*直线*/
.plotLineInactivate button{
	background-position: -120px -80px;
}
.plotLineActivate button, .plotLineInactivate button:hover{
	background-position: -120px -120px;
}
/*直线箭头*/
.plotStraightArrowInactivate button{
	background-position: -160px -240px;
}
.plotStraightArrowActivate button, .plotStraightArrowInactivate button:hover{
	background-position: -160px -280px;
}
/*曲线*/
.plotCurveInactivate button{
	background-position: -120px -160px;
}
.plotCurveActivate button, .plotCurveInactivate button:hover{
	background-position: -120px -200px;
}
/*弧线*/
.plotARCInactivate button{
	background-position: -120px -240px;
}
.plotARCActivate button, .plotARCInactivate button:hover{
	background-position: -120px -280px;
}
/*扇区*/
.plotSectorInactivate button{
	width:29px;
	height:29px;
	border: none;
	background-image: url("../img/extendPlot/sectorS.png");
}
.plotSectorActivate button{
	width:29px;
	height:29px;
	border: none;
	background-image: url("../img/extendPlot/sector_S.png");
}
/*正方形*/
.plotRegularPolygonInactivate button{
	background-position: -120px -400px;
}
.plotRegularPolygonActivate button, .plotRegularPolygonInactivate button:hover{
	background-position: -120px -440px;
}
/*多边形*/
.plotPolygonInactivate button{
	background-position: -120px -320px;
}
.plotPolygonActivate button, .plotPolygonInactivate button:hover{
	background-position: -120px -360px;
}
/*圆*/
.plotCircleInactivate button{
	background-position: -160px 0;
}
.plotCircleActivate button, .plotCircleInactivate button:hover{
	background-position: -160px -40px;
}
/*椭圆*/
.plotEllipseInactivate button{
	background-position: -120px -480px;
}
.plotEllipseActivate button, .plotEllipseInactivate button:hover{
	background-position: -120px -520px;
}
/*封闭曲线*/
.plotClosedCurveInactivate button{
	background-position: -160px -80px;
}
.plotClosedCurveActivate button, .plotClosedCurveInactivate button:hover{
	background-position: -160px -120px;
}
/*拱形*/
.plotLuneInactivate button{
	background-position: -160px -160px;
}
.plotLuneActivate button, .plotLuneInactivate button:hover{
	background-position: -160px -200px;
}
/*直线箭头*/
.plotLineArrowInactivate button{
	background-position: -160px -320px;
}
.plotLineArrowActivate button, .plotLineArrowInactivate button:hover{
	background-position: -160px -360px;
}
/*突击方向*/
.plotAssaultDirectionInactivate button{
	background-position: -160px -400px;
}
.plotAssaultDirectionActivate button, .plotAssaultDirectionInactivate button:hover{
	background-position: -160px -440px;
}
/*钳击*/
.plotDoubleArrowInactivate button{
	background-position: -160px -480px;
}
.plotDoubleArrowActivate button, .plotDoubleArrowInactivate button:hover{
	background-position: -160px -520px;
}
/*进攻方向*/
.plotAttackArrowInactivate button{
	background-position: -200px 0;
}
.plotAttackArrowActivate button, .plotAttackArrowInactivate button:hover{
	background-position: -200px -40px;
}
/*进攻方向(尾)*/
.plotTailAttackArrowInactivate button{
	background-position: -200px -80px;
}
.plotTailAttackArrowActivate button, .plotTailAttackArrowInactivate button:hover{
	background-position: -200px -120px;
}
/*分队战斗行动*/
.plotSquadCombatInactivate button{
	background-position: -200px -160px;
}
.plotSquadCombatActivate button, .plotSquadCombatInactivate button:hover{
	background-position: -200px -200px;
}
/*分队战斗行动(尾)*/
.plotTailSquadCombatInactivate button{
	background-position: -200px -240px;
}
.plotTailSquadCombatActivate button, .plotTailSquadCombatInactivate button:hover{
	background-position: -200px -280px;
}
/*tianyi modified over*/
/* 添加小三角 */
.arrow {
	border-width: 10px;
	top: -10px;
	left: 50%;
	border-top-width: 0;
	position: absolute;
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	margin-left: 8px;
}
