<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c503.sc.recvBasic.dao.ISyncEnterpriseDataDao" >
  <resultMap id="BaseResultMap" type="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CORPORATE_NO" property="corporateNo" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_TYPE" property="enterpriseType" jdbcType="VARCHAR" />
    <result column="CORPORATE_REP" property="corporateRep" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_INTRODUCE" property="enterpriseIntroduce" jdbcType="VARCHAR" />
    <result column="REGISTER_OFFICE" property="registerOffice" jdbcType="VARCHAR" />
    <result column="LOGON_CAPITAL" property="logonCapital" jdbcType="DECIMAL" />
    <result column="MAJOR_BUSINESS_ROUTE" property="majorBusinessRoute" jdbcType="VARCHAR" />
    <result column="ESTABLISH_DATE" property="establishDate" jdbcType="DATE" />
    <result column="OPEN_ACCOUNT_BANK" property="openAccountBank" jdbcType="VARCHAR" />
    <result column="REGISTRATION_NO" property="registrationNo" jdbcType="VARCHAR" />
    <result column="PROFESSIONAL_WORK" property="professionalWork" jdbcType="VARCHAR" />
    <result column="TAXATION_NO" property="taxationNo" jdbcType="VARCHAR" />
    <result column="OPERATE_AREA" property="operateArea" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="NETWORK_ADDR" property="networkAddr" jdbcType="VARCHAR" />
    <result column="VEHICLE_NUM" property="vehicleNum" jdbcType="DECIMAL" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMOVE" property="remove" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, CORPORATE_NO, ENTERPRISE_NAME, ENTERPRISE_TYPE, CORPORATE_REP, ENTERPRISE_INTRODUCE, 
    REGISTER_OFFICE, LOGON_CAPITAL, MAJOR_BUSINESS_ROUTE, ESTABLISH_DATE, OPEN_ACCOUNT_BANK, 
    REGISTRATION_NO, PROFESSIONAL_WORK, TAXATION_NO, OPERATE_AREA, ADDRESS, NETWORK_ADDR, 
    VEHICLE_NUM, TELEPHONE, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMOVE
  </sql>
  
  
  <insert id="saveEnpInfo" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    insert into T_ENTERPRISE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="corporateNo != null" >
        CORPORATE_NO,
      </if>
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME,
      </if>
      <if test="enterpriseType != null" >
        ENTERPRISE_TYPE,
      </if>
      <if test="corporateRep != null" >
        CORPORATE_REP,
      </if>
      <if test="enterpriseIntroduce != null" >
        ENTERPRISE_INTRODUCE,
      </if>
      <if test="registerOffice != null" >
        REGISTER_OFFICE,
      </if>
      <if test="logonCapital != null" >
        LOGON_CAPITAL,
      </if>
      <if test="majorBusinessRoute != null" >
        MAJOR_BUSINESS_ROUTE,
      </if>
      <if test="establishDate != null" >
        ESTABLISH_DATE,
      </if>
      <if test="openAccountBank != null" >
        OPEN_ACCOUNT_BANK,
      </if>
      <if test="registrationNo != null" >
        REGISTRATION_NO,
      </if>
      <if test="professionalWork != null" >
        PROFESSIONAL_WORK,
      </if>
      <if test="taxationNo != null" >
        TAXATION_NO,
      </if>
      <if test="operateArea != null" >
        OPERATE_AREA,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="networkAddr != null" >
        NETWORK_ADDR,
      </if>
      <if test="vehicleNum != null" >
        VEHICLE_NUM,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="remove != null" >
        REMOVE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="corporateNo != null" >
        #{corporateNo,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="corporateRep != null" >
        #{corporateRep,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseIntroduce != null" >
        #{enterpriseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="registerOffice != null" >
        #{registerOffice,jdbcType=VARCHAR},
      </if>
      <if test="logonCapital != null" >
        #{logonCapital,jdbcType=DECIMAL},
      </if>
      <if test="majorBusinessRoute != null" >
        #{majorBusinessRoute,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=DATE},
      </if>
      <if test="openAccountBank != null" >
        #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="professionalWork != null" >
        #{professionalWork,jdbcType=VARCHAR},
      </if>
      <if test="taxationNo != null" >
        #{taxationNo,jdbcType=VARCHAR},
      </if>
      <if test="operateArea != null" >
        #{operateArea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkAddr != null" >
        #{networkAddr,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNum != null" >
        #{vehicleNum,jdbcType=DECIMAL},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remove != null" >
        #{remove,jdbcType=CHAR}
      </if>
    </trim>
  </insert>
  
  
  <update id="updateEnpInfo" parameterType="com.c503.sc.jxwl.vehiclemonitor.bean.EnterpriseEntity" >
    update T_ENTERPRISE
    <set >
      <if test="enterpriseName != null" >
        ENTERPRISE_NAME = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        ENTERPRISE_TYPE = #{enterpriseType,jdbcType=VARCHAR},
      </if>
      <if test="corporateRep != null" >
        CORPORATE_REP = #{corporateRep,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseIntroduce != null" >
        ENTERPRISE_INTRODUCE = #{enterpriseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="registerOffice != null" >
        REGISTER_OFFICE = #{registerOffice,jdbcType=VARCHAR},
      </if>
      <if test="logonCapital != null" >
        LOGON_CAPITAL = #{logonCapital,jdbcType=DECIMAL},
      </if>
      <if test="majorBusinessRoute != null" >
        MAJOR_BUSINESS_ROUTE = #{majorBusinessRoute,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        ESTABLISH_DATE = #{establishDate,jdbcType=DATE},
      </if>
      <if test="openAccountBank != null" >
        OPEN_ACCOUNT_BANK = #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="registrationNo != null" >
        REGISTRATION_NO = #{registrationNo,jdbcType=VARCHAR},
      </if>
      <if test="professionalWork != null" >
        PROFESSIONAL_WORK = #{professionalWork,jdbcType=VARCHAR},
      </if>
      <if test="taxationNo != null" >
        TAXATION_NO = #{taxationNo,jdbcType=VARCHAR},
      </if>
      <if test="operateArea != null" >
        OPERATE_AREA = #{operateArea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="networkAddr != null" >
        NETWORK_ADDR = #{networkAddr,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNum != null" >
        VEHICLE_NUM = #{vehicleNum,jdbcType=DECIMAL},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    <where>
      CORPORATE_NO = #{corporateNo,jdbcType=VARCHAR}
    </where>
  </update>
</mapper>
